<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.AttenRuleMapper" > 
	<resultMap type="com.mtf.framework.model.impl.AttenRuleImpl" id="attenRule"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="attenRule">
		INSERT INTO attenRule
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="dayOfWeek1 != null">
					dayOfWeek1,
				</if>
				<if test="dayOfWeek2 != null">
					dayOfWeek2,
				</if>
				<if test="dayOfWeek3 != null">
					dayOfWeek3,
				</if>
				<if test="dayOfWeek4 != null">
					dayOfWeek4,
				</if>
				<if test="dayOfWeek5 != null">
					dayOfWeek5,
				</if>
				<if test="dayOfWeek6 != null">
					dayOfWeek6,
				</if>
				<if test="dayOfWeek7 != null">
					dayOfWeek7,
				</if>
				<if test="dayOfWeek != null">
					dayOfWeek,
				</if>
				<if test="time1 != null">
					time1,
				</if>
				<if test="time2 != null">
					time2,
				</if>
				<if test="time3 != null">
					time3,
				</if>
				<if test="time4 != null">
					time4,
				</if>
				<if test="time5 != null">
					time5,
				</if>
				<if test="time6 != null">
					time6,
				</if>
				<if test="time7 != null">
					time7,
				</if>
				<if test="timeStart1 != null">
					timeStart1,
				</if>
				<if test="timeStart2 != null">
					timeStart2,
				</if>
				<if test="timeStart3 != null">
					timeStart3,
				</if>
				<if test="timeStart4 != null">
					timeStart4,
				</if>
				<if test="timeStart5 != null">
					timeStart5,
				</if>
				<if test="timeStart6 != null">
					timeStart6,
				</if>
				<if test="timeStart7 != null">
					timeStart7,
				</if>
				<if test="timeEnd1 != null">
					timeEnd1,
				</if>
				<if test="timeEnd2 != null">
					timeEnd2,
				</if>
				<if test="timeEnd3 != null">
					timeEnd3,
				</if>
				<if test="timeEnd4 != null">
					timeEnd4,
				</if>
				<if test="timeEnd5 != null">
					timeEnd5,
				</if>
				<if test="timeEnd6 != null">
					timeEnd6,
				</if>
				<if test="timeEnd7 != null">
					timeEnd7,
				</if>
				<if test="attenDayName1 != null">
					attenDayName1,
				</if>
				<if test="attenDayName2 != null">
					attenDayName2,
				</if>
				<if test="attenDayName3 != null">
					attenDayName3,
				</if>
				<if test="attenDayName4 != null">
					attenDayName4,
				</if>
				<if test="attenDayName5 != null">
					attenDayName5,
				</if>
				<if test="attenDayName6 != null">
					attenDayName6,
				</if>
				<if test="attenDayName7 != null">
					attenDayName7,
				</if>
				<if test="dayStart != null">
					dayStart,
				</if>
				<if test="dayEnd != null">
					dayEnd,
				</if>
				<if test="tagTime != null">
					tagTime,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="tag != null">
					tag,
				</if>
				<if test="tagAttendance != null">
					tagAttendance,
				</if>
				<if test="tagDefault != null">
					tagDefault,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="name != null">
					#{name},
				</if>
				<if test="dayOfWeek1 != null">
					#{dayOfWeek1},
				</if>
				<if test="dayOfWeek2 != null">
					#{dayOfWeek2},
				</if>
				<if test="dayOfWeek3 != null">
					#{dayOfWeek3},
				</if>
				<if test="dayOfWeek4 != null">
					#{dayOfWeek4},
				</if>
				<if test="dayOfWeek5 != null">
					#{dayOfWeek5},
				</if>
				<if test="dayOfWeek6 != null">
					#{dayOfWeek6},
				</if>
				<if test="dayOfWeek7 != null">
					#{dayOfWeek7},
				</if>
				<if test="dayOfWeek != null">
					#{dayOfWeek},
				</if>
				<if test="time1 != null">
					#{time1},
				</if>
				<if test="time2 != null">
					#{time2},
				</if>
				<if test="time3 != null">
					#{time3},
				</if>
				<if test="time4 != null">
					#{time4},
				</if>
				<if test="time5 != null">
					#{time5},
				</if>
				<if test="time6 != null">
					#{time6},
				</if>
				<if test="time7 != null">
					#{time7},
				</if>
				<if test="timeStart1 != null">
					#{timeStart1},
				</if>
				<if test="timeStart2 != null">
					#{timeStart2},
				</if>
				<if test="timeStart3 != null">
					#{timeStart3},
				</if>
				<if test="timeStart4 != null">
					#{timeStart4},
				</if>
				<if test="timeStart5 != null">
					#{timeStart5},
				</if>
				<if test="timeStart6 != null">
					#{timeStart6},
				</if>
				<if test="timeStart7 != null">
					#{timeStart7},
				</if>
				<if test="timeEnd1 != null">
					#{timeEnd1},
				</if>
				<if test="timeEnd2 != null">
					#{timeEnd2},
				</if>
				<if test="timeEnd3 != null">
					#{timeEnd3},
				</if>
				<if test="timeEnd4 != null">
					#{timeEnd4},
				</if>
				<if test="timeEnd5 != null">
					#{timeEnd5},
				</if>
				<if test="timeEnd6 != null">
					#{timeEnd6},
				</if>
				<if test="timeEnd7 != null">
					#{timeEnd7},
				</if>
				<if test="attenDayName1 != null">
					#{attenDayName1},
				</if>
				<if test="attenDayName2 != null">
					#{attenDayName2},
				</if>
				<if test="attenDayName3 != null">
					#{attenDayName3},
				</if>
				<if test="attenDayName4 != null">
					#{attenDayName4},
				</if>
				<if test="attenDayName5 != null">
					#{attenDayName5},
				</if>
				<if test="attenDayName6 != null">
					#{attenDayName6},
				</if>
				<if test="attenDayName7 != null">
					#{attenDayName7},
				</if>
				<if test="dayStart != null">
					#{dayStart},
				</if>
				<if test="dayEnd != null">
					#{dayEnd},
				</if>
				<if test="tagTime != null">
					#{tagTime},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="tag != null">
					#{tag},
				</if>
				<if test="tagAttendance != null">
					#{tagAttendance},
				</if>
				<if test="tagDefault != null">
					#{tagDefault},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM attenRule
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
			<if test="dayOfWeek1 != null and dayOfWeek1 != ''">
				AND dayOfWeek1 = #{dayOfWeek1}
			</if>
			<if test="dayOfWeek2 != null and dayOfWeek2 != ''">
				AND dayOfWeek2 = #{dayOfWeek2}
			</if>
			<if test="dayOfWeek3 != null and dayOfWeek3 != ''">
				AND dayOfWeek3 = #{dayOfWeek3}
			</if>
			<if test="dayOfWeek4 != null and dayOfWeek4 != ''">
				AND dayOfWeek4 = #{dayOfWeek4}
			</if>
			<if test="dayOfWeek5 != null and dayOfWeek5 != ''">
				AND dayOfWeek5 = #{dayOfWeek5}
			</if>
			<if test="dayOfWeek6 != null and dayOfWeek6 != ''">
				AND dayOfWeek6 = #{dayOfWeek6}
			</if>
			<if test="dayOfWeek7 != null and dayOfWeek7 != ''">
				AND dayOfWeek7 = #{dayOfWeek7}
			</if>
			<if test="dayOfWeek != null and dayOfWeek != ''">
				AND dayOfWeek = #{dayOfWeek}
			</if>
			<if test="time1 != null and time1 != ''">
				AND time1 = #{time1}
			</if>
			<if test="time2 != null and time2 != ''">
				AND time2 = #{time2}
			</if>
			<if test="time3 != null and time3 != ''">
				AND time3 = #{time3}
			</if>
			<if test="time4 != null and time4 != ''">
				AND time4 = #{time4}
			</if>
			<if test="time5 != null and time5 != ''">
				AND time5 = #{time5}
			</if>
			<if test="time6 != null and time6 != ''">
				AND time6 = #{time6}
			</if>
			<if test="time7 != null and time7 != ''">
				AND time7 = #{time7}
			</if>
			<if test="timeStart1 != null and timeStart1 != ''">
				AND timeStart1 = #{timeStart1}
			</if>
			<if test="timeStart2 != null and timeStart2 != ''">
				AND timeStart2 = #{timeStart2}
			</if>
			<if test="timeStart3 != null and timeStart3 != ''">
				AND timeStart3 = #{timeStart3}
			</if>
			<if test="timeStart4 != null and timeStart4 != ''">
				AND timeStart4 = #{timeStart4}
			</if>
			<if test="timeStart5 != null and timeStart5 != ''">
				AND timeStart5 = #{timeStart5}
			</if>
			<if test="timeStart6 != null and timeStart6 != ''">
				AND timeStart6 = #{timeStart6}
			</if>
			<if test="timeStart7 != null and timeStart7 != ''">
				AND timeStart7 = #{timeStart7}
			</if>
			<if test="timeEnd1 != null and timeEnd1 != ''">
				AND timeEnd1 = #{timeEnd1}
			</if>
			<if test="timeEnd2 != null and timeEnd2 != ''">
				AND timeEnd2 = #{timeEnd2}
			</if>
			<if test="timeEnd3 != null and timeEnd3 != ''">
				AND timeEnd3 = #{timeEnd3}
			</if>
			<if test="timeEnd4 != null and timeEnd4 != ''">
				AND timeEnd4 = #{timeEnd4}
			</if>
			<if test="timeEnd5 != null and timeEnd5 != ''">
				AND timeEnd5 = #{timeEnd5}
			</if>
			<if test="timeEnd6 != null and timeEnd6 != ''">
				AND timeEnd6 = #{timeEnd6}
			</if>
			<if test="timeEnd7 != null and timeEnd7 != ''">
				AND timeEnd7 = #{timeEnd7}
			</if>
			<if test="attenDayName1 != null and attenDayName1 != ''">
				AND attenDayName1 = #{attenDayName1}
			</if>
			<if test="attenDayName2 != null and attenDayName2 != ''">
				AND attenDayName2 = #{attenDayName2}
			</if>
			<if test="attenDayName3 != null and attenDayName3 != ''">
				AND attenDayName3 = #{attenDayName3}
			</if>
			<if test="attenDayName4 != null and attenDayName4 != ''">
				AND attenDayName4 = #{attenDayName4}
			</if>
			<if test="attenDayName5 != null and attenDayName5 != ''">
				AND attenDayName5 = #{attenDayName5}
			</if>
			<if test="attenDayName6 != null and attenDayName6 != ''">
				AND attenDayName6 = #{attenDayName6}
			</if>
			<if test="attenDayName7 != null and attenDayName7 != ''">
				AND attenDayName7 = #{attenDayName7}
			</if>
			<if test="dayStart != null and dayStart != ''">
				AND dayStart = #{dayStart}
			</if>
			<if test="dayEnd != null and dayEnd != ''">
				AND dayEnd = #{dayEnd}
			</if>
			<if test="tagTime != null and tagTime != ''">
				AND tagTime = #{tagTime}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="tag != null and tag != ''">
				AND tag = #{tag}
			</if>
			<if test="tagAttendance != null and tagAttendance != ''">
				AND tagAttendance = #{tagAttendance}
			</if>
			<if test="tagDefault != null and tagDefault != ''">
				AND tagDefault = #{tagDefault}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.countWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE attenRule
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="dayOfWeek1 != null and dayOfWeek1 != ''">
				dayOfWeek1 = #{dayOfWeek1},
			</if>
			<if test="dayOfWeek2 != null and dayOfWeek2 != ''">
				dayOfWeek2 = #{dayOfWeek2},
			</if>
			<if test="dayOfWeek3 != null and dayOfWeek3 != ''">
				dayOfWeek3 = #{dayOfWeek3},
			</if>
			<if test="dayOfWeek4 != null and dayOfWeek4 != ''">
				dayOfWeek4 = #{dayOfWeek4},
			</if>
			<if test="dayOfWeek5 != null and dayOfWeek5 != ''">
				dayOfWeek5 = #{dayOfWeek5},
			</if>
			<if test="dayOfWeek6 != null and dayOfWeek6 != ''">
				dayOfWeek6 = #{dayOfWeek6},
			</if>
			<if test="dayOfWeek7 != null and dayOfWeek7 != ''">
				dayOfWeek7 = #{dayOfWeek7},
			</if>
			<if test="dayOfWeek != null and dayOfWeek != ''">
				dayOfWeek = #{dayOfWeek},
			</if>
			<if test="time1 != null and time1 != ''">
				time1 = #{time1},
			</if>
			<if test="time2 != null and time2 != ''">
				time2 = #{time2},
			</if>
			<if test="time3 != null and time3 != ''">
				time3 = #{time3},
			</if>
			<if test="time4 != null and time4 != ''">
				time4 = #{time4},
			</if>
			<if test="time5 != null and time5 != ''">
				time5 = #{time5},
			</if>
			<if test="time6 != null and time6 != ''">
				time6 = #{time6},
			</if>
			<if test="time7 != null and time7 != ''">
				time7 = #{time7},
			</if>
			<if test="timeStart1 != null and timeStart1 != ''">
				timeStart1 = #{timeStart1},
			</if>
			<if test="timeStart2 != null and timeStart2 != ''">
				timeStart2 = #{timeStart2},
			</if>
			<if test="timeStart3 != null and timeStart3 != ''">
				timeStart3 = #{timeStart3},
			</if>
			<if test="timeStart4 != null and timeStart4 != ''">
				timeStart4 = #{timeStart4},
			</if>
			<if test="timeStart5 != null and timeStart5 != ''">
				timeStart5 = #{timeStart5},
			</if>
			<if test="timeStart6 != null and timeStart6 != ''">
				timeStart6 = #{timeStart6},
			</if>
			<if test="timeStart7 != null and timeStart7 != ''">
				timeStart7 = #{timeStart7},
			</if>
			<if test="timeEnd1 != null and timeEnd1 != ''">
				timeEnd1 = #{timeEnd1},
			</if>
			<if test="timeEnd2 != null and timeEnd2 != ''">
				timeEnd2 = #{timeEnd2},
			</if>
			<if test="timeEnd3 != null and timeEnd3 != ''">
				timeEnd3 = #{timeEnd3},
			</if>
			<if test="timeEnd4 != null and timeEnd4 != ''">
				timeEnd4 = #{timeEnd4},
			</if>
			<if test="timeEnd5 != null and timeEnd5 != ''">
				timeEnd5 = #{timeEnd5},
			</if>
			<if test="timeEnd6 != null and timeEnd6 != ''">
				timeEnd6 = #{timeEnd6},
			</if>
			<if test="timeEnd7 != null and timeEnd7 != ''">
				timeEnd7 = #{timeEnd7},
			</if>
			<if test="attenDayName1 != null and attenDayName1 != ''">
				attenDayName1 = #{attenDayName1},
			</if>
			<if test="attenDayName2 != null and attenDayName2 != ''">
				attenDayName2 = #{attenDayName2},
			</if>
			<if test="attenDayName3 != null and attenDayName3 != ''">
				attenDayName3 = #{attenDayName3},
			</if>
			<if test="attenDayName4 != null and attenDayName4 != ''">
				attenDayName4 = #{attenDayName4},
			</if>
			<if test="attenDayName5 != null and attenDayName5 != ''">
				attenDayName5 = #{attenDayName5},
			</if>
			<if test="attenDayName6 != null and attenDayName6 != ''">
				attenDayName6 = #{attenDayName6},
			</if>
			<if test="attenDayName7 != null and attenDayName7 != ''">
				attenDayName7 = #{attenDayName7},
			</if>
			<if test="dayStart != null and dayStart != ''">
				dayStart = #{dayStart},
			</if>
			<if test="dayEnd != null and dayEnd != ''">
				dayEnd = #{dayEnd},
			</if>
			<if test="tagTime != null and tagTime != ''">
				tagTime = #{tagTime},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="tag != null and tag != ''">
				tag = #{tag},
			</if>
			<if test="tagAttendance != null and tagAttendance != ''">
				tagAttendance = #{tagAttendance},
			</if>
			<if test="tagDefault != null and tagDefault != ''">
				tagDefault = #{tagDefault},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="attenRule">
		SELECT 
			<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.getColumn"/>
			a.id, 
			a.name, 
			a.dayOfWeek1, 
			a.dayOfWeek2, 
			a.dayOfWeek3, 
			a.dayOfWeek4, 
			a.dayOfWeek5, 
			a.dayOfWeek6, 
			a.dayOfWeek7, 
			a.dayOfWeek, 
			a.time1, 
			a.time2, 
			a.time3, 
			a.time4, 
			a.time5, 
			a.time6, 
			a.time7, 
			a.timeStart1, 
			a.timeStart2, 
			a.timeStart3, 
			a.timeStart4, 
			a.timeStart5, 
			a.timeStart6, 
			a.timeStart7, 
			a.timeEnd1, 
			a.timeEnd2, 
			a.timeEnd3, 
			a.timeEnd4, 
			a.timeEnd5, 
			a.timeEnd6, 
			a.timeEnd7, 
			a.attenDayName1, 
			a.attenDayName2, 
			a.attenDayName3, 
			a.attenDayName4, 
			a.attenDayName5, 
			a.attenDayName6, 
			a.attenDayName7, 
			a.dayStart, 
			a.dayEnd, 
			a.tagTime, 
			a.remark, 
			a.tag, 
			a.tagAttendance, 
			a.tagDefault, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM attenRule AS a
		<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="name != null">
				AND a.name = #{name}
			</if>
			<if test="dayOfWeek1 != null">
				AND a.dayOfWeek1 = #{dayOfWeek1}
			</if>
			<if test="dayOfWeek2 != null">
				AND a.dayOfWeek2 = #{dayOfWeek2}
			</if>
			<if test="dayOfWeek3 != null">
				AND a.dayOfWeek3 = #{dayOfWeek3}
			</if>
			<if test="dayOfWeek4 != null">
				AND a.dayOfWeek4 = #{dayOfWeek4}
			</if>
			<if test="dayOfWeek5 != null">
				AND a.dayOfWeek5 = #{dayOfWeek5}
			</if>
			<if test="dayOfWeek6 != null">
				AND a.dayOfWeek6 = #{dayOfWeek6}
			</if>
			<if test="dayOfWeek7 != null">
				AND a.dayOfWeek7 = #{dayOfWeek7}
			</if>
			<if test="dayOfWeek != null">
				AND a.dayOfWeek = #{dayOfWeek}
			</if>
			<if test="time1 != null">
				AND a.time1 = #{time1}
			</if>
			<if test="time2 != null">
				AND a.time2 = #{time2}
			</if>
			<if test="time3 != null">
				AND a.time3 = #{time3}
			</if>
			<if test="time4 != null">
				AND a.time4 = #{time4}
			</if>
			<if test="time5 != null">
				AND a.time5 = #{time5}
			</if>
			<if test="time6 != null">
				AND a.time6 = #{time6}
			</if>
			<if test="time7 != null">
				AND a.time7 = #{time7}
			</if>
			<if test="timeStart1 != null">
				AND a.timeStart1 = #{timeStart1}
			</if>
			<if test="timeStart2 != null">
				AND a.timeStart2 = #{timeStart2}
			</if>
			<if test="timeStart3 != null">
				AND a.timeStart3 = #{timeStart3}
			</if>
			<if test="timeStart4 != null">
				AND a.timeStart4 = #{timeStart4}
			</if>
			<if test="timeStart5 != null">
				AND a.timeStart5 = #{timeStart5}
			</if>
			<if test="timeStart6 != null">
				AND a.timeStart6 = #{timeStart6}
			</if>
			<if test="timeStart7 != null">
				AND a.timeStart7 = #{timeStart7}
			</if>
			<if test="timeEnd1 != null">
				AND a.timeEnd1 = #{timeEnd1}
			</if>
			<if test="timeEnd2 != null">
				AND a.timeEnd2 = #{timeEnd2}
			</if>
			<if test="timeEnd3 != null">
				AND a.timeEnd3 = #{timeEnd3}
			</if>
			<if test="timeEnd4 != null">
				AND a.timeEnd4 = #{timeEnd4}
			</if>
			<if test="timeEnd5 != null">
				AND a.timeEnd5 = #{timeEnd5}
			</if>
			<if test="timeEnd6 != null">
				AND a.timeEnd6 = #{timeEnd6}
			</if>
			<if test="timeEnd7 != null">
				AND a.timeEnd7 = #{timeEnd7}
			</if>
			<if test="attenDayName1 != null">
				AND a.attenDayName1 = #{attenDayName1}
			</if>
			<if test="attenDayName2 != null">
				AND a.attenDayName2 = #{attenDayName2}
			</if>
			<if test="attenDayName3 != null">
				AND a.attenDayName3 = #{attenDayName3}
			</if>
			<if test="attenDayName4 != null">
				AND a.attenDayName4 = #{attenDayName4}
			</if>
			<if test="attenDayName5 != null">
				AND a.attenDayName5 = #{attenDayName5}
			</if>
			<if test="attenDayName6 != null">
				AND a.attenDayName6 = #{attenDayName6}
			</if>
			<if test="attenDayName7 != null">
				AND a.attenDayName7 = #{attenDayName7}
			</if>
			<if test="dayStart != null">
				AND a.dayStart = #{dayStart}
			</if>
			<if test="dayEnd != null">
				AND a.dayEnd = #{dayEnd}
			</if>
			<if test="tagTime != null">
				AND a.tagTime = #{tagTime}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="tag != null">
				AND a.tag = #{tag}
			</if>
			<if test="tagAttendance != null">
				AND a.tagAttendance = #{tagAttendance}
			</if>
			<if test="tagDefault != null">
				AND a.tagDefault = #{tagDefault}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.getWhere"/>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="attenRule">
		SELECT 
			<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.selectColumn"/>
			a.id, 
			a.name, 
			a.dayOfWeek1, 
			a.dayOfWeek2, 
			a.dayOfWeek3, 
			a.dayOfWeek4, 
			a.dayOfWeek5, 
			a.dayOfWeek6, 
			a.dayOfWeek7, 
			a.dayOfWeek, 
			a.time1, 
			a.time2, 
			a.time3, 
			a.time4, 
			a.time5, 
			a.time6, 
			a.time7, 
			a.timeStart1, 
			a.timeStart2, 
			a.timeStart3, 
			a.timeStart4, 
			a.timeStart5, 
			a.timeStart6, 
			a.timeStart7, 
			a.timeEnd1, 
			a.timeEnd2, 
			a.timeEnd3, 
			a.timeEnd4, 
			a.timeEnd5, 
			a.timeEnd6, 
			a.timeEnd7, 
			a.attenDayName1, 
			a.attenDayName2, 
			a.attenDayName3, 
			a.attenDayName4, 
			a.attenDayName5, 
			a.attenDayName6, 
			a.attenDayName7, 
			a.dayStart, 
			a.dayEnd, 
			a.tagTime, 
			a.remark, 
			a.tag, 
			a.tagAttendance, 
			a.tagDefault, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM attenRule AS a
		<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.selectFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="dayOfWeek1 != null and dayOfWeek1 != ''">
				AND a.dayOfWeek1 = #{dayOfWeek1}
			</if>
			<if test="dayOfWeek2 != null and dayOfWeek2 != ''">
				AND a.dayOfWeek2 = #{dayOfWeek2}
			</if>
			<if test="dayOfWeek3 != null and dayOfWeek3 != ''">
				AND a.dayOfWeek3 = #{dayOfWeek3}
			</if>
			<if test="dayOfWeek4 != null and dayOfWeek4 != ''">
				AND a.dayOfWeek4 = #{dayOfWeek4}
			</if>
			<if test="dayOfWeek5 != null and dayOfWeek5 != ''">
				AND a.dayOfWeek5 = #{dayOfWeek5}
			</if>
			<if test="dayOfWeek6 != null and dayOfWeek6 != ''">
				AND a.dayOfWeek6 = #{dayOfWeek6}
			</if>
			<if test="dayOfWeek7 != null and dayOfWeek7 != ''">
				AND a.dayOfWeek7 = #{dayOfWeek7}
			</if>
			<if test="dayOfWeek != null and dayOfWeek != ''">
				AND a.dayOfWeek = #{dayOfWeek}
			</if>
			<if test="time1 != null and time1 != ''">
				AND a.time1 = #{time1}
			</if>
			<if test="time2 != null and time2 != ''">
				AND a.time2 = #{time2}
			</if>
			<if test="time3 != null and time3 != ''">
				AND a.time3 = #{time3}
			</if>
			<if test="time4 != null and time4 != ''">
				AND a.time4 = #{time4}
			</if>
			<if test="time5 != null and time5 != ''">
				AND a.time5 = #{time5}
			</if>
			<if test="time6 != null and time6 != ''">
				AND a.time6 = #{time6}
			</if>
			<if test="time7 != null and time7 != ''">
				AND a.time7 = #{time7}
			</if>
			<if test="timeStart1 != null and timeStart1 != ''">
				AND a.timeStart1 = #{timeStart1}
			</if>
			<if test="timeStart2 != null and timeStart2 != ''">
				AND a.timeStart2 = #{timeStart2}
			</if>
			<if test="timeStart3 != null and timeStart3 != ''">
				AND a.timeStart3 = #{timeStart3}
			</if>
			<if test="timeStart4 != null and timeStart4 != ''">
				AND a.timeStart4 = #{timeStart4}
			</if>
			<if test="timeStart5 != null and timeStart5 != ''">
				AND a.timeStart5 = #{timeStart5}
			</if>
			<if test="timeStart6 != null and timeStart6 != ''">
				AND a.timeStart6 = #{timeStart6}
			</if>
			<if test="timeStart7 != null and timeStart7 != ''">
				AND a.timeStart7 = #{timeStart7}
			</if>
			<if test="timeEnd1 != null and timeEnd1 != ''">
				AND a.timeEnd1 = #{timeEnd1}
			</if>
			<if test="timeEnd2 != null and timeEnd2 != ''">
				AND a.timeEnd2 = #{timeEnd2}
			</if>
			<if test="timeEnd3 != null and timeEnd3 != ''">
				AND a.timeEnd3 = #{timeEnd3}
			</if>
			<if test="timeEnd4 != null and timeEnd4 != ''">
				AND a.timeEnd4 = #{timeEnd4}
			</if>
			<if test="timeEnd5 != null and timeEnd5 != ''">
				AND a.timeEnd5 = #{timeEnd5}
			</if>
			<if test="timeEnd6 != null and timeEnd6 != ''">
				AND a.timeEnd6 = #{timeEnd6}
			</if>
			<if test="timeEnd7 != null and timeEnd7 != ''">
				AND a.timeEnd7 = #{timeEnd7}
			</if>
			<if test="attenDayName1 != null and attenDayName1 != ''">
				AND a.attenDayName1 = #{attenDayName1}
			</if>
			<if test="attenDayName2 != null and attenDayName2 != ''">
				AND a.attenDayName2 = #{attenDayName2}
			</if>
			<if test="attenDayName3 != null and attenDayName3 != ''">
				AND a.attenDayName3 = #{attenDayName3}
			</if>
			<if test="attenDayName4 != null and attenDayName4 != ''">
				AND a.attenDayName4 = #{attenDayName4}
			</if>
			<if test="attenDayName5 != null and attenDayName5 != ''">
				AND a.attenDayName5 = #{attenDayName5}
			</if>
			<if test="attenDayName6 != null and attenDayName6 != ''">
				AND a.attenDayName6 = #{attenDayName6}
			</if>
			<if test="attenDayName7 != null and attenDayName7 != ''">
				AND a.attenDayName7 = #{attenDayName7}
			</if>
			<if test="dayStart != null and dayStart != ''">
				AND a.dayStart = #{dayStart}
			</if>
			<if test="dayEnd != null and dayEnd != ''">
				AND a.dayEnd = #{dayEnd}
			</if>
			<if test="tagTime != null and tagTime != ''">
				AND a.tagTime = #{tagTime}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="tagAttendance != null and tagAttendance != ''">
				AND a.tagAttendance = #{tagAttendance}
			</if>
			<if test="tagDefault != null and tagDefault != ''">
				AND a.tagDefault = #{tagDefault}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.selectWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM attenRule AS a
		<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.countFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="dayOfWeek1 != null and dayOfWeek1 != ''">
				AND a.dayOfWeek1 = #{dayOfWeek1}
			</if>
			<if test="dayOfWeek2 != null and dayOfWeek2 != ''">
				AND a.dayOfWeek2 = #{dayOfWeek2}
			</if>
			<if test="dayOfWeek3 != null and dayOfWeek3 != ''">
				AND a.dayOfWeek3 = #{dayOfWeek3}
			</if>
			<if test="dayOfWeek4 != null and dayOfWeek4 != ''">
				AND a.dayOfWeek4 = #{dayOfWeek4}
			</if>
			<if test="dayOfWeek5 != null and dayOfWeek5 != ''">
				AND a.dayOfWeek5 = #{dayOfWeek5}
			</if>
			<if test="dayOfWeek6 != null and dayOfWeek6 != ''">
				AND a.dayOfWeek6 = #{dayOfWeek6}
			</if>
			<if test="dayOfWeek7 != null and dayOfWeek7 != ''">
				AND a.dayOfWeek7 = #{dayOfWeek7}
			</if>
			<if test="dayOfWeek != null and dayOfWeek != ''">
				AND a.dayOfWeek = #{dayOfWeek}
			</if>
			<if test="time1 != null and time1 != ''">
				AND a.time1 = #{time1}
			</if>
			<if test="time2 != null and time2 != ''">
				AND a.time2 = #{time2}
			</if>
			<if test="time3 != null and time3 != ''">
				AND a.time3 = #{time3}
			</if>
			<if test="time4 != null and time4 != ''">
				AND a.time4 = #{time4}
			</if>
			<if test="time5 != null and time5 != ''">
				AND a.time5 = #{time5}
			</if>
			<if test="time6 != null and time6 != ''">
				AND a.time6 = #{time6}
			</if>
			<if test="time7 != null and time7 != ''">
				AND a.time7 = #{time7}
			</if>
			<if test="timeStart1 != null and timeStart1 != ''">
				AND a.timeStart1 = #{timeStart1}
			</if>
			<if test="timeStart2 != null and timeStart2 != ''">
				AND a.timeStart2 = #{timeStart2}
			</if>
			<if test="timeStart3 != null and timeStart3 != ''">
				AND a.timeStart3 = #{timeStart3}
			</if>
			<if test="timeStart4 != null and timeStart4 != ''">
				AND a.timeStart4 = #{timeStart4}
			</if>
			<if test="timeStart5 != null and timeStart5 != ''">
				AND a.timeStart5 = #{timeStart5}
			</if>
			<if test="timeStart6 != null and timeStart6 != ''">
				AND a.timeStart6 = #{timeStart6}
			</if>
			<if test="timeStart7 != null and timeStart7 != ''">
				AND a.timeStart7 = #{timeStart7}
			</if>
			<if test="timeEnd1 != null and timeEnd1 != ''">
				AND a.timeEnd1 = #{timeEnd1}
			</if>
			<if test="timeEnd2 != null and timeEnd2 != ''">
				AND a.timeEnd2 = #{timeEnd2}
			</if>
			<if test="timeEnd3 != null and timeEnd3 != ''">
				AND a.timeEnd3 = #{timeEnd3}
			</if>
			<if test="timeEnd4 != null and timeEnd4 != ''">
				AND a.timeEnd4 = #{timeEnd4}
			</if>
			<if test="timeEnd5 != null and timeEnd5 != ''">
				AND a.timeEnd5 = #{timeEnd5}
			</if>
			<if test="timeEnd6 != null and timeEnd6 != ''">
				AND a.timeEnd6 = #{timeEnd6}
			</if>
			<if test="timeEnd7 != null and timeEnd7 != ''">
				AND a.timeEnd7 = #{timeEnd7}
			</if>
			<if test="attenDayName1 != null and attenDayName1 != ''">
				AND a.attenDayName1 = #{attenDayName1}
			</if>
			<if test="attenDayName2 != null and attenDayName2 != ''">
				AND a.attenDayName2 = #{attenDayName2}
			</if>
			<if test="attenDayName3 != null and attenDayName3 != ''">
				AND a.attenDayName3 = #{attenDayName3}
			</if>
			<if test="attenDayName4 != null and attenDayName4 != ''">
				AND a.attenDayName4 = #{attenDayName4}
			</if>
			<if test="attenDayName5 != null and attenDayName5 != ''">
				AND a.attenDayName5 = #{attenDayName5}
			</if>
			<if test="attenDayName6 != null and attenDayName6 != ''">
				AND a.attenDayName6 = #{attenDayName6}
			</if>
			<if test="attenDayName7 != null and attenDayName7 != ''">
				AND a.attenDayName7 = #{attenDayName7}
			</if>
			<if test="dayStart != null and dayStart != ''">
				AND a.dayStart = #{dayStart}
			</if>
			<if test="dayEnd != null and dayEnd != ''">
				AND a.dayEnd = #{dayEnd}
			</if>
			<if test="tagTime != null and tagTime != ''">
				AND a.tagTime = #{tagTime}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="tagAttendance != null and tagAttendance != ''">
				AND a.tagAttendance = #{tagAttendance}
			</if>
			<if test="tagDefault != null and tagDefault != ''">
				AND a.tagDefault = #{tagDefault}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenRuleConditionMapper.countWhere"/>
		</where>
	</select>
</mapper>