<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.AttenVacateRuleMapper" > 
	<resultMap type="com.mtf.framework.model.impl.AttenVacateRuleImpl" id="attenVacateRule"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="attenVacateRule">
		INSERT INTO attenVacateRule
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="idAttenVacate != null">
					idAttenVacate,
				</if>
				<if test="userId != null">
					userId,
				</if>
				<if test="duration != null">
					duration,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="tag != null">
					tag,
				</if>
				<if test="tagScope != null">
					tagScope,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="name != null">
					#{name},
				</if>
				<if test="idAttenVacate != null">
					#{idAttenVacate},
				</if>
				<if test="userId != null">
					#{userId},
				</if>
				<if test="duration != null">
					#{duration},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="tag != null">
					#{tag},
				</if>
				<if test="tagScope != null">
					#{tagScope},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM attenVacateRule
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
			<if test="idAttenVacate != null and idAttenVacate != ''">
				AND idAttenVacate = #{idAttenVacate}
			</if>
			<if test="userId != null and userId != ''">
				AND userId = #{userId}
			</if>
			<if test="duration != null and duration != ''">
				AND duration = #{duration}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="tag != null and tag != ''">
				AND tag = #{tag}
			</if>
			<if test="tagScope != null and tagScope != ''">
				AND tagScope = #{tagScope}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.countWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE attenVacateRule
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="idAttenVacate != null and idAttenVacate != ''">
				idAttenVacate = #{idAttenVacate},
			</if>
			<if test="userId != null and userId != ''">
				userId = #{userId},
			</if>
			<if test="duration != null and duration != ''">
				duration = #{duration},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="tag != null and tag != ''">
				tag = #{tag},
			</if>
			<if test="tagScope != null and tagScope != ''">
				tagScope = #{tagScope},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="attenVacateRule">
		SELECT 
			<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.getColumn"/>
			a.id, 
			a.name, 
			a.idAttenVacate, 
			a.userId, 
			a.duration, 
			a.remark, 
			a.tag, 
			a.tagScope, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM attenVacateRule AS a
		<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="name != null">
				AND a.name = #{name}
			</if>
			<if test="idAttenVacate != null">
				AND a.idAttenVacate = #{idAttenVacate}
			</if>
			<if test="userId != null">
				AND a.userId = #{userId}
			</if>
			<if test="duration != null">
				AND a.duration = #{duration}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="tag != null">
				AND a.tag = #{tag}
			</if>
			<if test="tagScope != null">
				AND a.tagScope = #{tagScope}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.getWhere"/>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="attenVacateRule">
		SELECT 
			<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.selectColumn"/>
			a.id, 
			a.name, 
			a.idAttenVacate, 
			a.userId, 
			a.duration, 
			a.remark, 
			a.tag, 
			a.tagScope, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM attenVacateRule AS a
		<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.selectFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="idAttenVacate != null and idAttenVacate != ''">
				AND a.idAttenVacate = #{idAttenVacate}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="duration != null and duration != ''">
				AND a.duration = #{duration}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="tagScope != null and tagScope != ''">
				AND a.tagScope = #{tagScope}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.selectWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM attenVacateRule AS a
		<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.countFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="idAttenVacate != null and idAttenVacate != ''">
				AND a.idAttenVacate = #{idAttenVacate}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="duration != null and duration != ''">
				AND a.duration = #{duration}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="tagScope != null and tagScope != ''">
				AND a.tagScope = #{tagScope}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenVacateRuleConditionMapper.countWhere"/>
		</where>
	</select>
</mapper>