<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.AttMonitorLogConditionMapper" > 
	<resultMap type="com.mtf.framework.model.impl.AttMonitorLogImpl" id="attMonitorLog"/> 

	<sql id="getColumn">
		
	</sql>

	<sql id="getFrom">
		
	</sql>

	<sql id="selectColumn">
		
	</sql>

	<sql id="selectFrom">
		
	</sql>

	<sql id="selectWhere">
		
	</sql>

	<sql id="countFrom">
		
	</sql>

	<sql id="countWhere">
		
	</sql>


	<!-- 查询实体对象集合 -->
	<!-- <select id="searchMonitorCollection" parameterType="java.lang.Object" resultMap="attMonitorLog">
		SELECT 
			a.`name` AS userName, 
			a.badgenumber,
		
			MAX(h.dayOfWeek0) AS dayOfWeek0,
			MAX(h.dayOfWeek1) AS dayOfWeek1,
			MAX(h.dayOfWeek2) AS dayOfWeek2,
			MAX(h.dayOfWeek3) AS dayOfWeek3,
			MAX(h.dayOfWeek4) AS dayOfWeek4,
			MAX(h.dayOfWeek5) AS dayOfWeek5,
			MAX(h.dayOfWeek6) AS dayOfWeek6,
		
			d.displayName,
			d.badgenumber,
			
			e.userId,
			e.roleId,
			
			f.`code`,
			g.`code`,
			g.parentCode,
			
			MAX(g.value1),
		
			e.id,
		
			f.id,
		
			g.value1,
			
			b.pin, 
			b.time,
		
			DAY(b.time) AS day, 
			MIN(b.time) AS timeStart, 
			MAX(b.time) AS timeEnd, 
			MONTH(b.time) AS dateMonth, 
			DATE(b.time) AS date, DATE(NOW()) AS addDate, 
			dayofweek(b.time) AS dateWeek, 
			time(MIN(b.time)) AS dayStart, 
			time(MAX(b.time)) AS dayEnd, 
			TIMEDIFF(MAX(b.time), MIN(b.time)) AS timeWork, 
		
			CASE WHEN time(MIN(b.time)) > time('09:11:00')THEN 'la'ELSE 'no' END AS late, 
			CASE WHEN time(MAX(b.time)) < time('17:49:00')THEN 'le'ELSE 'no'END AS leaveEarly,
		
			CASE WHEN time(MIN(b.time)) > time('09:11:00') AND time(MAX(b.time)) < time('17:49:00')
			THEN 
				'lale'
			WHEN time(MIN(b.time)) > time('09:11:00')
			THEN 
				'la'
			WHEN time(MAX(b.time)) < time('17:49:00')
			THEN 
				'le'
			ELSE 'no' 
			END AS statusAttendance,
		
			c.`name` AS festivelName, 
			c.loopYear, 
			c.typeDate,
		
			a.Card
		FROM zkeco_db.userinfo AS a
		LEFT JOIN (SELECT b1.pin, b1.time FROM zkeco_db.acc_monitor_log AS b1 WHERE DATE(b1.time) = DATE('2015-04-29')) AS b ON (b.pin = a.badgenumber)
		LEFT JOIN attenFestival AS c ON (c.day = DATE_FORMAT(b.time, '%m-%d') AND c.tag = 'd')
		LEFT JOIN `user` AS d ON d.badgenumber = a.badgenumber
		LEFT JOIN userRole AS e ON e.userId = d.id
		LEFT JOIN rolePermission AS f ON f.roleId = e.roleId
		LEFT JOIN (SELECT g1.`code`, g1.value1, g1.parentCode FROM permission AS g1 WHERE g1.parentCode = '1610000') AS g ON g.`code` = f.`code` 
		LEFT JOIN attenRule AS h ON h.id = g.value1
		WHERE d.`status` = '0'
		GROUP BY a.badgenumber
	</select> -->
</mapper>