<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtf.framework.dao.Category2UserMapper" >
	<resultMap id="BaseResultMap" type="com.mtf.framework.model.Category2User" >
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="categoryId" property="categoryId" jdbcType="INTEGER" />
		<result column="userId" property="userId" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List" >
		id, categoryId, userId
	</sql>
	<insert id="insert" parameterType="com.mtf.framework.model.Category2User" >
		INSERT INTO categoryUser (id, categoryId, userId)
		VALUES (#{id,jdbcType=CHAR}, #{categoryId,jdbcType=INTEGER}, #{userId,jdbcType=CHAR})
	</insert>
	<delete id="deleteById" parameterType="java.lang.String" >
		DELETE FROM categoryUser
		WHERE id = #{id,jdbcType=CHAR}
	</delete>
	<delete id="deleteByCategoryId" parameterType="java.lang.Integer" >
		DELETE FROM categoryUser
		WHERE categoryId = #{categoryId,jdbcType=INTEGER}
	</delete>
</mapper>