<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.ContractMapper" > 
	<resultMap type="com.mtf.framework.model.impl.ContractImpl" id="contract"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="contract">
		INSERT INTO contract
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="contractNo != null">
					contractNo,
				</if>
				<if test="addDateContract != null">
					addDateContract,
				</if>
				<if test="modified != null">
					modified,
				</if>
				<if test="flag != null">
					flag,
				</if>
				<if test="sellerId != null">
					sellerId,
				</if>
				<if test="sellerName != null">
					sellerName,
				</if>
				<if test="buyerId != null">
					buyerId,
				</if>
				<if test="buyerName != null">
					buyerName,
				</if>
				<if test="buyerAddressId != null">
					buyerAddressId,
				</if>
				<if test="buyerAddress != null">
					buyerAddress,
				</if>
				<if test="sellerAddressId != null">
					sellerAddressId,
				</if>
				<if test="sellerAddress != null">
					sellerAddress,
				</if>
				<if test="totalValue != null">
					totalValue,
				</if>
				<if test="origin != null">
					origin,
				</if>
				<if test="manufacturers != null">
					manufacturers,
				</if>
				<if test="deliveryTo != null">
					deliveryTo,
				</if>
				<if test="deliveryDate != null">
					deliveryDate,
				</if>
				<if test="termsOfPayment != null">
					termsOfPayment,
				</if>
				<if test="insuranceAndFees != null">
					insuranceAndFees,
				</if>
				<if test="shippingMarks != null">
					shippingMarks,
				</if>
				<if test="qualityAndTechnicalStandard != null">
					qualityAndTechnicalStandard,
				</if>
				<if test="inspection != null">
					inspection,
				</if>
				<if test="transportationAndFees != null">
					transportationAndFees,
				</if>
				<if test="shipment != null">
					shipment,
				</if>
				<if test="insurance != null">
					insurance,
				</if>
				<if test="signedAt != null">
					signedAt,
				</if>
				<if test="destination != null">
					destination,
				</if>
				<if test="packing != null">
					packing,
				</if>
				<if test="transportaion != null">
					transportaion,
				</if>
				<if test="otherTerms != null">
					otherTerms,
				</if>
				<if test="approveState != null">
					approveState,
				</if>
				<if test="approver0 != null">
					approver0,
				</if>
				<if test="approverDate0 != null">
					approverDate0,
				</if>
				<if test="approver1 != null">
					approver1,
				</if>
				<if test="approverDate1 != null">
					approverDate1,
				</if>
				<if test="approver2 != null">
					approver2,
				</if>
				<if test="approverDate2 != null">
					approverDate2,
				</if>
				<if test="approver3 != null">
					approver3,
				</if>
				<if test="approverDate3 != null">
					approverDate3,
				</if>
				<if test="accData != null">
					accData,
				</if>
				<if test="accDepartment != null">
					accDepartment,
				</if>
				<if test="accProductionUnit != null">
					accProductionUnit,
				</if>
				<if test="accContractNo != null">
					accContractNo,
				</if>
				<if test="accTradeName != null">
					accTradeName,
				</if>
				<if test="accCustomer != null">
					accCustomer,
				</if>
				<if test="accStyleNumber != null">
					accStyleNumber,
				</if>
				<if test="accSpecification != null">
					accSpecification,
				</if>
				<if test="accUnit != null">
					accUnit,
				</if>
				<if test="accTotalAmount != null">
					accTotalAmount,
				</if>
				<if test="accRawMaterialTotalAmount != null">
					accRawMaterialTotalAmount,
				</if>
				<if test="accPackagingTotalAmount != null">
					accPackagingTotalAmount,
				</if>
				<if test="accProcessCost != null">
					accProcessCost,
				</if>
				<if test="accTotalCost != null">
					accTotalCost,
				</if>
				<if test="accRemark != null">
					accRemark,
				</if>
				<if test="accCIF != null">
					accCIF,
				</if>
				<if test="accI != null">
					accI,
				</if>
				<if test="accFOB != null">
					accFOB,
				</if>
				<if test="accDrawBack != null">
					accDrawBack,
				</if>
				<if test="accOreignExchangeRate != null">
					accOreignExchangeRate,
				</if>
				<if test="accOtherIncome != null">
					accOtherIncome,
				</if>
				<if test="accTotalIncome != null">
					accTotalIncome,
				</if>
				<if test="accRawMaterialCost != null">
					accRawMaterialCost,
				</if>
				<if test="accPackagingCost != null">
					accPackagingCost,
				</if>
				<if test="accOtherCost != null">
					accOtherCost,
				</if>
				<if test="accOtherExpense != null">
					accOtherExpense,
				</if>
				<if test="accIndirectCost != null">
					accIndirectCost,
				</if>
				<if test="accTotalProductCost != null">
					accTotalProductCost,
				</if>
				<if test="accProfit != null">
					accProfit,
				</if>
				<if test="accF != null">
					accF,
				</if>
				<if test="accProcessFeeCost != null">
					accProcessFeeCost,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
				<if test="approver != null">
					approver,
				</if>
				<if test="approverDate != null">
					approverDate,
				</if>
				<if test="contractType != null">
					contractType,
				</if>
				<if test="additionalProvisions != null">
					additionalProvisions,
				</if>
				<if test="rejectReason != null">
					rejectReason,
				</if>
				<if test="percentage != null">
					percentage,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="masterContractNo != null">
					masterContractNo,
				</if>
				<if test="approverId != null">
					approverId,
				</if>
				<if test="accRMB != null">
					accRMB,
				</if>
				<if test="approverId0 != null">
					approverId0,
				</if>
				<if test="approverId1 != null">
					approverId1,
				</if>
				<if test="approverId2 != null">
					approverId2,
				</if>
				<if test="approverId3 != null">
					approverId3,
				</if>
				<if test="finalApprover != null">
					finalApprover,
				</if>
				<if test="approveReason != null">
					approveReason,
				</if>
				<if test="processCost != null">
					processCost,
				</if>
				<if test="currencyType != null">
					currencyType,
				</if>
				<if test="agentPoundage != null">
					agentPoundage,
				</if>
				<if test="breachPoundage != null">
					breachPoundage,
				</if>
				<if test="penalty != null">
					penalty,
				</if>
				<if test="actualRecipient != null">
					actualRecipient,
				</if>
				<if test="trusteeLegal != null">
					trusteeLegal,
				</if>
				<if test="clientLegal != null">
					clientLegal,
				</if>
				<if test="drawbackRecipient != null">
					drawbackRecipient,
				</if>
				<if test="signature != null">
					signature,
				</if>
				<if test="cachet != null">
					cachet,
				</if>
				<if test="version != null">
					version,
				</if>
				<if test="flgHistory != null">
					flgHistory,
				</if>
				<if test="superId != null">
					superId,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="contractNo != null">
					#{contractNo},
				</if>
				<if test="addDateContract != null">
					#{addDateContract},
				</if>
				<if test="modified != null">
					#{modified},
				</if>
				<if test="flag != null">
					#{flag},
				</if>
				<if test="sellerId != null">
					#{sellerId},
				</if>
				<if test="sellerName != null">
					#{sellerName},
				</if>
				<if test="buyerId != null">
					#{buyerId},
				</if>
				<if test="buyerName != null">
					#{buyerName},
				</if>
				<if test="buyerAddressId != null">
					#{buyerAddressId},
				</if>
				<if test="buyerAddress != null">
					#{buyerAddress},
				</if>
				<if test="sellerAddressId != null">
					#{sellerAddressId},
				</if>
				<if test="sellerAddress != null">
					#{sellerAddress},
				</if>
				<if test="totalValue != null">
					#{totalValue},
				</if>
				<if test="origin != null">
					#{origin},
				</if>
				<if test="manufacturers != null">
					#{manufacturers},
				</if>
				<if test="deliveryTo != null">
					#{deliveryTo},
				</if>
				<if test="deliveryDate != null">
					#{deliveryDate},
				</if>
				<if test="termsOfPayment != null">
					#{termsOfPayment},
				</if>
				<if test="insuranceAndFees != null">
					#{insuranceAndFees},
				</if>
				<if test="shippingMarks != null">
					#{shippingMarks},
				</if>
				<if test="qualityAndTechnicalStandard != null">
					#{qualityAndTechnicalStandard},
				</if>
				<if test="inspection != null">
					#{inspection},
				</if>
				<if test="transportationAndFees != null">
					#{transportationAndFees},
				</if>
				<if test="shipment != null">
					#{shipment},
				</if>
				<if test="insurance != null">
					#{insurance},
				</if>
				<if test="signedAt != null">
					#{signedAt},
				</if>
				<if test="destination != null">
					#{destination},
				</if>
				<if test="packing != null">
					#{packing},
				</if>
				<if test="transportaion != null">
					#{transportaion},
				</if>
				<if test="otherTerms != null">
					#{otherTerms},
				</if>
				<if test="approveState != null">
					#{approveState},
				</if>
				<if test="approver0 != null">
					#{approver0},
				</if>
				<if test="approverDate0 != null">
					#{approverDate0},
				</if>
				<if test="approver1 != null">
					#{approver1},
				</if>
				<if test="approverDate1 != null">
					#{approverDate1},
				</if>
				<if test="approver2 != null">
					#{approver2},
				</if>
				<if test="approverDate2 != null">
					#{approverDate2},
				</if>
				<if test="approver3 != null">
					#{approver3},
				</if>
				<if test="approverDate3 != null">
					#{approverDate3},
				</if>
				<if test="accData != null">
					#{accData},
				</if>
				<if test="accDepartment != null">
					#{accDepartment},
				</if>
				<if test="accProductionUnit != null">
					#{accProductionUnit},
				</if>
				<if test="accContractNo != null">
					#{accContractNo},
				</if>
				<if test="accTradeName != null">
					#{accTradeName},
				</if>
				<if test="accCustomer != null">
					#{accCustomer},
				</if>
				<if test="accStyleNumber != null">
					#{accStyleNumber},
				</if>
				<if test="accSpecification != null">
					#{accSpecification},
				</if>
				<if test="accUnit != null">
					#{accUnit},
				</if>
				<if test="accTotalAmount != null">
					#{accTotalAmount},
				</if>
				<if test="accRawMaterialTotalAmount != null">
					#{accRawMaterialTotalAmount},
				</if>
				<if test="accPackagingTotalAmount != null">
					#{accPackagingTotalAmount},
				</if>
				<if test="accProcessCost != null">
					#{accProcessCost},
				</if>
				<if test="accTotalCost != null">
					#{accTotalCost},
				</if>
				<if test="accRemark != null">
					#{accRemark},
				</if>
				<if test="accCIF != null">
					#{accCIF},
				</if>
				<if test="accI != null">
					#{accI},
				</if>
				<if test="accFOB != null">
					#{accFOB},
				</if>
				<if test="accDrawBack != null">
					#{accDrawBack},
				</if>
				<if test="accOreignExchangeRate != null">
					#{accOreignExchangeRate},
				</if>
				<if test="accOtherIncome != null">
					#{accOtherIncome},
				</if>
				<if test="accTotalIncome != null">
					#{accTotalIncome},
				</if>
				<if test="accRawMaterialCost != null">
					#{accRawMaterialCost},
				</if>
				<if test="accPackagingCost != null">
					#{accPackagingCost},
				</if>
				<if test="accOtherCost != null">
					#{accOtherCost},
				</if>
				<if test="accOtherExpense != null">
					#{accOtherExpense},
				</if>
				<if test="accIndirectCost != null">
					#{accIndirectCost},
				</if>
				<if test="accTotalProductCost != null">
					#{accTotalProductCost},
				</if>
				<if test="accProfit != null">
					#{accProfit},
				</if>
				<if test="accF != null">
					#{accF},
				</if>
				<if test="accProcessFeeCost != null">
					#{accProcessFeeCost},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
				<if test="approver != null">
					#{approver},
				</if>
				<if test="approverDate != null">
					#{approverDate},
				</if>
				<if test="contractType != null">
					#{contractType},
				</if>
				<if test="additionalProvisions != null">
					#{additionalProvisions},
				</if>
				<if test="rejectReason != null">
					#{rejectReason},
				</if>
				<if test="percentage != null">
					#{percentage},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="masterContractNo != null">
					#{masterContractNo},
				</if>
				<if test="approverId != null">
					#{approverId},
				</if>
				<if test="accRMB != null">
					#{accRMB},
				</if>
				<if test="approverId0 != null">
					#{approverId0},
				</if>
				<if test="approverId1 != null">
					#{approverId1},
				</if>
				<if test="approverId2 != null">
					#{approverId2},
				</if>
				<if test="approverId3 != null">
					#{approverId3},
				</if>
				<if test="finalApprover != null">
					#{finalApprover},
				</if>
				<if test="approveReason != null">
					#{approveReason},
				</if>
				<if test="processCost != null">
					#{processCost},
				</if>
				<if test="currencyType != null">
					#{currencyType},
				</if>
				<if test="agentPoundage != null">
					#{agentPoundage},
				</if>
				<if test="breachPoundage != null">
					#{breachPoundage},
				</if>
				<if test="penalty != null">
					#{penalty},
				</if>
				<if test="actualRecipient != null">
					#{actualRecipient},
				</if>
				<if test="trusteeLegal != null">
					#{trusteeLegal},
				</if>
				<if test="clientLegal != null">
					#{clientLegal},
				</if>
				<if test="drawbackRecipient != null">
					#{drawbackRecipient},
				</if>
				<if test="signature != null">
					#{signature},
				</if>
				<if test="cachet != null">
					#{cachet},
				</if>
				<if test="version != null">
					#{version},
				</if>
				<if test="flgHistory != null">
					#{flgHistory},
				</if>
				<if test="superId != null">
					#{superId},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM contract
		WHERE
			id = #{id}
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE contract
			<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="contractNo != null">
				contractNo = #{contractNo},
			</if>
			<if test="addDateContract != null">
				addDateContract = #{addDateContract},
			</if>
			<if test="modified != null">
				modified = #{modified},
			</if>
			<if test="flag != null">
				flag = #{flag},
			</if>
			<if test="sellerId != null">
				sellerId = #{sellerId},
			</if>
			<if test="sellerName != null">
				sellerName = #{sellerName},
			</if>
			<if test="buyerId != null">
				buyerId = #{buyerId},
			</if>
			<if test="buyerName != null">
				buyerName = #{buyerName},
			</if>
			<if test="buyerAddressId != null">
				buyerAddressId = #{buyerAddressId},
			</if>
			<if test="buyerAddress != null">
				buyerAddress = #{buyerAddress},
			</if>
			<if test="sellerAddressId != null">
				sellerAddressId = #{sellerAddressId},
			</if>
			<if test="sellerAddress != null">
				sellerAddress = #{sellerAddress},
			</if>
			<if test="totalValue != null">
				totalValue = #{totalValue},
			</if>
			<if test="origin != null">
				origin = #{origin},
			</if>
			<if test="manufacturers != null">
				manufacturers = #{manufacturers},
			</if>
			<if test="deliveryTo != null">
				deliveryTo = #{deliveryTo},
			</if>
			<if test="deliveryDate != null">
				deliveryDate = #{deliveryDate},
			</if>
			<if test="termsOfPayment != null">
				termsOfPayment = #{termsOfPayment},
			</if>
			<if test="insuranceAndFees != null">
				insuranceAndFees = #{insuranceAndFees},
			</if>
			<if test="shippingMarks != null">
				shippingMarks = #{shippingMarks},
			</if>
			<if test="qualityAndTechnicalStandard != null">
				qualityAndTechnicalStandard = #{qualityAndTechnicalStandard},
			</if>
			<if test="inspection != null">
				inspection = #{inspection},
			</if>
			<if test="transportationAndFees != null">
				transportationAndFees = #{transportationAndFees},
			</if>
			<if test="shipment != null">
				shipment = #{shipment},
			</if>
			<if test="insurance != null">
				insurance = #{insurance},
			</if>
			<if test="signedAt != null">
				signedAt = #{signedAt},
			</if>
			<if test="destination != null">
				destination = #{destination},
			</if>
			<if test="packing != null">
				packing = #{packing},
			</if>
			<if test="transportaion != null">
				transportaion = #{transportaion},
			</if>
			<if test="otherTerms != null">
				otherTerms = #{otherTerms},
			</if>
			<if test="approveState != null">
				approveState = #{approveState},
			</if>
			<if test="approver0 != null">
				approver0 = #{approver0},
			</if>
			<if test="approverDate0 != null">
				approverDate0 = #{approverDate0},
			</if>
			<if test="approver1 != null">
				approver1 = #{approver1},
			</if>
			<if test="approverDate1 != null">
				approverDate1 = #{approverDate1},
			</if>
			<if test="approver2 != null">
				approver2 = #{approver2},
			</if>
			<if test="approverDate2 != null">
				approverDate2 = #{approverDate2},
			</if>
			<if test="approver3 != null">
				approver3 = #{approver3},
			</if>
			<if test="approverDate3 != null">
				approverDate3 = #{approverDate3},
			</if>
			<if test="accData != null">
				accData = #{accData},
			</if>
			<if test="accDepartment != null">
				accDepartment = #{accDepartment},
			</if>
			<if test="accProductionUnit != null">
				accProductionUnit = #{accProductionUnit},
			</if>
			<if test="accContractNo != null">
				accContractNo = #{accContractNo},
			</if>
			<if test="accTradeName != null">
				accTradeName = #{accTradeName},
			</if>
			<if test="accCustomer != null">
				accCustomer = #{accCustomer},
			</if>
			<if test="accStyleNumber != null">
				accStyleNumber = #{accStyleNumber},
			</if>
			<if test="accSpecification != null">
				accSpecification = #{accSpecification},
			</if>
			<if test="accUnit != null">
				accUnit = #{accUnit},
			</if>
			<if test="accTotalAmount != null">
				accTotalAmount = #{accTotalAmount},
			</if>
			<if test="accRawMaterialTotalAmount != null">
				accRawMaterialTotalAmount = #{accRawMaterialTotalAmount},
			</if>
			<if test="accPackagingTotalAmount != null">
				accPackagingTotalAmount = #{accPackagingTotalAmount},
			</if>
			<if test="accProcessCost != null">
				accProcessCost = #{accProcessCost},
			</if>
			<if test="accTotalCost != null">
				accTotalCost = #{accTotalCost},
			</if>
			<if test="accRemark != null">
				accRemark = #{accRemark},
			</if>
			<if test="accCIF != null">
				accCIF = #{accCIF},
			</if>
			<if test="accI != null">
				accI = #{accI},
			</if>
			<if test="accFOB != null">
				accFOB = #{accFOB},
			</if>
			<if test="accDrawBack != null">
				accDrawBack = #{accDrawBack},
			</if>
			<if test="accOreignExchangeRate != null">
				accOreignExchangeRate = #{accOreignExchangeRate},
			</if>
			<if test="accOtherIncome != null">
				accOtherIncome = #{accOtherIncome},
			</if>
			<if test="accTotalIncome != null">
				accTotalIncome = #{accTotalIncome},
			</if>
			<if test="accRawMaterialCost != null">
				accRawMaterialCost = #{accRawMaterialCost},
			</if>
			<if test="accPackagingCost != null">
				accPackagingCost = #{accPackagingCost},
			</if>
			<if test="accOtherCost != null">
				accOtherCost = #{accOtherCost},
			</if>
			<if test="accOtherExpense != null">
				accOtherExpense = #{accOtherExpense},
			</if>
			<if test="accIndirectCost != null">
				accIndirectCost = #{accIndirectCost},
			</if>
			<if test="accTotalProductCost != null">
				accTotalProductCost = #{accTotalProductCost},
			</if>
			<if test="accProfit != null">
				accProfit = #{accProfit},
			</if>
			<if test="accF != null">
				accF = #{accF},
			</if>
			<if test="accProcessFeeCost != null">
				accProcessFeeCost = #{accProcessFeeCost},
			</if>
			<if test="addUser != null">
				addUser = #{addUser},
			</if>
			<if test="addDate != null">
				addDate = #{addDate},
			</if>
			<if test="addIp != null">
				addIp = #{addIp},
			</if>
			<if test="modifiedUser != null">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedDate != null">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedIp != null">
				modifiedIp = #{modifiedIp},
			</if>
			<if test="approver != null">
				approver = #{approver},
			</if>
			<if test="approverDate != null">
				approverDate = #{approverDate},
			</if>
			<if test="contractType != null">
				contractType = #{contractType},
			</if>
			<if test="additionalProvisions != null">
				additionalProvisions = #{additionalProvisions},
			</if>
			<if test="rejectReason != null">
				rejectReason = #{rejectReason},
			</if>
			<if test="percentage != null">
				percentage = #{percentage},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="masterContractNo != null">
				masterContractNo = #{masterContractNo},
			</if>
			<if test="approverId != null">
				approverId = #{approverId},
			</if>
			<if test="accRMB != null">
				accRMB = #{accRMB},
			</if>
			<if test="approverId0 != null">
				approverId0 = #{approverId0},
			</if>
			<if test="approverId1 != null">
				approverId1 = #{approverId1},
			</if>
			<if test="approverId2 != null">
				approverId2 = #{approverId2},
			</if>
			<if test="approverId3 != null">
				approverId3 = #{approverId3},
			</if>
			<if test="finalApprover != null">
				finalApprover = #{finalApprover},
			</if>
			<if test="approveReason != null">
				approveReason = #{approveReason},
			</if>
			<if test="processCost != null">
				processCost = #{processCost},
			</if>
			<if test="currencyType != null">
				currencyType = #{currencyType},
			</if>
			<if test="agentPoundage != null">
				agentPoundage = #{agentPoundage},
			</if>
			<if test="breachPoundage != null">
				breachPoundage = #{breachPoundage},
			</if>
			<if test="penalty != null">
				penalty = #{penalty},
			</if>
			<if test="actualRecipient != null">
				actualRecipient = #{actualRecipient},
			</if>
			<if test="drawbackRecipient != null">
				drawbackRecipient = #{drawbackRecipient},
			</if>
			<if test="signature != null">
				signature = #{signature},
			</if>
			<if test="cachet != null">
				cachet = #{cachet},
			</if>
			<if test="version != null">
				version = #{version},
			</if>
			<if test="flgHistory != null">
				flgHistory = #{flgHistory},
			</if>
			<if test="superId != null">
				superId = #{superId},
			</if>
		</set>
		WHERE
			id = #{id}
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="contract">
		SELECT 
			id, 
			contractNo, 
			addDateContract, 
			modified, 
			flag, 
			sellerId, 
			sellerName, 
			buyerId, 
			buyerName, 
			buyerAddressId, 
			buyerAddress, 
			sellerAddressId, 
			sellerAddress, 
			totalValue, 
			origin, 
			manufacturers, 
			deliveryTo, 
			deliveryDate, 
			termsOfPayment, 
			insuranceAndFees, 
			shippingMarks, 
			qualityAndTechnicalStandard, 
			inspection, 
			transportationAndFees, 
			shipment, 
			insurance, 
			signedAt, 
			destination, 
			packing, 
			transportaion, 
			otherTerms, 
			approveState, 
			approver0, 
			approverDate0, 
			approver1, 
			approverDate1, 
			approver2, 
			approverDate2, 
			approver3, 
			approverDate3, 
			accData, 
			accDepartment, 
			accProductionUnit, 
			accContractNo, 
			accTradeName, 
			accCustomer, 
			accStyleNumber, 
			accSpecification, 
			accUnit, 
			accTotalAmount, 
			accRawMaterialTotalAmount, 
			accPackagingTotalAmount, 
			accProcessCost, 
			accTotalCost, 
			accRemark, 
			accCIF, 
			accI, 
			accFOB, 
			accDrawBack, 
			accOreignExchangeRate, 
			accOtherIncome, 
			accTotalIncome, 
			accRawMaterialCost, 
			accPackagingCost, 
			accOtherCost, 
			accOtherExpense, 
			accIndirectCost, 
			accTotalProductCost, 
			accProfit, 
			accF, 
			accProcessFeeCost, 
			addUser, 
			addDate, 
			addIp, 
			modifiedUser, 
			modifiedDate, 
			modifiedIp, 
			approver, 
			approverDate, 
			contractType, 
			additionalProvisions, 
			rejectReason, 
			percentage, 
			remark, 
			masterContractNo, 
			approverId, 
			accRMB, 
			approverId0, 
			approverId1, 
			approverId2, 
			approverId3, 
			finalApprover, 
			approveReason, 
			processCost, 
			currencyType, 
			agentPoundage, 
			breachPoundage, 
			penalty, 
			actualRecipient, 
			trusteeLegal, 
			clientLegal, 
			drawbackRecipient,
			signature,
			cachet,
			version,
			flgHistory,
			superId
		FROM contract AS a
			WHERE 1 = 1
		<if test="addUser != null and addUser != ''">
			AND a.addUser = #{addUser}
		</if>
		<if test="id != null and id != ''">
			AND a.id = #{id, jdbcType=BIGINT}
		</if>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="contract">
		SELECT 
			id, 
			contractNo, 
			addDateContract, 
			modified, 
			flag, 
			sellerId, 
			sellerName, 
			buyerId, 
			buyerName, 
			buyerAddressId, 
			buyerAddress, 
			sellerAddressId, 
			sellerAddress, 
			totalValue, 
			origin, 
			manufacturers, 
			deliveryTo, 
			deliveryDate, 
			termsOfPayment, 
			insuranceAndFees, 
			shippingMarks, 
			qualityAndTechnicalStandard, 
			inspection, 
			transportationAndFees, 
			shipment, 
			insurance, 
			signedAt, 
			destination, 
			packing, 
			transportaion, 
			otherTerms, 
			approveState, 
			approver0, 
			approverDate0, 
			approver1, 
			approverDate1, 
			approver2, 
			approverDate2, 
			approver3, 
			approverDate3, 
			accData, 
			accDepartment, 
			accProductionUnit, 
			accContractNo, 
			accTradeName, 
			accCustomer, 
			accStyleNumber, 
			accSpecification, 
			accUnit, 
			accTotalAmount, 
			accRawMaterialTotalAmount, 
			accPackagingTotalAmount, 
			accProcessCost, 
			accTotalCost, 
			accRemark, 
			accCIF, 
			accI, 
			accFOB, 
			accDrawBack, 
			accOreignExchangeRate, 
			accOtherIncome, 
			accTotalIncome, 
			accRawMaterialCost, 
			accPackagingCost, 
			accOtherCost, 
			accOtherExpense, 
			accIndirectCost, 
			accTotalProductCost, 
			accProfit, 
			accF, 
			accProcessFeeCost, 
			addUser, 
			addDate, 
			addIp, 
			modifiedUser, 
			modifiedDate, 
			modifiedIp, 
			approver, 
			approverDate, 
			contractType, 
			additionalProvisions, 
			rejectReason, 
			percentage, 
			remark, 
			masterContractNo, 
			approverId, 
			accRMB, 
			approverId0, 
			approverId1, 
			approverId2, 
			approverId3, 
			finalApprover, 
			approveReason, 
			processCost, 
			currencyType, 
			agentPoundage, 
			breachPoundage, 
			penalty, 
			actualRecipient, 
			trusteeLegal, 
			clientLegal, 
			drawbackRecipient,
			signature,
			cachet,
			version,
			flgHistory,
			superId,
			DATE_FORMAT(a.addDate, '%Y-%m-%d %H:%i') AS showAddDate
		FROM contract AS a
		WHERE 1 = 1
		<if test="flgHistory != null and flgHistory != ''">
			AND a.flgHistory = #{flgHistory}
		</if>
		<if test="flgHistory == null">
			AND a.flgHistory != 'y'
		</if>
		<if test="addUser != null and addUser != ''">
			AND a.addUser = #{addUser}
		</if>
		<if test="flag != null">
			AND a.flag = #{flag}
		</if>
		<if test="superId != null">
			AND a.superId = #{superId}
		</if>
		<if test="approveState != null and approveState != ''">
			AND a.approveState LIKE CONCAT('%', #{approveState},'%')
		</if>
		<if test="userLevel == 0">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 1">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 2">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 3">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="listApproveState != null">
			AND a.approveState IN
			<foreach collection="listApproveState" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="sellerName != null and sellerName != ''">
			AND a.sellerName LIKE CONCAT(CONCAT('%', #{sellerName}),'%')
		</if>
		<if test="contractNo != null">
			AND a.contractNo LIKE CONCAT('%', #{contractNo},'%')
		</if>
		<if test="buyerName != null">
			AND a.buyerName LIKE CONCAT('%', #{buyerName},'%')
		</if>
		<if test="buyerName != null">
			AND a.buyerName LIKE CONCAT('%', #{buyerName},'%')
		</if>
		<if test="startDate != null and startDate != ''">
			<![CDATA[
				AND a.addDate >=str_to_date(#{startDate},'%Y-%m-%d')  
				
			]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[
				AND a.addDate <= str_to_date(#{endDate},'%Y-%m-%d')
			]]>
		</if>
		<if test="sort != null and sort != ''">
			ORDER BY ${sort} ${order}
		</if>
		LIMIT ${startIndex}, ${rows}		
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM contract AS a
		WHERE 1 = 1
		<if test="flgHistory != null and flgHistory != ''">
			AND a.flgHistory = #{flgHistory}
		</if>
		<if test="flgHistory == null">
			AND a.flgHistory != 'y'
		</if>
		<if test="addUser != null and addUser != ''">
			AND a.addUser = #{addUser}
		</if>
		<if test="flag != null">
			AND a.flag = #{flag}
		</if>
		<if test="superId != null">
			AND a.superId = #{superId}
		</if>
		<if test="approveState != null and approveState != ''">
			AND a.approveState LIKE CONCAT('%', #{approveState},'%')
		</if>
		<if test="userLevel == 0">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 1">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 2">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 3">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="listApproveState != null">
			AND a.approveState IN
			<foreach collection="listApproveState" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="sellerName != null and sellerName != ''">
			AND a.sellerName LIKE CONCAT(CONCAT('%', #{sellerName}),'%')
		</if>
		<if test="contractNo != null">
			AND a.contractNo LIKE CONCAT('%', #{contractNo},'%')
		</if>
		<if test="buyerName != null">
			AND a.buyerName LIKE CONCAT('%', #{buyerName},'%')
		</if>
		<if test="startDate != null and startDate != ''">
				<![CDATA[
				AND a.addDate>=str_to_date(#{startDate},'%Y-%m-%d') 
				
			]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[
				AND a.addDate <=str_to_date(#{endDate},'%Y-%m-%d')
			]]>
		</if>
	</select>
</mapper>