<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.DivisionRoleMapper" > 
	<resultMap type="com.mtf.framework.model.impl.DivisionRoleImpl" id="divisionRole"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="divisionRole">
		INSERT INTO divisionRole
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="divisionId != null">
					divisionId,
				</if>
				<if test="roleId != null">
					roleId,
				</if>
				<if test="mainIndex != null">
					mainIndex,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="status != null">
					status,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="divisionId != null">
					#{divisionId},
				</if>
				<if test="roleId != null">
					#{roleId},
				</if>
				<if test="mainIndex != null">
					#{mainIndex},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="status != null">
					#{status},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM divisionRole
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND divisionId = #{divisionId}
			</if>
			<if test="roleId != null and roleId != ''">
				AND roleId = #{roleId}
			</if>
			<if test="mainIndex != null and mainIndex != ''">
				AND mainIndex = #{mainIndex}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.searchWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE divisionRole
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="divisionId != null and divisionId != ''">
				divisionId = #{divisionId},
			</if>
			<if test="roleId != null and roleId != ''">
				roleId = #{roleId},
			</if>
			<if test="mainIndex != null and mainIndex != ''">
				mainIndex = #{mainIndex},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="divisionRole">
		SELECT 
			<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.getColumn"/>
			a.id, 
			a.divisionId, 
			a.roleId, 
			a.mainIndex, 
			a.remark, 
			a.status, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM divisionRole AS a
		<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="divisionId != null">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="roleId != null">
				AND a.roleId = #{roleId}
			</if>
			<if test="mainIndex != null">
				AND a.mainIndex = #{mainIndex}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="status != null">
				AND a.status = #{status}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.getWhere"/>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="divisionRole">
		SELECT 
			<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.selectColumn"/>
			a.id, 
			a.divisionId, 
			a.roleId, 
			a.mainIndex, 
			a.remark, 
			a.status, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM divisionRole AS a
		<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="roleId != null and roleId != ''">
				AND a.roleId = #{roleId}
			</if>
			<if test="mainIndex != null and mainIndex != ''">
				AND a.mainIndex = #{mainIndex}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.searchWhere"/>
		</where>
		<if test="group != null">
			GROUP BY ${group}
		</if>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM divisionRole AS a
		<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="roleId != null and roleId != ''">
				AND a.roleId = #{roleId}
			</if>
			<if test="mainIndex != null and mainIndex != ''">
				AND a.mainIndex = #{mainIndex}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.DivisionRoleConditionMapper.searchWhere"/>
		</where>
	</select>
</mapper>