<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.ItemMapper" > 
	<resultMap type="com.mtf.framework.model.impl.ItemImpl" id="item"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="item">
		INSERT INTO item
				(
					officeId,
					ruleId,
					unit,
					type,
					specification,
					amount
					)
			(SELECT 
					#{officeId},
					ir.id,
					ir.unit,
					ir.type,
					ir.specification,
					#{amount}
			FROM itemRule ir
			<where>
					1=1
					AND ir.id=#{ruleId}
			</where>
			)
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>


	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM item
		WHERE
			officeId = #{officeId}
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE item
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="ruleId != null">
				ruleId = #{ruleId},
			</if>
			<if test="officeId != null">
				officeId = #{officeId},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="specification != null">
				specification = #{specification},
			</if>
			<if test="unit != null">
				unit = #{unit},
			</if>
			<if test="amount != null">
				amount = #{amount},
			</if>
			<if test="amountMax != null">
				amountMax = #{amountMax},
			</if>
		</set>
		WHERE
			id = #{id}
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="item">
		SELECT 
			id, 
			ruleId, 
			officeId, 
			type, 
			specification, 
			unit, 
			amount, 
			amountMax
		FROM item
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="ruleId != null">
				AND ruleId = #{ruleId}
			</if>
			<if test="officeId != null">
				AND officeId = #{officeId}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="specification != null">
				AND specification = #{specification}
			</if>
			<if test="unit != null">
				AND unit = #{unit}
			</if>
			<if test="amount != null">
				AND amount = #{amount}
			</if>
			<if test="amountMax != null">
				AND amountMax = #{amountMax}
			</if>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="item">
		SELECT 
			id, 
			ruleId, 
			officeId, 
			type, 
			specification, 
			unit, 
			amount, 
			amountMax
		FROM item
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="ruleId != null">
				AND ruleId = #{ruleId}
			</if>
			<if test="officeId != null">
				AND officeId = #{officeId}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="specification != null">
				AND specification = #{specification}
			</if>
			<if test="unit != null">
				AND unit = #{unit}
			</if>
			<if test="amount != null">
				AND amount = #{amount}
			</if>
			<if test="amountMax != null">
				AND amountMax = #{amountMax}
			</if>
			<if test="sort != null">
				ORDER BY ${sort} ${order}
			</if>
		</where>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM item
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="ruleId != null">
				AND ruleId = #{ruleId}
			</if>
			<if test="officeId != null">
				AND officeId = #{officeId}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="specification != null">
				AND specification = #{specification}
			</if>
			<if test="unit != null">
				AND unit = #{unit}
			</if>
			<if test="amount != null">
				AND amount = #{amount}
			</if>
			<if test="amountMax != null">
				AND amountMax = #{amountMax}
			</if>
		</where>
	</select>
</mapper>