<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.OfficeMapper" > 
	<resultMap type="com.mtf.framework.model.impl.OfficeImpl" id="office"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="office">
		INSERT INTO office
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="department != null">
					department,
				</if>
				<if test="departmentId != null">
					departmentId,
				</if>
				<if test="applyMonth != null">
					applyMonth,
				</if>
				<if test="leaderId != null">
					leaderId,
				</if>
				<if test="leaderName != null">
					leaderName,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="approveState != null">
					approveState,
				</if>
				<if test="approve2Date != null">
					approve2Date,
				</if>
				<if test="approve1Date != null">
					approve1Date,
				</if>
				<if test="depOfficeId != null">
					depOfficeId,
				</if>
				<if test="pid != null">
					pid,
				</if>
				<if test="flag != null">
					flag,
				</if>
				<if test="userId != null">
					userId,
				</if>
				<if test="userName != null">
					userName,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="department != null">
					#{department},
				</if>
				<if test="departmentId != null">
					#{departmentId},
				</if>
				<if test="applyMonth != null">
					#{applyMonth},
				</if>
				<if test="leaderId != null">
					#{leaderId},
				</if>
				<if test="leaderName != null">
					#{leaderName},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="approveState != null">
					#{approveState},
				</if>
				<if test="approve2Date != null">
					#{approve2Date},
				</if>
				<if test="approve1Date != null">
					#{approve1Date},
				</if>
				<if test="depOfficeId != null">
					#{depOfficeId},
				</if>
				<if test="pid != null">
					#{pid},
				</if>
				<if test="flag != null">
					#{flag},
				</if>
				<if test="userId != null">
					#{userId},
				</if>
				<if test="userName != null">
					#{userName},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM office
		WHERE
			id = #{id}
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE office
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="department != null">
				department = #{department},
			</if>
			<if test="departmentId != null">
				departmentId = #{departmentId},
			</if>
			<if test="applyMonth != null">
				applyMonth = #{applyMonth},
			</if>
			<if test="leaderId != null">
				leaderId = #{leaderId},
			</if>
			<if test="leaderName != null">
				leaderName = #{leaderName},
			</if>
			<if test="addDate != null">
				addDate = #{addDate},
			</if>
			<if test="modifiedDate != null">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="approveState != null">
				approveState = #{approveState},
			</if>
			<if test="approve2Date != null">
				approve2Date = #{approve2Date},
			</if>
			<if test="approve1Date != null">
				approve1Date = #{approve1Date},
			</if>
			<if test="depOfficeId != null">
				depOfficeId = #{depOfficeId},
			</if>
			<if test="pid != null">
				pid = #{pid},
			</if>
			<if test="flag != null">
				flag = #{flag},
			</if>
			<if test="userId != null">
				userId = #{userId},
			</if>
			<if test="userName != null">
				userName = #{userName},
			</if>
		</set>
		WHERE
			id = #{id}
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="office">
		SELECT 
			id, 
			department, 
			departmentId, 
			applyMonth, 
			leaderId, 
			leaderName, 
			addDate, 
			modifiedDate, 
			approveState, 
			approve2Date, 
			approve1Date, 
			depOfficeId, 
			pid, 
			flag, 
			userId, 
			userName
		FROM office
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="department != null">
				AND department = #{department}
			</if>
			<if test="departmentId != null">
				AND departmentId = #{departmentId}
			</if>
			<if test="applyMonth != null">
				AND applyMonth = #{applyMonth}
			</if>
			<if test="leaderId != null">
				AND leaderId = #{leaderId}
			</if>
			<if test="leaderName != null">
				AND leaderName = #{leaderName}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="modifiedDate != null">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="listApproveState != null">
				AND approveState IN
			<foreach collection="listApproveState" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
			</if>
			<if test="approve2Date != null">
				AND approve2Date = #{approve2Date}
			</if>
			<if test="approve1Date != null">
				AND approve1Date = #{approve1Date}
			</if>
			<if test="depOfficeId != null">
				AND depOfficeId = #{depOfficeId}
			</if>
			<if test="pid != null">
				AND pid = #{pid}
			</if>
			<if test="flag != null">
				AND flag = #{flag}
			</if>
			<if test="userId != null">
				AND userId = #{userId}
			</if>
			<if test="userName != null">
				AND userName = #{userName}
			</if>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="office">
		SELECT 
			id, 
			department, 
			departmentId, 
			applyMonth, 
			leaderId, 
			leaderName, 
			addDate, 
			modifiedDate, 
			approveState, 
			approve2Date, 
			approve1Date, 
			depOfficeId, 
			pid, 
			flag, 
			userId, 
			userName,
			DATE_FORMAT(modifiedDate, '%Y-%m-%d %H:%i') AS showAddDate,
			DATE_FORMAT(approve1Date, '%Y-%m-%d %H:%i') AS showApprove1Date,
			DATE_FORMAT(approve2Date, '%Y-%m-%d %H:%i') AS showApprove2Date,
			DATE_FORMAT(modifiedDate, '%Y-%m-%d %H:%i') AS showModifiedDate
		FROM office
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="department != null">
				AND department = #{department}
			</if>
			<if test="departmentId != null">
				AND departmentId = #{departmentId}
			</if>
			<if test="applyMonth != null">
				AND applyMonth = #{applyMonth}
			</if>
			<if test="leaderId != null">
				AND leaderId = #{leaderId}
			</if>
			<if test="leaderName != null">
				AND leaderName = #{leaderName}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="modifiedDate != null">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="listApproveState != null">
				AND approveState IN
			<foreach collection="listApproveState" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
			</if>
			<if test="approve2Date != null">
				AND approve2Date = #{approve2Date}
			</if>
			<if test="approve1Date != null">
				AND approve1Date = #{approve1Date}
			</if>
			<if test="depOfficeId != null">
				AND depOfficeId = #{depOfficeId}
			</if>
			<if test="pid != null">
				AND pid = #{pid}
			</if>
			<if test="flag != null">
				AND flag = #{flag}
			</if>
			<if test="userId != null">
				AND userId = #{userId}
			</if>
			<if test="userName != null">
				AND userName = #{userName}
			</if>
			<if test="sort != null">
				ORDER BY ${sort} ${order}
			</if>
		</where>
		LIMIT ${startIndex}, ${rows}
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM office
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="department != null">
				AND department = #{department}
			</if>
			<if test="departmentId != null">
				AND departmentId = #{departmentId}
			</if>
			<if test="applyMonth != null">
				AND applyMonth = #{applyMonth}
			</if>
			<if test="leaderId != null">
				AND leaderId = #{leaderId}
			</if>
			<if test="leaderName != null">
				AND leaderName = #{leaderName}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="modifiedDate != null">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="listApproveState != null">
				AND approveState IN
			<foreach collection="listApproveState" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
			</if>
			<if test="approve2Date != null">
				AND approve2Date = #{approve2Date}
			</if>
			<if test="approve1Date != null">
				AND approve1Date = #{approve1Date}
			</if>
			<if test="depOfficeId != null">
				AND depOfficeId = #{depOfficeId}
			</if>
			<if test="pid != null">
				AND pid = #{pid}
			</if>
			<if test="flag != null">
				AND flag = #{flag}
			</if>
			<if test="userId != null">
				AND userId = #{userId}
			</if>
			<if test="userName != null">
				AND userName = #{userName}
			</if>
		</where>
	</select>
	<update id="updateApprove" parameterType="java.lang.Object">
		UPDATE office
		<set>
			<if test="approveState != null">
				approveState = #{approveState},
			</if>
			<if test="depOfficeId != null">
				depOfficeId = #{depOfficeId},
			</if>
			<if test="leaderId != null">
				leaderId = #{leaderId},
			</if>
			<if test="leaderName != null">
				leaderName = #{leaderName},
			</if>
			<if test="approve1Date != null">
				approve1Date = #{approve1Date},
			</if>
			<if test="approve2Date != null">
				approve2Date = #{approve2Date},
			</if>
			<if test="applyMonth != null">
				 applyMonth = #{applyMonth}
			</if>
		</set>
		WHERE
		1=1
			<if test="userLevel == 1 || userLevel == 7">
			AND approveState = 'submit'
			</if>
			<if test="userLevel == 2">
			AND approveState = 'approve1'
			</if>
			<if test="departmentId != null">
				AND departmentId = #{departmentId}
			</if>
	</update>
		<update id="updateDisable" parameterType="java.lang.Object">
		UPDATE office
		<set>
			<if test="approveState != null">
				approveState = #{approveState},
			</if>
		</set>
		WHERE
		1=1
			AND approveState in ('submit','reject')
			<if test="departmentId != null">
				AND departmentId = #{departmentId}
			</if>
	</update>
</mapper>