<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.OrderServiceMapper" > 
	<resultMap type="com.mtf.framework.model.impl.OrderServiceImpl" id="orderService"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="orderService">
		INSERT INTO orderService
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="vehiclePlateNo != null">
					vehiclePlateNo,
				</if>
				<if test="userName != null">
					userName,
				</if>
				<if test="userId != null">
					userId,
				</if>
				<if test="nameDriver != null">
					nameDriver,
				</if>
				<if test="driverId != null">
					driverId,
				</if>
				<if test="deptRequester != null">
					deptRequester,
				</if>
				<if test="divisionId != null">
					divisionId,
				</if>
				<if test="divisionName != null">
					divisionName,
				</if>
				<if test="passenger != null">
					passenger,
				</if>
				<if test="timeTrip != null">
					timeTrip,
				</if>
				<if test="pathTrip != null">
					pathTrip,
				</if>
				<if test="expenseOther != null">
					expenseOther,
				</if>
				<if test="expensePass != null">
					expensePass,
				</if>
				<if test="expseseStop != null">
					expseseStop,
				</if>
				<if test="expensePontage != null">
					expensePontage,
				</if>
				<if test="expseseStay != null">
					expseseStay,
				</if>
				<if test="type != null">
					type,
				</if>
				<if test="customer != null">
					customer,
				</if>
				<if test="month != null">
					month,
				</if>
				<if test="origin != null">
					origin,
				</if>
				<if test="destination != null">
					destination,
				</if>
				<if test="typeExpense != null">
					typeExpense,
				</if>
				<if test="timeHandIn != null">
					timeHandIn,
				</if>
				<if test="mileage != null">
					mileage,
				</if>
				<if test="expenseActual != null">
					expenseActual,
				</if>
				<if test="expenseTotal != null">
					expenseTotal,
				</if>
				<if test="timeReimbursement != null">
					timeReimbursement,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="remarkApprove != null">
					remarkApprove,
				</if>
				<if test="idOrderServicePath != null">
					idOrderServicePath,
				</if>
				<if test="nameOrderServicePath != null">
					nameOrderServicePath,
				</if>
				<if test="statusOrder != null">
					statusOrder,
				</if>
				<if test="approveUser1 != null">
					approveUser1,
				</if>
				<if test="approveDate1 != null">
					approveDate1,
				</if>
				<if test="approveIp1 != null">
					approveIp1,
				</if>
				<if test="approveUser2 != null">
					approveUser2,
				</if>
				<if test="approveDate2 != null">
					approveDate2,
				</if>
				<if test="approveIp2 != null">
					approveIp2,
				</if>
				<if test="idOrderServiceRecord != null">
					idOrderServiceRecord,
				</if>
				<if test="tagEmail != null">
					tagEmail,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="vehiclePlateNo != null">
					#{vehiclePlateNo},
				</if>
				<if test="userName != null">
					#{userName},
				</if>
				<if test="userId != null">
					#{userId},
				</if>
				<if test="nameDriver != null">
					#{nameDriver},
				</if>
				<if test="driverId != null">
					#{driverId},
				</if>
				<if test="deptRequester != null">
					#{deptRequester},
				</if>
				<if test="divisionId != null">
					#{divisionId},
				</if>
				<if test="divisionName != null">
					#{divisionName},
				</if>
				<if test="passenger != null">
					#{passenger},
				</if>
				<if test="timeTrip != null">
					#{timeTrip},
				</if>
				<if test="pathTrip != null">
					#{pathTrip},
				</if>
				<if test="expenseOther != null">
					#{expenseOther},
				</if>
				<if test="expensePass != null">
					#{expensePass},
				</if>
				<if test="expseseStop != null">
					#{expseseStop},
				</if>
				<if test="expensePontage != null">
					#{expensePontage},
				</if>
				<if test="expseseStay != null">
					#{expseseStay},
				</if>
				<if test="type != null">
					#{type},
				</if>
				<if test="customer != null">
					#{customer},
				</if>
				<if test="month != null">
					#{month},
				</if>
				<if test="origin != null">
					#{origin},
				</if>
				<if test="destination != null">
					#{destination},
				</if>
				<if test="typeExpense != null">
					#{typeExpense},
				</if>
				<if test="timeHandIn != null">
					#{timeHandIn},
				</if>
				<if test="mileage != null">
					#{mileage},
				</if>
				<if test="expenseActual != null">
					#{expenseActual},
				</if>
				<if test="expenseTotal != null">
					#{expenseTotal},
				</if>
				<if test="timeReimbursement != null">
					#{timeReimbursement},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="remarkApprove != null">
					#{remarkApprove},
				</if>
				<if test="idOrderServicePath != null">
					#{idOrderServicePath},
				</if>
				<if test="nameOrderServicePath != null">
					#{nameOrderServicePath},
				</if>
				<if test="statusOrder != null">
					#{statusOrder},
				</if>
				<if test="approveUser1 != null">
					#{approveUser1},
				</if>
				<if test="approveDate1 != null">
					#{approveDate1},
				</if>
				<if test="approveIp1 != null">
					#{approveIp1},
				</if>
				<if test="approveUser2 != null">
					#{approveUser2},
				</if>
				<if test="approveDate2 != null">
					#{approveDate2},
				</if>
				<if test="approveIp2 != null">
					#{approveIp2},
				</if>
				<if test="idOrderServiceRecord != null">
					#{idOrderServiceRecord},
				</if>
				<if test="tagEmail != null">
					#{tagEmail},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM orderService
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="vehiclePlateNo != null and vehiclePlateNo != ''">
				AND vehiclePlateNo = #{vehiclePlateNo}
			</if>
			<if test="userName != null and userName != ''">
				AND userName = #{userName}
			</if>
			<if test="userId != null and userId != ''">
				AND userId = #{userId}
			</if>
			<if test="nameDriver != null and nameDriver != ''">
				AND nameDriver = #{nameDriver}
			</if>
			<if test="driverId != null and driverId != ''">
				AND driverId = #{driverId}
			</if>
			<if test="deptRequester != null and deptRequester != ''">
				AND deptRequester = #{deptRequester}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND divisionName = #{divisionName}
			</if>
			<if test="passenger != null and passenger != ''">
				AND passenger = #{passenger}
			</if>
			<if test="timeTrip != null and timeTrip != ''">
				AND timeTrip = #{timeTrip}
			</if>
			<if test="pathTrip != null and pathTrip != ''">
				AND pathTrip = #{pathTrip}
			</if>
			<if test="expenseOther != null and expenseOther != ''">
				AND expenseOther = #{expenseOther}
			</if>
			<if test="expensePass != null and expensePass != ''">
				AND expensePass = #{expensePass}
			</if>
			<if test="expseseStop != null and expseseStop != ''">
				AND expseseStop = #{expseseStop}
			</if>
			<if test="expensePontage != null and expensePontage != ''">
				AND expensePontage = #{expensePontage}
			</if>
			<if test="expseseStay != null and expseseStay != ''">
				AND expseseStay = #{expseseStay}
			</if>
			<if test="type != null and type != ''">
				AND type = #{type}
			</if>
			<if test="customer != null and customer != ''">
				AND customer = #{customer}
			</if>
			<if test="month != null and month != ''">
				AND month = #{month}
			</if>
			<if test="origin != null and origin != ''">
				AND origin = #{origin}
			</if>
			<if test="destination != null and destination != ''">
				AND destination = #{destination}
			</if>
			<if test="typeExpense != null and typeExpense != ''">
				AND typeExpense = #{typeExpense}
			</if>
			<if test="timeHandIn != null and timeHandIn != ''">
				AND timeHandIn = #{timeHandIn}
			</if>
			<if test="mileage != null and mileage != ''">
				AND mileage = #{mileage}
			</if>
			<if test="expenseActual != null and expenseActual != ''">
				AND expenseActual = #{expenseActual}
			</if>
			<if test="expenseTotal != null and expenseTotal != ''">
				AND expenseTotal = #{expenseTotal}
			</if>
			<if test="timeReimbursement != null and timeReimbursement != ''">
				AND timeReimbursement = #{timeReimbursement}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="remarkApprove != null and remarkApprove != ''">
				AND remarkApprove = #{remarkApprove}
			</if>
			<if test="idOrderServicePath != null and idOrderServicePath != ''">
				AND idOrderServicePath = #{idOrderServicePath}
			</if>
			<if test="nameOrderServicePath != null and nameOrderServicePath != ''">
				AND nameOrderServicePath = #{nameOrderServicePath}
			</if>
			<if test="statusOrder != null and statusOrder != ''">
				AND statusOrder = #{statusOrder}
			</if>
			<if test="approveUser1 != null and approveUser1 != ''">
				AND approveUser1 = #{approveUser1}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND approveDate1 = #{approveDate1}
			</if>
			<if test="approveIp1 != null and approveIp1 != ''">
				AND approveIp1 = #{approveIp1}
			</if>
			<if test="approveUser2 != null and approveUser2 != ''">
				AND approveUser2 = #{approveUser2}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND approveDate2 = #{approveDate2}
			</if>
			<if test="approveIp2 != null and approveIp2 != ''">
				AND approveIp2 = #{approveIp2}
			</if>
			<if test="idOrderServiceRecord != null and idOrderServiceRecord != ''">
				AND idOrderServiceRecord = #{idOrderServiceRecord}
			</if>
			<if test="tagEmail != null and tagEmail != ''">
				AND tagEmail = #{tagEmail}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.countWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE orderService
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="vehiclePlateNo != null and vehiclePlateNo != ''">
				vehiclePlateNo = #{vehiclePlateNo},
			</if>
			<if test="userName != null and userName != ''">
				userName = #{userName},
			</if>
			<if test="userId != null and userId != ''">
				userId = #{userId},
			</if>
			<if test="nameDriver != null and nameDriver != ''">
				nameDriver = #{nameDriver},
			</if>
			<if test="driverId != null and driverId != ''">
				driverId = #{driverId},
			</if>
			<if test="deptRequester != null and deptRequester != ''">
				deptRequester = #{deptRequester},
			</if>
			<if test="divisionId != null and divisionId != ''">
				divisionId = #{divisionId},
			</if>
			<if test="divisionName != null and divisionName != ''">
				divisionName = #{divisionName},
			</if>
			<if test="passenger != null and passenger != ''">
				passenger = #{passenger},
			</if>
			<if test="timeTrip != null and timeTrip != ''">
				timeTrip = #{timeTrip},
			</if>
			<if test="pathTrip != null and pathTrip != ''">
				pathTrip = #{pathTrip},
			</if>
			<if test="expenseOther != null">
				expenseOther = #{expenseOther},
			</if>
			<if test="expensePass != null">
				expensePass = #{expensePass},
			</if>
			<if test="expseseStop != null">
				expseseStop = #{expseseStop},
			</if>
			<if test="expensePontage != null">
				expensePontage = #{expensePontage},
			</if>
			<if test="expseseStay != null">
				expseseStay = #{expseseStay},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="customer != null and customer != ''">
				customer = #{customer},
			</if>
			<if test="month != null and month != ''">
				month = #{month},
			</if>
			<if test="origin != null and origin != ''">
				origin = #{origin},
			</if>
			<if test="destination != null and destination != ''">
				destination = #{destination},
			</if>
			<if test="typeExpense != null and typeExpense != ''">
				typeExpense = #{typeExpense},
			</if>
			<if test="timeHandIn != null and timeHandIn != ''">
				timeHandIn = #{timeHandIn},
			</if>
			<if test="mileage != null">
				mileage = #{mileage},
			</if>
			<if test="expenseActual != null">
				expenseActual = #{expenseActual},
			</if>
			<if test="expenseTotal != null">
				expenseTotal = #{expenseTotal},
			</if>
			<if test="timeReimbursement != null and timeReimbursement != ''">
				timeReimbursement = #{timeReimbursement},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="remarkApprove != null and remarkApprove != ''">
				remarkApprove = #{remarkApprove},
			</if>
			<if test="idOrderServicePath != null and idOrderServicePath != ''">
				idOrderServicePath = #{idOrderServicePath},
			</if>
			<if test="nameOrderServicePath != null and nameOrderServicePath != ''">
				nameOrderServicePath = #{nameOrderServicePath},
			</if>
			<if test="statusOrder != null and statusOrder != ''">
				statusOrder = #{statusOrder},
			</if>
			<if test="approveUser1 != null and approveUser1 != ''">
				approveUser1 = #{approveUser1},
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				approveDate1 = #{approveDate1},
			</if>
			<if test="approveIp1 != null and approveIp1 != ''">
				approveIp1 = #{approveIp1},
			</if>
			<if test="approveUser2 != null and approveUser2 != ''">
				approveUser2 = #{approveUser2},
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				approveDate2 = #{approveDate2},
			</if>
			<if test="approveIp2 != null and approveIp2 != ''">
				approveIp2 = #{approveIp2},
			</if>
			<if test="idOrderServiceRecord != null and idOrderServiceRecord != ''">
				idOrderServiceRecord = #{idOrderServiceRecord},
			</if>
			<if test="tagEmail != null and tagEmail != ''">
				tagEmail = #{tagEmail},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="orderService">
		SELECT 
			<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.getColumn"/>
			a.id, 
			a.vehiclePlateNo, 
			a.userName, 
			a.userId, 
			a.nameDriver, 
			a.driverId, 
			a.deptRequester, 
			a.divisionId, 
			a.divisionName, 
			a.passenger, 
			a.timeTrip, 
			a.pathTrip, 
			a.expenseOther, 
			a.expensePass, 
			a.expseseStop, 
			a.expensePontage, 
			a.expseseStay, 
			a.type, 
			a.customer, 
			a.month, 
			a.origin, 
			a.destination, 
			a.typeExpense, 
			a.timeHandIn, 
			a.mileage, 
			a.expenseActual, 
			a.expenseTotal, 
			a.timeReimbursement, 
			a.remark, 
			a.remarkApprove, 
			a.idOrderServicePath, 
			a.nameOrderServicePath, 
			a.statusOrder, 
			a.approveUser1, 
			a.approveDate1, 
			a.approveIp1, 
			a.approveUser2, 
			a.approveDate2, 
			a.approveIp2, 
			a.idOrderServiceRecord, 
			a.tagEmail, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM orderService AS a
		<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="vehiclePlateNo != null">
				AND a.vehiclePlateNo = #{vehiclePlateNo}
			</if>
			<if test="userName != null">
				AND a.userName = #{userName}
			</if>
			<if test="userId != null">
				AND a.userId = #{userId}
			</if>
			<if test="nameDriver != null">
				AND a.nameDriver = #{nameDriver}
			</if>
			<if test="driverId != null">
				AND a.driverId = #{driverId}
			</if>
			<if test="deptRequester != null">
				AND a.deptRequester = #{deptRequester}
			</if>
			<if test="divisionId != null">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="divisionName != null">
				AND a.divisionName = #{divisionName}
			</if>
			<if test="passenger != null">
				AND a.passenger = #{passenger}
			</if>
			<if test="timeTrip != null">
				AND a.timeTrip = #{timeTrip}
			</if>
			<if test="pathTrip != null">
				AND a.pathTrip = #{pathTrip}
			</if>
			<if test="expenseOther != null">
				AND a.expenseOther = #{expenseOther}
			</if>
			<if test="expensePass != null">
				AND a.expensePass = #{expensePass}
			</if>
			<if test="expseseStop != null">
				AND a.expseseStop = #{expseseStop}
			</if>
			<if test="expensePontage != null">
				AND a.expensePontage = #{expensePontage}
			</if>
			<if test="expseseStay != null">
				AND a.expseseStay = #{expseseStay}
			</if>
			<if test="type != null">
				AND a.type = #{type}
			</if>
			<if test="customer != null">
				AND a.customer = #{customer}
			</if>
			<if test="month != null">
				AND a.month = #{month}
			</if>
			<if test="origin != null">
				AND a.origin = #{origin}
			</if>
			<if test="destination != null">
				AND a.destination = #{destination}
			</if>
			<if test="typeExpense != null">
				AND a.typeExpense = #{typeExpense}
			</if>
			<if test="timeHandIn != null">
				AND a.timeHandIn = #{timeHandIn}
			</if>
			<if test="mileage != null">
				AND a.mileage = #{mileage}
			</if>
			<if test="expenseActual != null">
				AND a.expenseActual = #{expenseActual}
			</if>
			<if test="expenseTotal != null">
				AND a.expenseTotal = #{expenseTotal}
			</if>
			<if test="timeReimbursement != null">
				AND a.timeReimbursement = #{timeReimbursement}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="remarkApprove != null">
				AND a.remarkApprove = #{remarkApprove}
			</if>
			<if test="idOrderServicePath != null">
				AND a.idOrderServicePath = #{idOrderServicePath}
			</if>
			<if test="nameOrderServicePath != null">
				AND a.nameOrderServicePath = #{nameOrderServicePath}
			</if>
			<if test="statusOrder != null">
				AND a.statusOrder = #{statusOrder}
			</if>
			<if test="approveUser1 != null">
				AND a.approveUser1 = #{approveUser1}
			</if>
			<if test="approveDate1 != null">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approveIp1 != null">
				AND a.approveIp1 = #{approveIp1}
			</if>
			<if test="approveUser2 != null">
				AND a.approveUser2 = #{approveUser2}
			</if>
			<if test="approveDate2 != null">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="approveIp2 != null">
				AND a.approveIp2 = #{approveIp2}
			</if>
			<if test="idOrderServiceRecord != null">
				AND a.idOrderServiceRecord = #{idOrderServiceRecord}
			</if>
			<if test="tagEmail != null">
				AND a.tagEmail = #{tagEmail}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.getWhere"/>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="orderService">
		SELECT 
			<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.selectColumn"/>
			a.id, 
			a.vehiclePlateNo, 
			a.userName, 
			a.userId, 
			a.nameDriver, 
			a.driverId, 
			a.deptRequester, 
			a.divisionId, 
			a.divisionName, 
			a.passenger, 
			a.timeTrip, 
			a.pathTrip, 
			a.expenseOther, 
			a.expensePass, 
			a.expseseStop, 
			a.expensePontage, 
			a.expseseStay, 
			a.type, 
			a.customer, 
			a.month, 
			a.origin, 
			a.destination, 
			a.typeExpense, 
			a.timeHandIn, 
			a.mileage, 
			a.expenseActual, 
			a.expenseTotal, 
			a.timeReimbursement, 
			a.remark, 
			a.remarkApprove, 
			a.idOrderServicePath, 
			a.nameOrderServicePath, 
			a.statusOrder, 
			a.approveUser1, 
			a.approveDate1, 
			a.approveIp1, 
			a.approveUser2, 
			a.approveDate2, 
			a.approveIp2, 
			a.idOrderServiceRecord, 
			a.tagEmail, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM orderService AS a
		<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.selectFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="vehiclePlateNo != null and vehiclePlateNo != ''">
				AND a.vehiclePlateNo = #{vehiclePlateNo}
			</if>
			<if test="userName != null and userName != ''">
				AND a.userName = #{userName}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="nameDriver != null and nameDriver != ''">
				AND a.nameDriver = #{nameDriver}
			</if>
			<if test="driverId != null and driverId != ''">
				AND a.driverId = #{driverId}
			</if>
			<if test="deptRequester != null and deptRequester != ''">
				AND a.deptRequester = #{deptRequester}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND a.divisionName = #{divisionName}
			</if>
			<if test="passenger != null and passenger != ''">
				AND a.passenger = #{passenger}
			</if>
			<if test="timeTrip != null and timeTrip != ''">
				AND a.timeTrip = #{timeTrip}
			</if>
			<if test="pathTrip != null and pathTrip != ''">
				AND a.pathTrip = #{pathTrip}
			</if>
			<if test="expenseOther != null and expenseOther != ''">
				AND a.expenseOther = #{expenseOther}
			</if>
			<if test="expensePass != null and expensePass != ''">
				AND a.expensePass = #{expensePass}
			</if>
			<if test="expseseStop != null and expseseStop != ''">
				AND a.expseseStop = #{expseseStop}
			</if>
			<if test="expensePontage != null and expensePontage != ''">
				AND a.expensePontage = #{expensePontage}
			</if>
			<if test="expseseStay != null and expseseStay != ''">
				AND a.expseseStay = #{expseseStay}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="customer != null and customer != ''">
				AND a.customer = #{customer}
			</if>
			<if test="month != null and month != ''">
				AND a.month = #{month}
			</if>
			<if test="origin != null and origin != ''">
				AND a.origin = #{origin}
			</if>
			<if test="destination != null and destination != ''">
				AND a.destination = #{destination}
			</if>
			<if test="typeExpense != null and typeExpense != ''">
				AND a.typeExpense = #{typeExpense}
			</if>
			<if test="timeHandIn != null and timeHandIn != ''">
				AND a.timeHandIn = #{timeHandIn}
			</if>
			<if test="mileage != null and mileage != ''">
				AND a.mileage = #{mileage}
			</if>
			<if test="expenseActual != null and expenseActual != ''">
				AND a.expenseActual = #{expenseActual}
			</if>
			<if test="expenseTotal != null and expenseTotal != ''">
				AND a.expenseTotal = #{expenseTotal}
			</if>
			<if test="timeReimbursement != null and timeReimbursement != ''">
				AND a.timeReimbursement = #{timeReimbursement}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="remarkApprove != null and remarkApprove != ''">
				AND a.remarkApprove = #{remarkApprove}
			</if>
			<if test="idOrderServicePath != null and idOrderServicePath != ''">
				AND a.idOrderServicePath = #{idOrderServicePath}
			</if>
			<if test="nameOrderServicePath != null and nameOrderServicePath != ''">
				AND a.nameOrderServicePath = #{nameOrderServicePath}
			</if>
			<if test="statusOrder != null and statusOrder != ''">
				AND a.statusOrder = #{statusOrder}
			</if>
			<if test="approveUser1 != null and approveUser1 != ''">
				AND a.approveUser1 = #{approveUser1}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approveIp1 != null and approveIp1 != ''">
				AND a.approveIp1 = #{approveIp1}
			</if>
			<if test="approveUser2 != null and approveUser2 != ''">
				AND a.approveUser2 = #{approveUser2}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="approveIp2 != null and approveIp2 != ''">
				AND a.approveIp2 = #{approveIp2}
			</if>
			<if test="idOrderServiceRecord != null and idOrderServiceRecord != ''">
				AND a.idOrderServiceRecord = #{idOrderServiceRecord}
			</if>
			<if test="tagEmail != null and tagEmail != ''">
				AND a.tagEmail = #{tagEmail}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.selectWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM orderService AS a
		<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.countFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="vehiclePlateNo != null and vehiclePlateNo != ''">
				AND a.vehiclePlateNo = #{vehiclePlateNo}
			</if>
			<if test="userName != null and userName != ''">
				AND a.userName = #{userName}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="nameDriver != null and nameDriver != ''">
				AND a.nameDriver = #{nameDriver}
			</if>
			<if test="driverId != null and driverId != ''">
				AND a.driverId = #{driverId}
			</if>
			<if test="deptRequester != null and deptRequester != ''">
				AND a.deptRequester = #{deptRequester}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND a.divisionName = #{divisionName}
			</if>
			<if test="passenger != null and passenger != ''">
				AND a.passenger = #{passenger}
			</if>
			<if test="timeTrip != null and timeTrip != ''">
				AND a.timeTrip = #{timeTrip}
			</if>
			<if test="pathTrip != null and pathTrip != ''">
				AND a.pathTrip = #{pathTrip}
			</if>
			<if test="expenseOther != null and expenseOther != ''">
				AND a.expenseOther = #{expenseOther}
			</if>
			<if test="expensePass != null and expensePass != ''">
				AND a.expensePass = #{expensePass}
			</if>
			<if test="expseseStop != null and expseseStop != ''">
				AND a.expseseStop = #{expseseStop}
			</if>
			<if test="expensePontage != null and expensePontage != ''">
				AND a.expensePontage = #{expensePontage}
			</if>
			<if test="expseseStay != null and expseseStay != ''">
				AND a.expseseStay = #{expseseStay}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="customer != null and customer != ''">
				AND a.customer = #{customer}
			</if>
			<if test="month != null and month != ''">
				AND a.month = #{month}
			</if>
			<if test="origin != null and origin != ''">
				AND a.origin = #{origin}
			</if>
			<if test="destination != null and destination != ''">
				AND a.destination = #{destination}
			</if>
			<if test="typeExpense != null and typeExpense != ''">
				AND a.typeExpense = #{typeExpense}
			</if>
			<if test="timeHandIn != null and timeHandIn != ''">
				AND a.timeHandIn = #{timeHandIn}
			</if>
			<if test="mileage != null and mileage != ''">
				AND a.mileage = #{mileage}
			</if>
			<if test="expenseActual != null and expenseActual != ''">
				AND a.expenseActual = #{expenseActual}
			</if>
			<if test="expenseTotal != null and expenseTotal != ''">
				AND a.expenseTotal = #{expenseTotal}
			</if>
			<if test="timeReimbursement != null and timeReimbursement != ''">
				AND a.timeReimbursement = #{timeReimbursement}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="remarkApprove != null and remarkApprove != ''">
				AND a.remarkApprove = #{remarkApprove}
			</if>
			<if test="idOrderServicePath != null and idOrderServicePath != ''">
				AND a.idOrderServicePath = #{idOrderServicePath}
			</if>
			<if test="nameOrderServicePath != null and nameOrderServicePath != ''">
				AND a.nameOrderServicePath = #{nameOrderServicePath}
			</if>
			<if test="statusOrder != null and statusOrder != ''">
				AND a.statusOrder = #{statusOrder}
			</if>
			<if test="approveUser1 != null and approveUser1 != ''">
				AND a.approveUser1 = #{approveUser1}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approveIp1 != null and approveIp1 != ''">
				AND a.approveIp1 = #{approveIp1}
			</if>
			<if test="approveUser2 != null and approveUser2 != ''">
				AND a.approveUser2 = #{approveUser2}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="approveIp2 != null and approveIp2 != ''">
				AND a.approveIp2 = #{approveIp2}
			</if>
			<if test="idOrderServiceRecord != null and idOrderServiceRecord != ''">
				AND a.idOrderServiceRecord = #{idOrderServiceRecord}
			</if>
			<if test="tagEmail != null and tagEmail != ''">
				AND a.tagEmail = #{tagEmail}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderServiceConditionMapper.countWhere"/>
		</where>
	</select>
</mapper>