<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.OrderCategoryServiceConditionMapper" > 
	<resultMap id="orderCategoryService" type="com.mtf.framework.model.impl.OrderCategoryServiceImpl" />
	<resultMap id="orderCategoryServiceDetail" type="com.mtf.framework.model.impl.OrderCategoryServiceDetailImpl" >
		<id property="idOrderCategoryServiceDetail" column="idOrderCategoryServiceDetail" /> 
		<result property="idOrderCategoryService" column="idOrderCategoryService" /> 
		<result property="id" column="idOrderCategoryService" /> 
		<result property="idPurchase" column="idPurchase" /> 
		<result property="idReimbursement" column="idReimbursement" /> 
		<result property="idCategoryLeve1" column="idCategoryLeve1" /> 
		<result property="nameCategoryLevel1" column="nameCategoryLevel1" /> 
		<result property="idCategoryLevel2" column="idCategoryLevel2" /> 
		<result property="nameCategoryLevel2" column="nameCategoryLevel2" /> 
		<result property="remark" column="remark" /> 
		<result property="amount" column="amount" /> 
		<result property="amountRmb" column="amountRmb" /> 
		<result property="divisionId" column="divisionId" /> 
		<result property="divisionName" column="divisionName" /> 
		<result property="customerId" column="customerId" /> 
		<result property="customerName" column="customerName" /> 
		<result property="customerId1" column="customerId1" /> 
		<result property="customerName1" column="customerName1" /> 
		<result property="customerId2" column="customerId2" /> 
		<result property="customerName2" column="customerName2" /> 
		<result property="approverId1" column="approverId1" /> 
		<result property="approverName1" column="approverName1" /> 
		<result property="approveNeed1" column="approveNeed1" /> 
		<result property="approveStatus1" column="approveStatus1" /> 
		<result property="approveDate1" column="approveDate1" /> 
		<result property="approverId2" column="approverId2" /> 
		<result property="approverName2" column="approverName2" /> 
		<result property="approveNeed2" column="approveNeed2" /> 
		<result property="approveStatus2" column="approveStatus2" /> 
		<result property="approveDate2" column="approveDate2" /> 
		<result property="approverId3" column="approverId3" /> 
		<result property="approverName3" column="approverName3" /> 
		<result property="approveNeed3" column="approveNeed3" /> 
		<result property="approveStatus3" column="approveStatus3" /> 
		<result property="approveDate3" column="approveDate3" /> 
		<result property="approverId4" column="approverId4" /> 
		<result property="approverName4" column="approverName4" /> 
		<result property="approveNeed4" column="approveNeed4" /> 
		<result property="approveStatus4" column="approveStatus4" /> 
		<result property="approveDate4" column="approveDate4" /> 
		<result property="approveStatus" column="approveStatus" /> 
		<result property="approveStatusFinal" column="approveStatusFinal" /> 
		<result property="typeInvoiceId" column="typeInvoiceId" /> 
		<result property="typeInvoiceName" column="typeInvoiceName" /> 
		<result property="status" column="statusDetail" /> 
		<result property="typeData" column="typeData" /> 
		<result property="addDate" column="addDate" /> 
		<result property="addUser" column="addUser" /> 
		<result property="addIp" column="addIp" /> 
		<result property="modifiedDate" column="modifiedDate" /> 
		<result property="modifiedUser" column="modifiedUser" /> 
		<result property="modifiedIp" column="modifiedIp" />
		<result property="countApprovePercent" column="countApprovePercentDetail" /> 

	</resultMap>
	<resultMap id="orderCategoryServiceImpl" type="com.mtf.framework.model.impl.OrderCategoryServiceImpl">
		<id property="id" column="idOrderCategoryService" />
		<id property="idOrderCategoryService" column="idOrderCategoryService" />
		<result property="no" column="no" /> 
		<result property="applicantId" column="applicantId" /> 
		<result property="applicantName" column="applicantName" /> 
		<result property="applicantDivisionId" column="applicantDivisionId" /> 
		<result property="applicantDivisionName" column="applicantDivisionName" /> 
		<result property="applicantDate" column="applicantDate" /> 
		<result property="payeeId" column="payeeId" /> 
		<result property="payeeName" column="payeeName" /> 
		<result property="payeeType" column="payeeType" /> 
		<result property="bankName" column="bankName" /> 
		<result property="bankCard" column="bankCard" /> 
		<result property="totalAmount" column="totalAmount" /> 
		<result property="currencyCode" column="currencyCode" /> 
		<result property="exchangeRate" column="exchangeRate" /> 
		<result property="totalAmountRmb" column="totalAmountRmb" /> 
		<result property="actualTotalAmount" column="actualTotalAmount" /> 
		<result property="signerId" column="signerId" /> 
		<result property="signerName" column="signerName" /> 
		<result property="approverId" column="approverId" /> 
		<result property="approverName" column="approverName" /> 
		<result property="approveNeed" column="approveNeed" /> 
		<result property="approveDate" column="approveDate" /> 
		<result property="status" column="status" /> 
		<result property="typeData" column="typeData" /> 
		<result property="currencyCode" column="currencyCode" /> 
		<result property="currencyName" column="currencyName" /> 
		<result property="countApprovePercent" column="countApprovePercent" /> 
		<result property="addDate" column="addDate" /> 
		<result property="addUser" column="addUser" /> 
		<result property="addIp" column="addIp" /> 
		<result property="modifiedDate" column="modifiedDate" /> 
		<result property="modifiedUser" column="modifiedUser" /> 
		<result property="modifiedIp" column="modifiedIp" /> 
		<result property="email" column="email" /> 
		<result property="userId" column="userId" /> 
		<result property="userName" column="userName" /> 
		<result property="remarkApprove" column="remarkApprove" /> 
		<result property="countAttachment" column="countAttachment" /> 
		<result property="typePaymentCode" column="typePaymentCode" /> 
		<result property="typePaymentName" column="typePaymentName" /> 
		<result property="typeInvoiceCode" column="typeInvoiceCode" /> 
		<result property="typeInvoiceName" column="typeInvoiceName" /> 
		<collection property="listOrderCategoryServiceDetail" resultMap="orderCategoryServiceDetail"></collection>
	</resultMap>
	<resultMap type="com.mtf.framework.model.impl.UserImpl" id="user"/> 
	<resultMap id="BaseResultMap" type="User">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="loginName" property="loginName" jdbcType="VARCHAR" />
		<result column="displayName" property="displayName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="CHAR" />
		<result column="dateTime" property="datetime" jdbcType="TIMESTAMP" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="divisionId" property="divisionId" jdbcType="CHAR" />
		<result column="divisionName" property="divisionName" jdbcType="CHAR"/>
		<result column="englishName" property="englishName" jdbcType="VARCHAR" />
		<result column="targetPosition" property="targetPosition" jdbcType="VARCHAR" />
		<result column="positionId" property="positionId" jdbcType="INTEGER" />
		<result column="birthDate" property="birthDate" jdbcType="TIMESTAMP" />
		<result column="personalPhoto" property="personalPhoto" jdbcType="VARCHAR" />
		<result column="addDate" property="addDate" jdbcType="TIMESTAMP" />
		<result column="addIp" property="addIp" jdbcType="VARCHAR" />
		<result column="addUser" property="addUser" jdbcType="VARCHAR" />
		<result column="modifyDate" property="modifyDate" jdbcType="TIMESTAMP" />
		<result column="modifyIp" property="modifyIp" jdbcType="VARCHAR" />
		<result column="modifyUser" property="modifyUser" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="lastName" property="lastName" jdbcType="VARCHAR" />
		<result column="firstName" property="firstName" jdbcType="VARCHAR" />
		<result column="cardNo" property="cardNo" jdbcType="VARCHAR" />
		<collection property="listOrderCategoryServiceDetail" resultMap="orderCategoryServiceDetail"></collection>
	</resultMap>
<!-- 	<resultMap id="orderCategoryServiceImpl" type="com.mtf.framework.model.impl.OrderCategoryServiceImpl">
		<id property="id" column="idOrderCategoryServiceDetail" />
		<result property="name" column="name" />
		<result property="typePermission" column="typePermission" />
		<result property="typeData" column="typeData" />
		<result property="code" column="code" />
		<result property="parentCode" column="parentCode" />
		<result property="level" column="level"/>
		<result property="remark" column="remark" />
		<result property="value1" column="value11" />
		<result property="value2" column="value12" />
		<result property="value3" column="value13" />
		<result property="value4" column="value14" />
		<result property="tagPermission" column="tagPermission" />
		<collection property="listOrderCategoryServiceDetail" resultMap="orderCategoryServiceDetail"></collection>
	</resultMap> -->
	
	<sql id="getColumn">
		
	</sql>

	<sql id="getFrom">
		
	</sql>

	<sql id="getWhere">
		
	</sql>

	<sql id="selectColumn">
		a.id idOrderCategoryService,
		a.id,
		b.id idOrderCategoryServiceDetail, 
		b.idOrderCategoryService, 
		b.idPurchase, 
		b.idReimbursement, 
		b.idCategoryLeve1, 
		b.nameCategoryLevel1, 
		b.idCategoryLevel2, 
		b.nameCategoryLevel2, 
		b.remark, 
		b.amount, 
		b.amountRmb, 
		b.divisionId, 
		b.divisionName, 
		b.customerId1, 
		b.customerName1, 
		b.customerId2, 
		b.customerName2, 
		b.approverId1, 
		b.approverName1, 
		b.approveNeed1, 
		b.approveStatus1, 
		b.approveDate1, 
		b.approverId2, 
		b.approverName2, 
		b.approveNeed2, 
		b.approveStatus2, 
		b.approveDate2, 
		b.approverId3, 
		b.approverName3, 
		b.approveNeed3, 
		b.approveStatus3, 
		b.approveDate3, 
		b.approverId4, 
		b.approverName4, 
		b.approveNeed4, 
		b.approveStatus4, 
		b.approveDate4, 
		b.approveStatus, 
		b.approveStatusFinal, 
		b.status statusDetail, 
		b.typeData, 
		b.addDate, 
		b.addUser, 
		b.addIp, 
		b.modifiedDate, 
		b.modifiedUser, 
		b.modifiedIp,
		b.countApprovePercent countApprovePercentDetail,
		(SELECT division.`name` FROM division WHERE division.id = o.applicantDivisionId) applicantDivisionName,
		(SELECT userinfor.`name` FROM userinfor WHERE userinfor.`code` = o.currencyCode) currencyName,
	</sql>

	<sql id="selectFrom">
		
	</sql>

	<sql id="selectWhere">
		
	</sql>

	<sql id="countFrom">
		
	</sql>

	<sql id="searchFrom">
		LEFT JOIN orderCategoryServiceDetail b ON b.idOrderCategoryService = a.id
	</sql>

	<sql id="countWhere">
		
	</sql>

	<sql id="searchWhere">
		
	</sql>

	<sql id="updateColumn">
		<if test="tagUpdate == 'statusCom'">
			<!-- status = 'c', -->
		</if>
		<if test="tagUpdate == 'rejectOrderCategoryService'">
			idOrderServiceRecord =  #{idOrderServiceRecord},
		</if>
		<if test="countApprovePercent == 0">
			countApprovePercent = #{countApprovePercent},
		</if>
		<if test="countApprove == 0">
			countApprove = #{countApprove},
		</if>
		<if test="countDetail == 0">
			countDetail = #{countDetail},
		</if>
	</sql>

	<sql id="updateWhere">
		<if test="id != null">
			id = #{id}
		</if>
		<if test="tagMapper == 'updateOrderRecord'">
			countApprovePercent = #{countApprovePercent}
			AND
			status = 'af'
			AND
			idOrderServiceRecord IS NULL
		</if>
	</sql>
	
	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="orderCategoryServiceImpl">
	SELECT 
	(SELECT division.`name` FROM division WHERE division.id = o.applicantDivisionId) applicantDivisionName,
	(SELECT userinfor.`name` FROM userinfor WHERE userinfor.`code` = o.currencyCode) currencyName,
	o.id idOrderCategoryService,
	od.id idOrderCategoryServiceDetail, 
	od.countApprovePercent countApprovePercentDetail,
	o.*, od.*
	FROM
		(SELECT 
			a.*
		FROM orderCategoryService AS a
		<include refid="com.mtf.framework.dao.OrderCategoryServiceConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="no != null and no != ''">
				AND a.no = #{no}
			</if>
			<if test="applicantId != null and applicantId != ''">
				AND a.applicantId = #{applicantId}
			</if>
			<if test="applicantName != null and applicantName != ''">
				AND a.applicantName = #{applicantName}
			</if>
			<if test="seaApplicantName != null and seaApplicantName != ''">
				AND a.applicantName LIKE CONCAT('%', #{seaApplicantName},'%')
			</if>
			<if test="applicantDivisionId != null and applicantDivisionId != ''">
				AND a.applicantDivisionId = #{applicantDivisionId}
			</if>
			<if test="applicantDivisionName != null and applicantDivisionName != ''">
				AND a.applicantDivisionName = #{applicantDivisionName}
			</if>
			<if test="applicantDate != null and applicantDate != ''">
				AND a.applicantDate = #{applicantDate}
			</if>
			<if test="payeeName != null and payeeName != ''">
				AND a.payeeName = #{payeeName}
			</if>
			<if test="seaPayeeName != null and seaPayeeName != ''">
				AND a.payeeName LIKE CONCAT('%', #{seaPayeeName},'%')
			</if>			
			<if test="totalAmount != null and totalAmount != ''">
				AND a.totalAmount = #{totalAmount}
			</if>
			<if test="currencyCode != null and currencyCode != ''">
				AND a.currencyCode = #{currencyCode}
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				AND a.exchangeRate = #{exchangeRate}
			</if>
			<if test="totalAmountRmb != null and totalAmountRmb != ''">
				AND a.totalAmountRmb = #{totalAmountRmb}
			</if>
			<if test="actualTotalAmount != null and actualTotalAmount != ''">
				AND a.actualTotalAmount = #{actualTotalAmount}
			</if>
			<if test="signerId != null and signerId != ''">
				AND a.signerId = #{signerId}
			</if>
			<if test="signerName != null and signerName != ''">
				AND a.signerName = #{signerName}
			</if>
			<if test="approverId != null and approverId != ''">
				AND a.approverId = #{approverId}
			</if>
			<if test="approverName != null and approverName != ''">
				AND a.approverName = #{approverName}
			</if>
			<if test="approveNeed != null and approveNeed != ''">
				AND a.approveNeed = #{approveNeed}
			</if>
			<if test="approveDate != null and approveDate != ''">
				AND a.approveDate = #{approveDate}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="typeData != null and typeData != ''">
				AND a.typeData = #{typeData}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<if test="seaTypeInvoiceCode != null and seaTypeInvoiceCode != ''">
				AND a.typeInvoiceCode = #{seaTypeInvoiceCode}
			</if>
			<if test="seaTypePaymentCode != null and seaTypePaymentCode != ''">
				AND a.typePaymentCode = #{seaTypePaymentCode}
			</if>
			<if test="searchDateStart != null and searchDateStart != ''">
				AND a.applicantDate >= #{searchDateStart}
			</if>
			<if test="searchDateEnd != null and searchDateEnd != ''">
				AND #{searchDateEnd} >= a.applicantDate
			</if>
			<if test="listDivision != null">
				AND a.applicantDivisionId IN
				<foreach collection="listDivision" item="item" index="index" open="(" separator="," close=")">
					#{item.divisionId}
				</foreach>
			</if>				
			<if test="listSeaOrderCategory != null">
				AND 
				(
				b.idCategoryLeve1 IN
				<foreach collection="listSeaOrderCategory" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
				OR
				b.idCategoryLevel2 IN
				<foreach collection="listSeaOrderCategory" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>				
			<if test="approverId1 != null and approverId1 != ''">
				AND b.approverId1 = #{approverId1}
			</if>
			<if test="approverId2 != null and approverId2 != ''">
				AND b.approverId2 = #{approverId2}
			</if>
			<if test="approverId3 != null and approverId3 != ''">
				AND b.approverId3 = #{approverId3}
			</if>
			<if test="approverId4 != null and approverId4 != ''">
				AND b.approverId4 = #{approverId4}
			</if>
			<if test="approveStatus1 != null  and approveStatus1 != ''">
				AND b.approveStatus1 = #{approveStatus1}
			</if>
			<if test="approveStatus2 != null  and approveStatus2 != ''">
				AND b.approveStatus2 = #{approveStatus2}
			</if>
			<if test="approveStatus3 != null  and approveStatus3 != ''">
				AND b.approveStatus3 = #{approveStatus3}
			</if>
			<if test="approveStatus4 != null  and approveStatus4 != ''">
				AND b.approveStatus4 = #{approveStatus4}
			</if>
			<if test="customerId != null  and customerId != ''">
				AND b.customerId1 = #{customerId}
			</if>
			<if test="countApprovePercent != null  and countApprovePercent != ''">
				AND a.countApprovePercent = #{countApprovePercent}
			</if>
			<if test="listStatus != null">
				AND a.status IN
				<foreach collection="listStatus" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="listStatusMain != null">
				AND a.status IN
				<foreach collection="listStatusMain" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>			
			<!-- 刘总审批的情况下 -->
			<if test="approveCondition3  == 'na3'">
				AND
				(
					<!-- 1 一级审批后,没有二级审批人并且三级没有审批 -->
					(
						b.approveStatus1 = 'ap' 
						AND
						(b.approveStatus2 IS NULL OR b.approveStatus2 = '')
					)
					OR
					<!-- 2 二级审批后并且三级没有审批 -->
					(
						b.approveStatus2 = 'ap' 
					)
				)
			</if>
			<if test="listOrderCategoryLevel2 != null">
				AND b.idCategoryLevel2 IN
				<foreach collection="listOrderCategoryLevel2" item="item" index="index" open="(" separator="," close=")">
					#{item.id}
				</foreach>
			</if>
			<if test="listCustomer != null">
				AND b.customerId1 IN
				<foreach collection="listCustomer" item="item" index="index" open="(" separator="," close=")">
					#{item.divisionId1}
				</foreach>
			</if>						
			<include refid="com.mtf.framework.dao.OrderCategoryServiceConditionMapper.searchWhere"/>
		</where>
		<if test="group != null">
			GROUP BY ${group}
		</if>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>) AS o
		LEFT JOIN ordercategoryservicedetail od ON od.idOrderCategoryService = o.id
		<where>
			<if test="approverId1 != null and approverId1 != ''">
				AND od.approverId1 = #{approverId1}
			</if>
			<if test="approverId2 != null and approverId2 != ''">
				AND od.approverId2 = #{approverId2}
			</if>
			<if test="approverId3 != null and approverId3 != ''">
				AND od.approverId3 = #{approverId3}
			</if>
			<if test="approverId4 != null and approverId4 != ''">
				AND od.approverId4 = #{approverId4}
			</if>
			<if test="approveStatus1 != null  and approveStatus1 != ''">
				AND od.approveStatus1 = #{approveStatus1}
			</if>
			<if test="approveStatus2 != null  and approveStatus2 != ''">
				AND od.approveStatus2 = #{approveStatus2}
			</if>
			<if test="approveStatus3 != null  and approveStatus3 != ''">
				AND od.approveStatus3 = #{approveStatus3}
			</if>
			<if test="approveStatus4 != null  and approveStatus4 != ''">
				AND od.approveStatus4 = #{approveStatus4}
			</if>
			<if test="listStatus != null">
				AND od.status IN
				<foreach collection="listStatus" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="listStatusMain != null">
				AND o.status IN
				<foreach collection="listStatusMain" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="listOrderCategoryLevel2 != null">
				AND od.idCategoryLevel2 IN
				<foreach collection="listOrderCategoryLevel2" item="item" index="index" open="(" separator="," close=")">
					#{item.id}
				</foreach>
			</if>
			<if test="listCustomer != null">
				AND od.customerId1 IN
				<foreach collection="listCustomer" item="item" index="index" open="(" separator="," close=")">
					#{item.divisionId1}
				</foreach>
			</if>
			<if test="statusCondition != null and statusCondition != ''">
				AND o.status != #{statusCondition}
			</if>			
		</where>
		GROUP BY o.id, od.id 
		ORDER BY o.id desc
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
	SELECT 
		COUNT(o.id)
	FROM
		(SELECT 
			distinct(a.id)
		FROM orderCategoryService AS a
		<include refid="com.mtf.framework.dao.OrderCategoryServiceConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="no != null and no != ''">
				AND a.no = #{no}
			</if>
			<if test="applicantId != null and applicantId != ''">
				AND a.applicantId = #{applicantId}
			</if>
			<if test="applicantName != null and applicantName != ''">
				AND a.applicantName = #{applicantName}
			</if>
			<if test="applicantDivisionId != null and applicantDivisionId != ''">
				AND a.applicantDivisionId = #{applicantDivisionId}
			</if>
			<if test="applicantDivisionName != null and applicantDivisionName != ''">
				AND a.applicantDivisionName = #{applicantDivisionName}
			</if>
			<if test="applicantDate != null and applicantDate != ''">
				AND a.applicantDate = #{applicantDate}
			</if>
			<if test="payeeName != null and payeeName != ''">
				AND a.payeeName = #{payeeName}
			</if>
			<if test="totalAmount != null and totalAmount != ''">
				AND a.totalAmount = #{totalAmount}
			</if>
			<if test="currencyCode != null and currencyCode != ''">
				AND a.currencyCode = #{currencyCode}
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				AND a.exchangeRate = #{exchangeRate}
			</if>
			<if test="totalAmountRmb != null and totalAmountRmb != ''">
				AND a.totalAmountRmb = #{totalAmountRmb}
			</if>
			<if test="actualTotalAmount != null and actualTotalAmount != ''">
				AND a.actualTotalAmount = #{actualTotalAmount}
			</if>
			<if test="signerId != null and signerId != ''">
				AND a.signerId = #{signerId}
			</if>
			<if test="signerName != null and signerName != ''">
				AND a.signerName = #{signerName}
			</if>
			<if test="approverId != null and approverId != ''">
				AND a.approverId = #{approverId}
			</if>
			<if test="approverName != null and approverName != ''">
				AND a.approverName = #{approverName}
			</if>
			<if test="approveNeed != null and approveNeed != ''">
				AND a.approveNeed = #{approveNeed}
			</if>
			<if test="approveDate != null and approveDate != ''">
				AND a.approveDate = #{approveDate}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="typeData != null and typeData != ''">
				AND a.typeData = #{typeData}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<if test="searchDateStart != null and searchDateStart != ''">
				AND a.applicantDate >= #{searchDateStart}
			</if>
			<if test="searchDateEnd != null and searchDateEnd != ''">
				AND #{searchDateEnd} >= a.applicantDate
			</if>
			<if test="listDivision != null">
				AND a.applicantDivisionId IN
				<foreach collection="listDivision" item="item" index="index" open="(" separator="," close=")">
					#{item.divisionId}
				</foreach>
			</if>						
			<if test="approverId1 != null and approverId1 != ''">
				AND b.approverId1 = #{approverId1}
			</if>
			<if test="approverId2 != null and approverId2 != ''">
				AND b.approverId2 = #{approverId2}
			</if>
			<if test="approverId3 != null and approverId3 != ''">
				AND b.approverId3 = #{approverId3}
			</if>
			<if test="approverId4 != null and approverId4 != ''">
				AND b.approverId4 = #{approverId4}
			</if>
			<if test="approveStatus1 != null  and approveStatus1 != ''">
				AND b.approveStatus1 = #{approveStatus1}
			</if>
			<if test="approveStatus2 != null  and approveStatus2 != ''">
				AND b.approveStatus2 = #{approveStatus2}
			</if>
			<if test="approveStatus3 != null  and approveStatus3 != ''">
				AND b.approveStatus3 = #{approveStatus3}
			</if>			
			<if test="approveStatus4 != null  and approveStatus4 != ''">
				AND b.approveStatus4 = #{approveStatus4}
			</if>			
			<if test="listStatus != null">
				AND a.status IN
				<foreach collection="listStatus" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="listStatusMain != null">
				AND a.status IN
				<foreach collection="listStatusMain" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>				
			<!-- 刘总审批的情况下 -->
			<if test="approveCondition3  == 'na3'">
				AND
				(
					<!-- 1 一级审批后,没有二级审批人并且三级没有审批 -->
					(
						b.approveStatus1 = 'ap' 
						AND
						(b.approveStatus2 IS NULL OR b.approveStatus2 = '')
					)
					OR
					<!-- 2 二级审批后并且三级没有审批 -->
					(
						b.approveStatus2 = 'ap' 
					)
				)
			</if>			
			<if test="listOrderCategoryLevel2 != null">
				AND b.idCategoryLevel2 IN
				<foreach collection="listOrderCategoryLevel2" item="item" index="index" open="(" separator="," close=")">
					#{item.id}
				</foreach>
			</if>
			<if test="listCustomer != null">
				AND b.customerId1 IN
				<foreach collection="listCustomer" item="item" index="index" open="(" separator="," close=")">
					#{item.divisionId1}
				</foreach>
			</if>						
			<include refid="com.mtf.framework.dao.OrderCategoryServiceConditionMapper.searchWhere"/>
		</where>
		GROUP BY a.id
		) AS o
	</select>
	<select id="selectDetailList" parameterType="java.lang.Object" resultMap="orderCategoryService">
		SELECT 
			<include refid="com.mtf.framework.dao.OrderCategoryServiceConditionMapper.getColumn"/>
			a.id, 
			a.no, 
			a.applicantId, 
			a.applicantName, 
			a.applicantDivisionId, 
			a.applicantDivisionName, 
			a.applicantDate, 
			a.payeeName, 
			a.totalAmount, 
			a.currencyCode, 
			a.exchangeRate, 
			a.totalAmountRmb, 
			a.actualTotalAmount, 
			a.signerId, 
			a.signerName, 
			a.approverId, 
			a.approverName, 
			a.approveNeed, 
			a.approveDate, 
			a.status, 
			a.typeData, 
			a.countDetail, 
			a.countApprove, 
			a.countApprovePercent, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			u.id userId,
			u.displayName userName,
			a.modifiedIp
		FROM orderCategoryService AS a
		LEFT JOIN orderCategoryServiceDetail b ON b.idOrderCategoryService = a.id
		LEFT JOIN user u ON u.id = a.userId
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="userId != null">
				AND a.userId = #{userId}
			</if>
		</where>
	</select>
	
	<select id="getLast" parameterType="java.lang.Object" resultMap="orderCategoryService">
		SELECT 
			a.*
		FROM orderCategoryService AS a
		<where>
			<if test="applicantId != null">
				AND a.applicantId = #{applicantId}
			</if>
		</where>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
		LIMIT 1
	</select>	
</mapper>