<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.OrderServiceRecordMapper" > 
	<resultMap type="com.mtf.framework.model.impl.OrderServiceRecordImpl" id="orderServiceRecord"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="orderServiceRecord">
		INSERT INTO orderServiceRecord
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="idOrderService != null">
					idOrderService,
				</if>
				<if test="applyMonth != null">
					applyMonth,
				</if>
				<if test="date != null">
					date,
				</if>
				<if test="week != null">
					week,
				</if>
				<if test="month != null">
					month,
				</if>
				<if test="weekOfMonth != null">
					weekOfMonth,
				</if>
				<if test="leaderId != null">
					leaderId,
				</if>
				<if test="leaderName != null">
					leaderName,
				</if>
				<if test="approveState1 != null">
					approveState1,
				</if>
				<if test="approveState2 != null">
					approveState2,
				</if>
				<if test="approveDate1 != null">
					approveDate1,
				</if>
				<if test="approveDate2 != null">
					approveDate2,
				</if>
				<if test="approver1 != null">
					approver1,
				</if>
				<if test="approver2 != null">
					approver2,
				</if>
				<if test="approveState != null">
					approveState,
				</if>
				<if test="approveDate != null">
					approveDate,
				</if>
				<if test="approverId != null">
					approverId,
				</if>
				<if test="approverName != null">
					approverName,
				</if>
				<if test="typeRecord != null">
					typeRecord,
				</if>
				<if test="totalAmount != null">
					totalAmount,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="idOrderService != null">
					#{idOrderService},
				</if>
				<if test="applyMonth != null">
					#{applyMonth},
				</if>
				<if test="date != null">
					#{date},
				</if>
				<if test="week != null">
					#{week},
				</if>
				<if test="month != null">
					#{month},
				</if>
				<if test="weekOfMonth != null">
					#{weekOfMonth},
				</if>
				<if test="leaderId != null">
					#{leaderId},
				</if>
				<if test="leaderName != null">
					#{leaderName},
				</if>
				<if test="approveState1 != null">
					#{approveState1},
				</if>
				<if test="approveState2 != null">
					#{approveState2},
				</if>
				<if test="approveDate1 != null">
					#{approveDate1},
				</if>
				<if test="approveDate2 != null">
					#{approveDate2},
				</if>
				<if test="approver1 != null">
					#{approver1},
				</if>
				<if test="approver2 != null">
					#{approver2},
				</if>
				<if test="approveState != null">
					#{approveState},
				</if>
				<if test="approveDate != null">
					#{approveDate},
				</if>
				<if test="approverId != null">
					#{approverId},
				</if>
				<if test="approverName != null">
					#{approverName},
				</if>
				<if test="typeRecord != null">
					#{typeRecord},
				</if>
				<if test="totalAmount != null">
					#{totalAmount},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM orderServiceRecord
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="idOrderService != null and idOrderService != ''">
				AND idOrderService = #{idOrderService}
			</if>
			<if test="applyMonth != null and applyMonth != ''">
				AND applyMonth = #{applyMonth}
			</if>
			<if test="date != null and date != ''">
				AND date = #{date}
			</if>
			<if test="week != null and week != ''">
				AND week = #{week}
			</if>
			<if test="month != null and month != ''">
				AND month = #{month}
			</if>
			<if test="weekOfMonth != null and weekOfMonth != ''">
				AND weekOfMonth = #{weekOfMonth}
			</if>
			<if test="leaderId != null and leaderId != ''">
				AND leaderId = #{leaderId}
			</if>
			<if test="leaderName != null and leaderName != ''">
				AND leaderName = #{leaderName}
			</if>
			<if test="approveState1 != null and approveState1 != ''">
				AND approveState1 = #{approveState1}
			</if>
			<if test="approveState2 != null and approveState2 != ''">
				AND approveState2 = #{approveState2}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND approveDate1 = #{approveDate1}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND approveDate2 = #{approveDate2}
			</if>
			<if test="approver1 != null and approver1 != ''">
				AND approver1 = #{approver1}
			</if>
			<if test="approver2 != null and approver2 != ''">
				AND approver2 = #{approver2}
			</if>
			<if test="approveState != null and approveState != ''">
				AND approveState = #{approveState}
			</if>
			<if test="approveDate != null and approveDate != ''">
				AND approveDate = #{approveDate}
			</if>
			<if test="approverId != null and approverId != ''">
				AND approverId = #{approverId}
			</if>
			<if test="approverName != null and approverName != ''">
				AND approverName = #{approverName}
			</if>
			<if test="typeRecord != null and typeRecord != ''">
				AND typeRecord = #{typeRecord}
			</if>
			<if test="totalAmount != null and totalAmount != ''">
				AND totalAmount = #{totalAmount}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.countWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE orderServiceRecord
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="idOrderService != null and idOrderService != ''">
				idOrderService = #{idOrderService},
			</if>
			<if test="applyMonth != null and applyMonth != ''">
				applyMonth = #{applyMonth},
			</if>
			<if test="date != null and date != ''">
				date = #{date},
			</if>
			<if test="week != null and week != ''">
				week = #{week},
			</if>
			<if test="month != null and month != ''">
				month = #{month},
			</if>
			<if test="weekOfMonth != null and weekOfMonth != ''">
				weekOfMonth = #{weekOfMonth},
			</if>
			<if test="leaderId != null and leaderId != ''">
				leaderId = #{leaderId},
			</if>
			<if test="leaderName != null and leaderName != ''">
				leaderName = #{leaderName},
			</if>
			<if test="approveState1 != null and approveState1 != ''">
				approveState1 = #{approveState1},
			</if>
			<if test="approveState2 != null and approveState2 != ''">
				approveState2 = #{approveState2},
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				approveDate1 = #{approveDate1},
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				approveDate2 = #{approveDate2},
			</if>
			<if test="approver1 != null and approver1 != ''">
				approver1 = #{approver1},
			</if>
			<if test="approver2 != null and approver2 != ''">
				approver2 = #{approver2},
			</if>
			<if test="approveState != null and approveState != ''">
				approveState = #{approveState},
			</if>
			<if test="approveDate != null and approveDate != ''">
				approveDate = #{approveDate},
			</if>
			<if test="approverId != null and approverId != ''">
				approverId = #{approverId},
			</if>
			<if test="approverName != null and approverName != ''">
				approverName = #{approverName},
			</if>
			<if test="typeRecord != null and typeRecord != ''">
				typeRecord = #{typeRecord},
			</if>
			<if test="totalAmount != null">
				totalAmount = #{totalAmount},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="orderServiceRecord">
		SELECT 
			<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.getColumn"/>
			a.id, 
			a.idOrderService, 
			a.applyMonth, 
			a.date, 
			a.week, 
			a.month, 
			a.weekOfMonth, 
			a.leaderId, 
			a.leaderName, 
			a.approveState1, 
			a.approveState2, 
			a.approveDate1, 
			a.approveDate2, 
			a.approver1, 
			a.approver2, 
			a.approveState, 
			a.approveDate, 
			a.approverId, 
			a.approverName, 
			a.typeRecord, 
			a.totalAmount, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM orderServiceRecord AS a
		<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="idOrderService != null">
				AND a.idOrderService = #{idOrderService}
			</if>
			<if test="applyMonth != null">
				AND a.applyMonth = #{applyMonth}
			</if>
			<if test="date != null">
				AND a.date = #{date}
			</if>
			<if test="week != null">
				AND a.week = #{week}
			</if>
			<if test="month != null">
				AND a.month = #{month}
			</if>
			<if test="weekOfMonth != null">
				AND a.weekOfMonth = #{weekOfMonth}
			</if>
			<if test="leaderId != null">
				AND a.leaderId = #{leaderId}
			</if>
			<if test="leaderName != null">
				AND a.leaderName = #{leaderName}
			</if>
			<if test="approveState1 != null">
				AND a.approveState1 = #{approveState1}
			</if>
			<if test="approveState2 != null">
				AND a.approveState2 = #{approveState2}
			</if>
			<if test="approveDate1 != null">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approveDate2 != null">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="approver1 != null">
				AND a.approver1 = #{approver1}
			</if>
			<if test="approver2 != null">
				AND a.approver2 = #{approver2}
			</if>
			<if test="approveState != null">
				AND a.approveState = #{approveState}
			</if>
			<if test="approveDate != null">
				AND a.approveDate = #{approveDate}
			</if>
			<if test="approverId != null">
				AND a.approverId = #{approverId}
			</if>
			<if test="approverName != null">
				AND a.approverName = #{approverName}
			</if>
			<if test="typeRecord != null">
				AND a.typeRecord = #{typeRecord}
			</if>
			<if test="totalAmount != null">
				AND a.totalAmount = #{totalAmount}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.getWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="orderServiceRecord">
		SELECT 
			<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.selectColumn"/>
			a.id, 
			a.idOrderService, 
			a.applyMonth, 
			a.date, 
			a.week, 
			a.month, 
			a.weekOfMonth, 
			a.leaderId, 
			a.leaderName, 
			a.approveState1, 
			a.approveState2, 
			a.approveDate1, 
			a.approveDate2, 
			a.approver1, 
			a.approver2, 
			a.approveState, 
			a.approveDate, 
			a.approverId, 
			a.approverName, 
			a.typeRecord, 
			a.totalAmount, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM orderServiceRecord AS a
		<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.selectFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="idOrderService != null and idOrderService != ''">
				AND a.idOrderService = #{idOrderService}
			</if>
			<if test="applyMonth != null and applyMonth != ''">
				AND a.applyMonth = #{applyMonth}
			</if>
			<if test="date != null and date != ''">
				AND a.date = #{date}
			</if>
			<if test="week != null and week != ''">
				AND a.week = #{week}
			</if>
			<if test="month != null and month != ''">
				AND a.month = #{month}
			</if>
			<if test="weekOfMonth != null and weekOfMonth != ''">
				AND a.weekOfMonth = #{weekOfMonth}
			</if>
			<if test="leaderId != null and leaderId != ''">
				AND a.leaderId = #{leaderId}
			</if>
			<if test="leaderName != null and leaderName != ''">
				AND a.leaderName = #{leaderName}
			</if>
			<if test="approveState1 != null and approveState1 != ''">
				AND a.approveState1 = #{approveState1}
			</if>
			<if test="approveState2 != null and approveState2 != ''">
				AND a.approveState2 = #{approveState2}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="approver1 != null and approver1 != ''">
				AND a.approver1 = #{approver1}
			</if>
			<if test="approver2 != null and approver2 != ''">
				AND a.approver2 = #{approver2}
			</if>
			<if test="approveState != null and approveState != ''">
				AND a.approveState = #{approveState}
			</if>
			<if test="approveDate != null and approveDate != ''">
				AND a.approveDate = #{approveDate}
			</if>
			<if test="approverId != null and approverId != ''">
				AND a.approverId = #{approverId}
			</if>
			<if test="approverName != null and approverName != ''">
				AND a.approverName = #{approverName}
			</if>
			<if test="typeRecord != null and typeRecord != ''">
				AND a.typeRecord = #{typeRecord}
			</if>
			<if test="totalAmount != null and totalAmount != ''">
				AND a.totalAmount = #{totalAmount}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.selectWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM orderServiceRecord AS a
		<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.countFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="idOrderService != null and idOrderService != ''">
				AND a.idOrderService = #{idOrderService}
			</if>
			<if test="applyMonth != null and applyMonth != ''">
				AND a.applyMonth = #{applyMonth}
			</if>
			<if test="date != null and date != ''">
				AND a.date = #{date}
			</if>
			<if test="week != null and week != ''">
				AND a.week = #{week}
			</if>
			<if test="month != null and month != ''">
				AND a.month = #{month}
			</if>
			<if test="weekOfMonth != null and weekOfMonth != ''">
				AND a.weekOfMonth = #{weekOfMonth}
			</if>
			<if test="leaderId != null and leaderId != ''">
				AND a.leaderId = #{leaderId}
			</if>
			<if test="leaderName != null and leaderName != ''">
				AND a.leaderName = #{leaderName}
			</if>
			<if test="approveState1 != null and approveState1 != ''">
				AND a.approveState1 = #{approveState1}
			</if>
			<if test="approveState2 != null and approveState2 != ''">
				AND a.approveState2 = #{approveState2}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="approver1 != null and approver1 != ''">
				AND a.approver1 = #{approver1}
			</if>
			<if test="approver2 != null and approver2 != ''">
				AND a.approver2 = #{approver2}
			</if>
			<if test="approveState != null and approveState != ''">
				AND a.approveState = #{approveState}
			</if>
			<if test="approveDate != null and approveDate != ''">
				AND a.approveDate = #{approveDate}
			</if>
			<if test="approverId != null and approverId != ''">
				AND a.approverId = #{approverId}
			</if>
			<if test="approverName != null and approverName != ''">
				AND a.approverName = #{approverName}
			</if>
			<if test="typeRecord != null and typeRecord != ''">
				AND a.typeRecord = #{typeRecord}
			</if>
			<if test="totalAmount != null and totalAmount != ''">
				AND a.totalAmount = #{totalAmount}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderServiceRecordConditionMapper.countWhere"/>
		</where>
	</select>
</mapper>