<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.PurchaseItemMapper" > 
	<resultMap type="com.mtf.framework.model.impl.PurchaseItemImpl" id="purchaseItem"/> 
	<resultMap id="PurchaseItemMapper" type="PurchaseItemImpl">
		<id property="id" column="id" jdbcType="VARCHAR"/>
		<id property="category1Id" column="category1Id"  jdbcType="VARCHAR"/>
		<id property="category1Name" column="category1Name"  jdbcType="VARCHAR"/>
		<id property="category2Id" column="category2Id"  jdbcType="VARCHAR"/>
		<id property="category2Name" column="category2Name"  jdbcType="VARCHAR"/>
		<id property="description" column="description"  jdbcType="VARCHAR"/>
		<id property="divisionId" column="divisionId"  jdbcType="VARCHAR"/>
		<id property="divisionName" column="divisionName"  jdbcType="VARCHAR"/>
		<id property="customerId" column="customerId"  jdbcType="VARCHAR"/>
		<id property="customerName" column="customerName"  jdbcType="VARCHAR"/>
		<id property="quoteAmount" column="quoteAmount"  jdbcType="DOUBLE"/>
		<id property="purchaseCompleteDate" column="purchaseCompleteDate"  jdbcType="TIMESTAMP"/>
		<id property="isReimbursed" column="isReimbursed"  jdbcType="INTEGER"/>
		
	</resultMap>
	<resultMap id="WithPurchase" type="PurchaseItemImpl" extends="PurchaseItemMapper">
		<association property="purchase" javaType="PurchaseImpl">
			<id column="purchase_id" property="id" jdbcType="VARCHAR" />
			<result column="purchase_no" property="no" jdbcType="VARCHAR" />
			<result column="purchase_quoteCurrencyId" property="quoteCurrencyId" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="purchaseItem">
		INSERT INTO purchaseItem
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="purchaseId != null">
					purchaseId,
				</if>
				<if test="category1Id != null">
					category1Id,
				</if>
				<if test="category1Name != null">
					category1Name,
				</if>
				<if test="category2Id != null">
					category2Id,
				</if>
				<if test="category2Name != null">
					category2Name,
				</if>
				<if test="description != null">
					description,
				</if>
				<if test="divisionId != null">
					divisionId,
				</if>
				<if test="divisionName != null">
					divisionName,
				</if>
				<if test="customerId != null">
					customerId,
				</if>
				<if test="customerName != null">
					customerName,
				</if>
				<if test="quoteAmount != null">
					quoteAmount,
				</if>
				<if test="index != null">
					`index`,
				</if>
				<if test="isPurchased != null">
					isPurchased,
				</if>
				<if test="purchaseCompleteDate != null">
					purchaseCompleteDate,
				</if>
				<if test="isReimbursed != null">
					isReimbursed,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="purchaseId != null">
					#{purchaseId},
				</if>
				<if test="category1Id != null">
					#{category1Id},
				</if>
				<if test="category1Name != null">
					#{category1Name},
				</if>
				<if test="category2Id != null">
					#{category2Id},
				</if>
				<if test="category2Name != null">
					#{category2Name},
				</if>
				<if test="description != null">
					#{description},
				</if>
				<if test="divisionId != null">
					#{divisionId},
				</if>
				<if test="divisionName != null">
					#{divisionName},
				</if>
				<if test="customerId != null">
					#{customerId},
				</if>
				<if test="customerName != null">
					#{customerName},
				</if>
				<if test="quoteAmount != null">
					#{quoteAmount},
				</if>
				<if test="index != null">
					#{index},
				</if>
				<if test="isPurchased != null">
					#{isPurchased},
				</if>
				<if test="purchaseCompleteDate != null">
					#{purchaseCompleteDate},
				</if>
				<if test="isReimbursed != null">
					#{isReimbursed},
				</if>
			</trim>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM purchaseItem
		WHERE
			id = #{id}
	</delete>
	
	<delete id="deleteByPurchaseId" parameterType="java.lang.Object">
		DELETE FROM purchaseItem
		WHERE
			purchaseId = #{purchaseId}
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE purchaseItem
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="purchaseId != null">
				purchaseId = #{purchaseId},
			</if>
			<if test="category1Id != null">
				category1Id = #{category1Id},
			</if>
			<if test="category1Name != null">
				category1Name = #{category1Name},
			</if>
			<if test="category2Id != null">
				category2Id = #{category2Id},
			</if>
			<if test="category2Name != null">
				category2Name = #{category2Name},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="divisionId != null">
				divisionId = #{divisionId},
			</if>
			<if test="divisionName != null">
				divisionName = #{divisionName},
			</if>
			<if test="customerId != null">
				customerId = #{customerId},
			</if>
			<if test="customerName != null">
				customerName = #{customerName},
			</if>
			<if test="quoteAmount != null">
				quoteAmount = #{quoteAmount},
			</if>
			<if test="index != null">
				`index` = #{index},
			</if>
			<if test="isPurchased != null">
				isPurchased = #{isPurchased},
			</if>
			<if test="purchaseCompleteDate != null">
				purchaseCompleteDate = #{purchaseCompleteDate},
			</if>
			<if test="isReimbursed != null">
				isReimbursed = #{isReimbursed},
			</if>
		</set>
		WHERE
			id = #{id}
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="purchaseItem">
		SELECT 
			id, 
			purchaseId, 
			category1Id, 
			category1Name, 
			category2Id, 
			category2Name, 
			description, 
			divisionId, 
			divisionName, 
			customerId, 
			customerName, 
			quoteAmount, 
			`index`, 
			isPurchased, 
			purchaseCompleteDate, 
			isReimbursed
		FROM purchaseItem
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="purchaseId != null">
				AND purchaseId = #{purchaseId}
			</if>
			<if test="category1Id != null">
				AND category1Id = #{category1Id}
			</if>
			<if test="category1Name != null">
				AND category1Name = #{category1Name}
			</if>
			<if test="category2Id != null">
				AND category2Id = #{category2Id}
			</if>
			<if test="category2Name != null">
				AND category2Name = #{category2Name}
			</if>
			<if test="description != null">
				AND description = #{description}
			</if>
			<if test="divisionId != null">
				AND divisionId = #{divisionId}
			</if>
			<if test="divisionName != null">
				AND divisionName = #{divisionName}
			</if>
			<if test="customerId != null">
				AND customerId = #{customerId}
			</if>
			<if test="customerName != null">
				AND customerName = #{customerName}
			</if>
			<if test="quoteAmount != null">
				AND quoteAmount = #{quoteAmount}
			</if>
			<if test="index != null">
				AND `index` = #{index}
			</if>
			<if test="isPurchased != null">
				AND isPurchased = #{isPurchased}
			</if>
			<if test="purchaseCompleteDate != null">
				AND purchaseCompleteDate = #{purchaseCompleteDate}
			</if>
			<if test="isReimbursed != null">
				AND isReimbursed = #{isReimbursed}
			</if>
		</where>
		LIMIT 1
	</select>
	
	<select id="selectWithPurchase" resultMap="WithPurchase">
		SELECT 
			pu.id AS purchase_id,
			pu.no AS purchase_no,
			pu.quoteCurrencyId AS purchase_quoteCurrencyId,
			pui.id, 
			pui.category1Id, 
			pui.category1Name, 
			pui.category2Id, 
			pui.category2Name, 
			pui.purchaseId, 
			pui.description, 
			pui.divisionId, 
			pui.divisionName, 
			pui.customerId, 
			pui.customerName, 
			pui.quoteAmount, 
			pui.`index`, 
			pui.isPurchased, 
			pui.purchaseCompleteDate, 
			pui.isReimbursed
		FROM purchaseItem pui
		INNER JOIN (SELECT * FROM purchase WHERE status = 6) pu ON pu.id = pui.purchaseId
		WHERE 1 = 1
			AND pui.isPurchased = 1
			<if test="record.isReimbursed != null ">
				AND pui.isReimbursed = #{record.isReimbursed}
			</if>
			<if test="no != null and no != ''">
				AND pu.no LIKE CONCAT('%', CONCAT(#{no}, '%'))
			</if>
			<if test="userId != null and userId != ''">
				AND pu.createUserId = #{userId}
			</if>
			<!-- <if test="record.sort != null">
				ORDER BY ${record.sort} ${record.order}
			</if> -->
			<if test="record.sort == null">
				ORDER BY pui.purchaseCompleteDate DESC, pui.`index` ASC
			</if>
		<if test="record.rows != 0">
			LIMIT ${record.startIndex}, ${record.rows}
		</if>
	</select>
	
	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="purchaseItem">
		SELECT 
			id, 
			purchaseId, 
			category1Id, 
			category1Name, 
			category2Id, 
			category2Name, 
			description, 
			divisionId, 
			divisionName, 
			customerId, 
			customerName, 
			quoteAmount, 
			`index`, 
			isPurchased, 
			purchaseCompleteDate, 
			isReimbursed
		FROM purchaseItem
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="purchaseId != null and purchaseId != ''">
				AND purchaseId = #{purchaseId}
			</if>
			<if test="category1Id != null and category1Id != ''">
				AND category1Id = #{category1Id}
			</if>
			<if test="category1Name != null and category1Name != ''">
				AND category1Name = #{category1Name}
			</if>
			<if test="category2Id != null and category2Id != ''">
				AND category2Id = #{category2Id}
			</if>
			<if test="category2Name != null and category2Name != ''">
				AND category2Name = #{category2Name}
			</if>
			<if test="description != null and description != ''">
				AND description = #{description}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND divisionName = #{divisionName}
			</if>
			<if test="customerId != null and customerId != ''">
				AND customerId = #{customerId}
			</if>
			<if test="customerName != null and customerName != ''">
				AND customerName = #{customerName}
			</if>
			<if test="quoteAmount != null and quoteAmount != ''">
				AND quoteAmount = #{quoteAmount}
			</if>
			<if test="index != null and index != ''">
				AND `index` = #{index}
			</if>
			<if test="isPurchased != null and isPurchased != ''">
				AND isPurchased = #{isPurchased}
			</if>
			<if test="purchaseCompleteDate != null and purchaseCompleteDate != ''">
				AND purchaseCompleteDate = #{purchaseCompleteDate}
			</if>
			<if test="isReimbursed != null and isReimbursed != ''">
				AND isReimbursed = #{isReimbursed}
			</if>
			<if test="sort != null">
				ORDER BY ${sort} ${order}
			</if>
		</where>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM purchaseItem
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="purchaseId != null and purchaseId != ''">
				AND purchaseId = #{purchaseId}
			</if>
			<if test="category1Id != null and category1Id != ''">
				AND category1Id = #{category1Id}
			</if>
			<if test="category1Name != null and category1Name != ''">
				AND category1Name = #{category1Name}
			</if>
			<if test="category2Id != null and category2Id != ''">
				AND category2Id = #{category2Id}
			</if>
			<if test="category2Name != null and category2Name != ''">
				AND category2Name = #{category2Name}
			</if>
			<if test="description != null and description != ''">
				AND description = #{description}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND divisionName = #{divisionName}
			</if>
			<if test="customerId != null and customerId != ''">
				AND customerId = #{customerId}
			</if>
			<if test="customerName != null and customerName != ''">
				AND customerName = #{customerName}
			</if>
			<if test="quoteAmount != null and quoteAmount != ''">
				AND quoteAmount = #{quoteAmount}
			</if>
			<if test="index != null and index != ''">
				AND `index` = #{index}
			</if>
			<if test="isPurchased != null and isPurchased != ''">
				AND isPurchased = #{isPurchased}
			</if>
			<if test="purchaseCompleteDate != null and purchaseCompleteDate != ''">
				AND purchaseCompleteDate = #{purchaseCompleteDate}
			</if>
			<if test="isReimbursed != null and isReimbursed != ''">
				AND isReimbursed = #{isReimbursed}
			</if>
		</where>
	</select>
</mapper>