<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.QuestionnaireMapper" > 
	<resultMap type="com.mtf.framework.model.impl.QuestionnaireImpl" id="questionnaire"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="questionnaire">
		INSERT INTO questionnaire
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="title != null">
					title,
				</if>
				<if test="description != null">
					description,
				</if>
				<if test="type != null">
					type,
				</if>
				<if test="status != null">
					status,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="modifyDate != null">
					modifyDate,
				</if>
				<if test="modifyIp != null">
					modifyIp,
				</if>
				<if test="modifyUser != null">
					modifyUser,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="title != null">
					#{title},
				</if>
				<if test="description != null">
					#{description},
				</if>
				<if test="type != null">
					#{type},
				</if>
				<if test="status != null">
					#{status},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="modifyDate != null">
					#{modifyDate},
				</if>
				<if test="modifyIp != null">
					#{modifyIp},
				</if>
				<if test="modifyUser != null">
					#{modifyUser},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM questionnaire
		WHERE
			id = #{id}
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE questionnaire
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="title != null">
				title = #{title},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="addDate != null">
				addDate = #{addDate},
			</if>
			<if test="addIp != null">
				addIp = #{addIp},
			</if>
			<if test="addUser != null">
				addUser = #{addUser},
			</if>
			<if test="modifyDate != null">
				modifyDate = #{modifyDate},
			</if>
			<if test="modifyIp != null">
				modifyIp = #{modifyIp},
			</if>
			<if test="modifyUser != null">
				modifyUser = #{modifyUser},
			</if>
		</set>
		WHERE
			id = #{id}
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="questionnaire">
		SELECT 
			id, 
			title, 
			description, 
			type, 
			status, 
			addDate, 
			addIp, 
			addUser, 
			modifyDate, 
			modifyIp, 
			modifyUser
		FROM questionnaire
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="title != null">
				AND title = #{title}
			</if>
			<if test="description != null">
				AND description = #{description}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="addIp != null">
				AND addIp = #{addIp}
			</if>
			<if test="addUser != null">
				AND addUser = #{addUser}
			</if>
			<if test="modifyDate != null">
				AND modifyDate = #{modifyDate}
			</if>
			<if test="modifyIp != null">
				AND modifyIp = #{modifyIp}
			</if>
			<if test="modifyUser != null">
				AND modifyUser = #{modifyUser}
			</if>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="questionnaire">
		SELECT 
			id, 
			title, 
			description, 
			type, 
			status, 
			DATE_FORMAT(addDate, '%Y-%m-%d %H:%i') AS showAddDate,
			addDate, 
			addIp, 
			addUser, 
			modifyDate, 
			modifyIp, 
			modifyUser
		FROM questionnaire
		<where>
		1=1
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="title != null">
				AND title = #{title}
			</if>
			<if test="description != null">
				AND description = #{description}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="addIp != null">
				AND addIp = #{addIp}
			</if>
			<if test="addUser != null">
				AND addUser = #{addUser}
			</if>
			<if test="modifyDate != null">
				AND modifyDate = #{modifyDate}
			</if>
			<if test="modifyIp != null">
				AND modifyIp = #{modifyIp}
			</if>
			<if test="modifyUser != null">
				AND modifyUser = #{modifyUser}
			</if>
			<if test="sort != null">
				ORDER BY ${sort} ${order}
			</if>
		</where>
		LIMIT ${startIndex}, ${rows}
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM questionnaire
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="title != null">
				AND title = #{title}
			</if>
			<if test="description != null">
				AND description = #{description}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="addIp != null">
				AND addIp = #{addIp}
			</if>
			<if test="addUser != null">
				AND addUser = #{addUser}
			</if>
			<if test="modifyDate != null">
				AND modifyDate = #{modifyDate}
			</if>
			<if test="modifyIp != null">
				AND modifyIp = #{modifyIp}
			</if>
			<if test="modifyUser != null">
				AND modifyUser = #{modifyUser}
			</if>
		</where>
	</select>
</mapper>