<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.RolePermissionConditionMapper" > 
	<resultMap type="com.mtf.framework.model.impl.RolePermissionImpl" id="rolePermission"/> 
	<sql id="deleteCondition">
		roleId = #{roleId}
	</sql>
	
	<sql id="selectCondition">
		<where>
			<if test="listRolePermissionInit != null">
				roleId in
				<foreach item="rolePermission" index="index" collection="listRolePermissionInit" open="("
					separator="," close=")">
					#{rolePermission}
				</foreach>
			</if>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="roleId != null and roleId != ''">
				AND roleId = #{roleId}
			</if>
			<if test="code != null and code != ''">
				AND code = #{code}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
		
			<if test="sort != null">
				ORDER BY ${sort} ${order}
			</if>
	
		</where>
	</sql>
	
	<!-- 查询单个实体对象 -->
	<select id="selectLoginPermission" parameterType="java.lang.Object" resultMap="rolePermission" >
		 SELECT 
			code,
			roleId
		FROM rolePermission
		<where>
			<if test="listRolePermissionInit != null">
				roleId in
				<foreach item="rolePermission" index="index" collection="listRolePermissionInit" open="("
					separator="," close=")">
					#{rolePermission}
				</foreach>
			</if>
		</where>
	</select>	
	
	<sql id="getColumn">
	( SELECT userdetail.userId FROM userdetail WHERE userdetail.userId = ur.userId) userId,
		b.id, 
		b.name, 
		b.typePermission, 
		b.typeData, 
		b.typeSys, 
		b.type, 
		b.code, 
		b.parentCode, 
		b.level, 
		b.bag, 
		b.clazz, 
		b.method, 
		b.parameter, 
		b.parameterVal, 
		b.skipUrl, 
		b.value1, 
		b.value2, 
		b.value3, 
		b.value4, 
		b.remark, 	
	</sql>

	<sql id="getFrom">
		LEFT JOIN permission b ON b.code = a.code
		LEFT JOIN role c ON c.id = a.roleId
		LEFT JOIN userrole ur ON ur.roleId = c.id
	</sql>

	<sql id="getWhere">
		<if test="value1 != null and value1 != ''">
			AND b.value1 = #{value1}
		</if>
		<if test="typeIdRole != null and typeIdRole != ''">
			AND c.typeId = #{typeIdRole}
		</if>
	</sql>

	<sql id="selectColumn">
	</sql>

	<sql id="selectFrom">
	</sql>

	<sql id="selectWhere">
	</sql>

	<sql id="countFrom">
		
	</sql>

	<sql id="searchFrom">
		
	</sql>

	<sql id="countWhere">
		
	</sql>

	<sql id="searchWhere">
		
	</sql>

	<sql id="updateColumn">
		
	</sql>

	<sql id="updateWhere">
		id = #{id}
	</sql>
	
	<resultMap type="java.util.HashMap" id="resultMap-UserMap2">  
		<result property="code" column="code"/>  
	</resultMap> 
 	<select id="selectMap" resultMap="resultMap-UserMap2">
		SELECT 
			a.`code`
		FROM
			rolePermission a
		LEFT JOIN divisionRole b ON (b.roleId = a.roleId)
		<where>
			<if test="roleId != null and roleId != ''">
				AND a.roleId = #{roleId}
			</if>
			<if test="parentCode != null and parentCode != ''">
				AND a.parentCode = #{parentCode}
			</if>
			<if test="typeSys != null and typeSys != ''">
				AND a.typeSys = #{typeSys}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="typeId != null and typeId != ''">
				AND b.divisionId = #{typeId}
			</if>
		</where>
	</select>
 	<select id="selectRolePermissionSys" resultMap="rolePermission">
		SELECT 
			o.name,
			o.level,
			o.pid,
			s.* 
		FROM rolePermission s
		LEFT JOIN orderCategory o ON o.id = s.`code`
		<where>
			<if test="roleId != null and roleId != ''">
				AND s.roleId = #{roleId}
			</if>
			<if test="parentCode != null and parentCode != ''">
				AND s.parentCode = #{parentCode}
			</if>
			<if test="typeSys != null and typeSys != ''">
				AND s.typeSys = #{typeSys}
			</if>
			<if test="type != null and type != ''">
				AND s.type = #{type}
			</if>
			<if test="typeId != null and typeId != ''">
				AND s.typeId = #{typeId}
			</if>
			<if test="typeData != null and typeData != ''">
				AND o.typeData = #{typeData}
			</if>
		</where>
	</select>
 	<select id="selectRolePermissionDiv" resultMap="rolePermission">
		SELECT
			o.name,
			o.level,
			o.pid,
			dr.divisionId typeId,
			dr.roleId,
			d.*
		FROM
			rolePermission d
		LEFT JOIN divisionRole dr ON (dr.roleId = d.roleId)
		LEFT JOIN orderCategory o ON o.id = d.`code`
		<where>
			<if test="roleId != null and roleId != ''">
				AND d.roleId = #{roleId}
			</if>
			<if test="parentCode != null and parentCode != ''">
				AND d.parentCode = #{parentCode}
			</if>
			<if test="typeSys != null and typeSys != ''">
				AND d.typeSys = #{typeSys}
			</if>
			<if test="type != null and type != ''">
				AND d.type = #{type}
			</if>
			<if test="typeId != null and typeId != ''">
				AND d.typeId = #{typeId}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND dr.divisionId = #{divisionId}
			</if>
			<if test="typeData != null and typeData != ''">
				AND o.typeData = #{typeData}
			</if>
		</where>
	</select>
 	<select id="selectRolePermissionUser" resultMap="rolePermission">
		SELECT 
			o.name,
			o.level,
			o.pid,
			u.*
		FROM rolePermission u
		LEFT JOIN userrole ur ON ur.roleId = u.roleId
		LEFT JOIN orderCategory o ON o.id = u.`code`
		<where>
			<if test="userId != null and userId != ''">
				AND ur.userId = #{userId}
			</if>
			<if test="roleId != null and roleId != ''">
				AND u.roleId = #{roleId}
			</if>
			<if test="parentCode != null and parentCode != ''">
				AND u.parentCode = #{parentCode}
			</if>
			<if test="typeSys != null and typeSys != ''">
				AND u.typeSys = #{typeSys}
			</if>
			<if test="type != null and type != ''">
				AND u.type = #{type}
			</if>
			<if test="typeId != null and typeId != ''">
				AND u.typeId = #{typeId}
			</if>
			<if test="typeData != null and typeData != ''">
				AND o.typeData = #{typeData}
			</if>			
		</where>
	</select>
</mapper>