<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.RolePermissionMapper" > 
	<resultMap type="com.mtf.framework.model.impl.RolePermissionImpl" id="rolePermission"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="rolePermission">
		INSERT INTO rolePermission
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="roleId != null">
					roleId,
				</if>
				<if test="code != null">
					code,
				</if>
				<if test="parentCode != null">
					parentCode,
				</if>
				<if test="type != null">
					type,
				</if>
				<if test="typeId != null">
					typeId,
				</if>
				<if test="typeSys != null">
					typeSys,
				</if>
				<if test="haveExtends != null">
					haveExtends,
				</if>
				<if test="haveCode != null">
					haveCode,
				</if>
				<if test="approver1 != null">
					approver1,
				</if>
				<if test="approver2 != null">
					approver2,
				</if>
				<if test="approver3 != null">
					approver3,
				</if>
				<if test="approver1Limit != null">
					approver1Limit,
				</if>
				<if test="approver1LimitRuleId != null">
					approver1LimitRuleId,
				</if>
				<if test="approver1AmonutLower != null">
					approver1AmonutLower,
				</if>
				<if test="approver1AmonutUpper != null">
					approver1AmonutUpper,
				</if>
				<if test="approver2Limit != null">
					approver2Limit,
				</if>
				<if test="approver3Limit != null">
					approver3Limit,
				</if>
				<if test="approveType != null">
					approveType,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="roleId != null">
					#{roleId},
				</if>
				<if test="code != null">
					#{code},
				</if>
				<if test="parentCode != null">
					#{parentCode},
				</if>
				<if test="type != null">
					#{type},
				</if>
				<if test="typeId != null">
					#{typeId},
				</if>
				<if test="typeSys != null">
					#{typeSys},
				</if>
				<if test="haveExtends != null">
					#{haveExtends},
				</if>
				<if test="haveCode != null">
					#{haveCode},
				</if>
				<if test="approver1 != null">
					#{approver1},
				</if>
				<if test="approver2 != null">
					#{approver2},
				</if>
				<if test="approver3 != null">
					#{approver3},
				</if>
				<if test="approver1Limit != null">
					#{approver1Limit},
				</if>
				<if test="approver1LimitRuleId != null">
					#{approver1LimitRuleId},
				</if>
				<if test="approver1AmonutLower != null">
					#{approver1AmonutLower},
				</if>
				<if test="approver1AmonutUpper != null">
					#{approver1AmonutUpper},
				</if>
				<if test="approver2Limit != null">
					#{approver2Limit},
				</if>
				<if test="approver3Limit != null">
					#{approver3Limit},
				</if>
				<if test="approveType != null">
					#{approveType},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM rolePermission
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="roleId != null and roleId != ''">
				AND roleId = #{roleId}
			</if>
			<if test="code != null and code != ''">
				AND code = #{code}
			</if>
			<if test="parentCode != null and parentCode != ''">
				AND parentCode = #{parentCode}
			</if>
			<if test="type != null and type != ''">
				AND type = #{type}
			</if>
			<if test="typeId != null and typeId != ''">
				AND typeId = #{typeId}
			</if>
			<if test="typeSys != null and typeSys != ''">
				AND typeSys = #{typeSys}
			</if>
			<if test="haveExtends != null and haveExtends != ''">
				AND haveExtends = #{haveExtends}
			</if>
			<if test="haveCode != null and haveCode != ''">
				AND haveCode = #{haveCode}
			</if>
			<if test="approver1 != null and approver1 != ''">
				AND approver1 = #{approver1}
			</if>
			<if test="approver2 != null and approver2 != ''">
				AND approver2 = #{approver2}
			</if>
			<if test="approver3 != null and approver3 != ''">
				AND approver3 = #{approver3}
			</if>
			<if test="approver1Limit != null and approver1Limit != ''">
				AND approver1Limit = #{approver1Limit}
			</if>
			<if test="approver1LimitRuleId != null and approver1LimitRuleId != ''">
				AND approver1LimitRuleId = #{approver1LimitRuleId}
			</if>
			<if test="approver1AmonutLower != null and approver1AmonutLower != ''">
				AND approver1AmonutLower = #{approver1AmonutLower}
			</if>
			<if test="approver1AmonutUpper != null and approver1AmonutUpper != ''">
				AND approver1AmonutUpper = #{approver1AmonutUpper}
			</if>
			<if test="approver2Limit != null and approver2Limit != ''">
				AND approver2Limit = #{approver2Limit}
			</if>
			<if test="approver3Limit != null and approver3Limit != ''">
				AND approver3Limit = #{approver3Limit}
			</if>
			<if test="approveType != null and approveType != ''">
				AND approveType = #{approveType}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.countWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE rolePermission
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="roleId != null and roleId != ''">
				roleId = #{roleId},
			</if>
			<if test="code != null and code != ''">
				code = #{code},
			</if>
			<if test="parentCode != null and parentCode != ''">
				parentCode = #{parentCode},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="typeId != null and typeId != ''">
				typeId = #{typeId},
			</if>
			<if test="typeSys != null and typeSys != ''">
				typeSys = #{typeSys},
			</if>
			<if test="haveExtends != null and haveExtends != ''">
				haveExtends = #{haveExtends},
			</if>
			<if test="haveCode != null and haveCode != ''">
				haveCode = #{haveCode},
			</if>
			<if test="approver1 != null and approver1 != ''">
				approver1 = #{approver1},
			</if>
			<if test="approver2 != null and approver2 != ''">
				approver2 = #{approver2},
			</if>
			<if test="approver3 != null and approver3 != ''">
				approver3 = #{approver3},
			</if>
			<if test="approver1Limit != null and approver1Limit != ''">
				approver1Limit = #{approver1Limit},
			</if>
			<if test="approver1LimitRuleId != null and approver1LimitRuleId != ''">
				approver1LimitRuleId = #{approver1LimitRuleId},
			</if>
			<if test="approver1AmonutLower != null">
				approver1AmonutLower = #{approver1AmonutLower},
			</if>
			<if test="approver1AmonutUpper != null">
				approver1AmonutUpper = #{approver1AmonutUpper},
			</if>
			<if test="approver2Limit != null and approver2Limit != ''">
				approver2Limit = #{approver2Limit},
			</if>
			<if test="approver3Limit != null and approver3Limit != ''">
				approver3Limit = #{approver3Limit},
			</if>
			<if test="approveType != null and approveType != ''">
				approveType = #{approveType},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="rolePermission">
		SELECT 
			<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.getColumn"/>
			a.id, 
			a.roleId, 
			a.code, 
			a.parentCode, 
			a.type, 
			a.typeId, 
			a.typeSys, 
			a.haveExtends, 
			a.haveCode, 
			a.approver1, 
			a.approver2, 
			a.approver3, 
			a.approver1Limit, 
			a.approver1LimitRuleId, 
			a.approver1AmonutLower, 
			a.approver1AmonutUpper, 
			a.approver2Limit, 
			a.approver3Limit, 
			a.approveType, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM rolePermission AS a
		<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="roleId != null">
				AND a.roleId = #{roleId}
			</if>
			<if test="code != null">
				AND a.code = #{code}
			</if>
			<if test="parentCode != null">
				AND a.parentCode = #{parentCode}
			</if>
			<if test="type != null">
				AND a.type = #{type}
			</if>
			<if test="typeId != null">
				AND a.typeId = #{typeId}
			</if>
			<if test="typeSys != null">
				AND a.typeSys = #{typeSys}
			</if>
			<if test="haveExtends != null">
				AND a.haveExtends = #{haveExtends}
			</if>
			<if test="haveCode != null">
				AND a.haveCode = #{haveCode}
			</if>
			<if test="approver1 != null">
				AND a.approver1 = #{approver1}
			</if>
			<if test="approver2 != null">
				AND a.approver2 = #{approver2}
			</if>
			<if test="approver3 != null">
				AND a.approver3 = #{approver3}
			</if>
			<if test="approver1Limit != null">
				AND a.approver1Limit = #{approver1Limit}
			</if>
			<if test="approver1LimitRuleId != null">
				AND a.approver1LimitRuleId = #{approver1LimitRuleId}
			</if>
			<if test="approver1AmonutLower != null">
				AND a.approver1AmonutLower = #{approver1AmonutLower}
			</if>
			<if test="approver1AmonutUpper != null">
				AND a.approver1AmonutUpper = #{approver1AmonutUpper}
			</if>
			<if test="approver2Limit != null">
				AND a.approver2Limit = #{approver2Limit}
			</if>
			<if test="approver3Limit != null">
				AND a.approver3Limit = #{approver3Limit}
			</if>
			<if test="approveType != null">
				AND a.approveType = #{approveType}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.getWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="rolePermission">
		SELECT 
			<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.selectColumn"/>
			a.id, 
			a.roleId, 
			a.code, 
			a.parentCode, 
			a.type, 
			a.typeId, 
			a.typeSys, 
			a.haveExtends, 
			a.haveCode, 
			a.approver1, 
			a.approver2, 
			a.approver3, 
			a.approver1Limit, 
			a.approver1LimitRuleId, 
			a.approver1AmonutLower, 
			a.approver1AmonutUpper, 
			a.approver2Limit, 
			a.approver3Limit, 
			a.approveType, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM rolePermission AS a
		<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.selectFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="roleId != null and roleId != ''">
				AND a.roleId = #{roleId}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="parentCode != null and parentCode != ''">
				AND a.parentCode = #{parentCode}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="typeId != null and typeId != ''">
				AND a.typeId = #{typeId}
			</if>
			<if test="typeSys != null and typeSys != ''">
				AND a.typeSys = #{typeSys}
			</if>
			<if test="haveExtends != null and haveExtends != ''">
				AND a.haveExtends = #{haveExtends}
			</if>
			<if test="haveCode != null and haveCode != ''">
				AND a.haveCode = #{haveCode}
			</if>
			<if test="approver1 != null and approver1 != ''">
				AND a.approver1 = #{approver1}
			</if>
			<if test="approver2 != null and approver2 != ''">
				AND a.approver2 = #{approver2}
			</if>
			<if test="approver3 != null and approver3 != ''">
				AND a.approver3 = #{approver3}
			</if>
			<if test="approver1Limit != null and approver1Limit != ''">
				AND a.approver1Limit = #{approver1Limit}
			</if>
			<if test="approver1LimitRuleId != null and approver1LimitRuleId != ''">
				AND a.approver1LimitRuleId = #{approver1LimitRuleId}
			</if>
			<if test="approver1AmonutLower != null and approver1AmonutLower != ''">
				AND a.approver1AmonutLower = #{approver1AmonutLower}
			</if>
			<if test="approver1AmonutUpper != null and approver1AmonutUpper != ''">
				AND a.approver1AmonutUpper = #{approver1AmonutUpper}
			</if>
			<if test="approver2Limit != null and approver2Limit != ''">
				AND a.approver2Limit = #{approver2Limit}
			</if>
			<if test="approver3Limit != null and approver3Limit != ''">
				AND a.approver3Limit = #{approver3Limit}
			</if>
			<if test="approveType != null and approveType != ''">
				AND a.approveType = #{approveType}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.selectWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM rolePermission AS a
		<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.countFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="roleId != null and roleId != ''">
				AND a.roleId = #{roleId}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="parentCode != null and parentCode != ''">
				AND a.parentCode = #{parentCode}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="typeId != null and typeId != ''">
				AND a.typeId = #{typeId}
			</if>
			<if test="typeSys != null and typeSys != ''">
				AND a.typeSys = #{typeSys}
			</if>
			<if test="haveExtends != null and haveExtends != ''">
				AND a.haveExtends = #{haveExtends}
			</if>
			<if test="haveCode != null and haveCode != ''">
				AND a.haveCode = #{haveCode}
			</if>
			<if test="approver1 != null and approver1 != ''">
				AND a.approver1 = #{approver1}
			</if>
			<if test="approver2 != null and approver2 != ''">
				AND a.approver2 = #{approver2}
			</if>
			<if test="approver3 != null and approver3 != ''">
				AND a.approver3 = #{approver3}
			</if>
			<if test="approver1Limit != null and approver1Limit != ''">
				AND a.approver1Limit = #{approver1Limit}
			</if>
			<if test="approver1LimitRuleId != null and approver1LimitRuleId != ''">
				AND a.approver1LimitRuleId = #{approver1LimitRuleId}
			</if>
			<if test="approver1AmonutLower != null and approver1AmonutLower != ''">
				AND a.approver1AmonutLower = #{approver1AmonutLower}
			</if>
			<if test="approver1AmonutUpper != null and approver1AmonutUpper != ''">
				AND a.approver1AmonutUpper = #{approver1AmonutUpper}
			</if>
			<if test="approver2Limit != null and approver2Limit != ''">
				AND a.approver2Limit = #{approver2Limit}
			</if>
			<if test="approver3Limit != null and approver3Limit != ''">
				AND a.approver3Limit = #{approver3Limit}
			</if>
			<if test="approveType != null and approveType != ''">
				AND a.approveType = #{approveType}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.RolePermissionConditionMapper.countWhere"/>
		</where>
	</select>
</mapper>