<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.SelecterMapper" > 
	<resultMap type="com.mtf.framework.model.impl.SelecterImpl" id="selecter"/> 
	<resultMap type="java.util.HashMap" id="answerMap">
	<result column="questionId" property="key"/>
	<result column="id" property="value"/>
	</resultMap>
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="selecter">
		INSERT INTO selecter
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="questionId != null">
					questionId,
				</if>
				<if test="quesId != null">
					quesId,
				</if>
				<if test="content != null">
					content,
				</if>
				<if test="number != null">
					number,
				</if>
				<if test="answer != null">
					answer,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="questionId != null">
					#{questionId},
				</if>
				<if test="quesId != null">
					#{quesId},
				</if>
				<if test="content != null">
					#{content},
				</if>
				<if test="number != null">
					#{number},
				</if>
				<if test="answer != null">
					#{answer},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM selecter
		WHERE
				1=1
			<if test="id != null">
				AND	id = #{id}
			</if>
			<if test="quesId != null">
				AND	quesId = #{quesId}
			</if>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE selecter
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="questionId != null">
				questionId = #{questionId},
			</if>
			<if test="quesId != null">
				quesId = #{quesId},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="number != null">
				number = #{number},
			</if>
			<if test="answer != null">
				answer = #{answer},
			</if>
		</set>
		WHERE
			id = #{id}
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="selecter">
		SELECT 
			id, 
			questionId, 
			quesId, 
			content, 
			number, 
			answer
		FROM selecter
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="questionId != null">
				AND questionId = #{questionId}
			</if>
			<if test="quesId != null">
				AND quesId = #{quesId}
			</if>
			<if test="content != null">
				AND content = #{content}
			</if>
			<if test="number != null">
				AND number = #{number}
			</if>
			<if test="answer != null">
				AND answer = #{answer}
			</if>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="selecter">
		SELECT 
			id, 
			questionId, 
			quesId, 
			content, 
			number, 
			answer
		FROM selecter
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="questionId != null">
				AND questionId = #{questionId}
			</if>
			<if test="quesId != null">
				AND quesId = #{quesId}
			</if>
			<if test="content != null">
				AND content = #{content}
			</if>
			<if test="number != null">
				AND number = #{number}
			</if>
			<if test="answer != null">
				AND answer = #{answer}
			</if>
			<if test="sort != null">
				ORDER BY ${sort} ${order}
			</if>
		</where>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM selecter
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="questionId != null">
				AND questionId = #{questionId}
			</if>
			<if test="quesId != null">
				AND quesId = #{quesId}
			</if>
			<if test="content != null">
				AND content = #{content}
			</if>
			<if test="number != null">
				AND number = #{number}
			</if>
			<if test="answer != null">
				AND answer = #{answer}
			</if>
		</where>
	</select>
	<select id="selectAnswer" parameterType="java.lang.Object" resultType="java.util.HashMap">
	 SELECT questionId,id
	FROM selecter 
	WHERE quesId = #{quesId} AND answer = 'y'
	</select>
</mapper>