<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.SysTempMapper" > 
	<resultMap type="com.mtf.framework.model.impl.SysTempImpl" id="sysTemp"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="sysTemp">
		INSERT INTO sysTemp
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="content != null">
					content,
				</if>
				<if test="userId != null">
					userId,
				</if>
				<if test="userName != null">
					userName,
				</if>
				<if test="type != null">
					type,
				</if>
				<if test="tag != null">
					tag,
				</if>
				<if test="log != null">
					log,
				</if>
				<if test="text1 != null">
					text1,
				</if>
				<if test="text2 != null">
					text2,
				</if>
				<if test="text3 != null">
					text3,
				</if>
				<if test="text4 != null">
					text4,
				</if>
				<if test="text5 != null">
					text5,
				</if>
				<if test="text6 != null">
					text6,
				</if>
				<if test="text7 != null">
					text7,
				</if>
				<if test="text8 != null">
					text8,
				</if>
				<if test="text9 != null">
					text9,
				</if>
				<if test="text10 != null">
					text10,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="addMac != null">
					addMac,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
				<if test="modifiedMac != null">
					modifiedMac,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="content != null">
					#{content},
				</if>
				<if test="userId != null">
					#{userId},
				</if>
				<if test="userName != null">
					#{userName},
				</if>
				<if test="type != null">
					#{type},
				</if>
				<if test="tag != null">
					#{tag},
				</if>
				<if test="log != null">
					#{log},
				</if>
				<if test="text1 != null">
					#{text1},
				</if>
				<if test="text2 != null">
					#{text2},
				</if>
				<if test="text3 != null">
					#{text3},
				</if>
				<if test="text4 != null">
					#{text4},
				</if>
				<if test="text5 != null">
					#{text5},
				</if>
				<if test="text6 != null">
					#{text6},
				</if>
				<if test="text7 != null">
					#{text7},
				</if>
				<if test="text8 != null">
					#{text8},
				</if>
				<if test="text9 != null">
					#{text9},
				</if>
				<if test="text10 != null">
					#{text10},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="addMac != null">
					#{addMac},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
				<if test="modifiedMac != null">
					#{modifiedMac},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM sysTemp
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="content != null and content != ''">
				AND content = #{content}
			</if>
			<if test="userId != null and userId != ''">
				AND userId = #{userId}
			</if>
			<if test="userName != null and userName != ''">
				AND userName = #{userName}
			</if>
			<if test="type != null and type != ''">
				AND type = #{type}
			</if>
			<if test="tag != null and tag != ''">
				AND tag = #{tag}
			</if>
			<if test="log != null and log != ''">
				AND log = #{log}
			</if>
			<if test="text1 != null and text1 != ''">
				AND text1 = #{text1}
			</if>
			<if test="text2 != null and text2 != ''">
				AND text2 = #{text2}
			</if>
			<if test="text3 != null and text3 != ''">
				AND text3 = #{text3}
			</if>
			<if test="text4 != null and text4 != ''">
				AND text4 = #{text4}
			</if>
			<if test="text5 != null and text5 != ''">
				AND text5 = #{text5}
			</if>
			<if test="text6 != null and text6 != ''">
				AND text6 = #{text6}
			</if>
			<if test="text7 != null and text7 != ''">
				AND text7 = #{text7}
			</if>
			<if test="text8 != null and text8 != ''">
				AND text8 = #{text8}
			</if>
			<if test="text9 != null and text9 != ''">
				AND text9 = #{text9}
			</if>
			<if test="text10 != null and text10 != ''">
				AND text10 = #{text10}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="addMac != null and addMac != ''">
				AND addMac = #{addMac}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<if test="modifiedMac != null and modifiedMac != ''">
				AND modifiedMac = #{modifiedMac}
			</if>
			<include refid="com.mtf.framework.dao.SysTempConditionMapper.searchWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE sysTemp
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="content != null and content != ''">
				content = #{content},
			</if>
			<if test="userId != null and userId != ''">
				userId = #{userId},
			</if>
			<if test="userName != null and userName != ''">
				userName = #{userName},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="tag != null and tag != ''">
				tag = #{tag},
			</if>
			<if test="log != null and log != ''">
				log = #{log},
			</if>
			<if test="text1 != null and text1 != ''">
				text1 = #{text1},
			</if>
			<if test="text2 != null and text2 != ''">
				text2 = #{text2},
			</if>
			<if test="text3 != null and text3 != ''">
				text3 = #{text3},
			</if>
			<if test="text4 != null and text4 != ''">
				text4 = #{text4},
			</if>
			<if test="text5 != null and text5 != ''">
				text5 = #{text5},
			</if>
			<if test="text6 != null and text6 != ''">
				text6 = #{text6},
			</if>
			<if test="text7 != null and text7 != ''">
				text7 = #{text7},
			</if>
			<if test="text8 != null and text8 != ''">
				text8 = #{text8},
			</if>
			<if test="text9 != null and text9 != ''">
				text9 = #{text9},
			</if>
			<if test="text10 != null and text10 != ''">
				text10 = #{text10},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="addMac != null and addMac != ''">
				addMac = #{addMac},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<if test="modifiedMac != null and modifiedMac != ''">
				modifiedMac = #{modifiedMac},
			</if>
			<include refid="com.mtf.framework.dao.SysTempConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.SysTempConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="sysTemp">
		SELECT 
			<include refid="com.mtf.framework.dao.SysTempConditionMapper.getColumn"/>
			a.id, 
			a.content, 
			a.userId, 
			a.userName, 
			a.type, 
			a.tag, 
			a.log, 
			a.text1, 
			a.text2, 
			a.text3, 
			a.text4, 
			a.text5, 
			a.text6, 
			a.text7, 
			a.text8, 
			a.text9, 
			a.text10, 
			a.remark, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.addMac, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp, 
			a.modifiedMac
		FROM sysTemp AS a
		<include refid="com.mtf.framework.dao.SysTempConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="content != null">
				AND a.content = #{content}
			</if>
			<if test="userId != null">
				AND a.userId = #{userId}
			</if>
			<if test="userName != null">
				AND a.userName = #{userName}
			</if>
			<if test="type != null">
				AND a.type = #{type}
			</if>
			<if test="tag != null">
				AND a.tag = #{tag}
			</if>
			<if test="log != null">
				AND a.log = #{log}
			</if>
			<if test="text1 != null">
				AND a.text1 = #{text1}
			</if>
			<if test="text2 != null">
				AND a.text2 = #{text2}
			</if>
			<if test="text3 != null">
				AND a.text3 = #{text3}
			</if>
			<if test="text4 != null">
				AND a.text4 = #{text4}
			</if>
			<if test="text5 != null">
				AND a.text5 = #{text5}
			</if>
			<if test="text6 != null">
				AND a.text6 = #{text6}
			</if>
			<if test="text7 != null">
				AND a.text7 = #{text7}
			</if>
			<if test="text8 != null">
				AND a.text8 = #{text8}
			</if>
			<if test="text9 != null">
				AND a.text9 = #{text9}
			</if>
			<if test="text10 != null">
				AND a.text10 = #{text10}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="addMac != null">
				AND a.addMac = #{addMac}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<if test="modifiedMac != null">
				AND a.modifiedMac = #{modifiedMac}
			</if>
			<include refid="com.mtf.framework.dao.SysTempConditionMapper.getWhere"/>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="sysTemp">
		SELECT 
			<include refid="com.mtf.framework.dao.SysTempConditionMapper.selectColumn"/>
			a.id, 
			a.content, 
			a.userId, 
			a.userName, 
			a.type, 
			a.tag, 
			a.log, 
			a.text1, 
			a.text2, 
			a.text3, 
			a.text4, 
			a.text5, 
			a.text6, 
			a.text7, 
			a.text8, 
			a.text9, 
			a.text10, 
			a.remark, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.addMac, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp, 
			a.modifiedMac
		FROM sysTemp AS a
		<include refid="com.mtf.framework.dao.SysTempConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="content != null and content != ''">
				AND a.content = #{content}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="userName != null and userName != ''">
				AND a.userName = #{userName}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="log != null and log != ''">
				AND a.log = #{log}
			</if>
			<if test="text1 != null and text1 != ''">
				AND a.text1 = #{text1}
			</if>
			<if test="text2 != null and text2 != ''">
				AND a.text2 = #{text2}
			</if>
			<if test="text3 != null and text3 != ''">
				AND a.text3 = #{text3}
			</if>
			<if test="text4 != null and text4 != ''">
				AND a.text4 = #{text4}
			</if>
			<if test="text5 != null and text5 != ''">
				AND a.text5 = #{text5}
			</if>
			<if test="text6 != null and text6 != ''">
				AND a.text6 = #{text6}
			</if>
			<if test="text7 != null and text7 != ''">
				AND a.text7 = #{text7}
			</if>
			<if test="text8 != null and text8 != ''">
				AND a.text8 = #{text8}
			</if>
			<if test="text9 != null and text9 != ''">
				AND a.text9 = #{text9}
			</if>
			<if test="text10 != null and text10 != ''">
				AND a.text10 = #{text10}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="addMac != null and addMac != ''">
				AND a.addMac = #{addMac}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<if test="modifiedMac != null and modifiedMac != ''">
				AND a.modifiedMac = #{modifiedMac}
			</if>
			<include refid="com.mtf.framework.dao.SysTempConditionMapper.searchWhere"/>
		</where>
		<if test="group != null">
			GROUP BY ${group}
		</if>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM sysTemp AS a
		<include refid="com.mtf.framework.dao.SysTempConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="content != null and content != ''">
				AND a.content = #{content}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="userName != null and userName != ''">
				AND a.userName = #{userName}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="log != null and log != ''">
				AND a.log = #{log}
			</if>
			<if test="text1 != null and text1 != ''">
				AND a.text1 = #{text1}
			</if>
			<if test="text2 != null and text2 != ''">
				AND a.text2 = #{text2}
			</if>
			<if test="text3 != null and text3 != ''">
				AND a.text3 = #{text3}
			</if>
			<if test="text4 != null and text4 != ''">
				AND a.text4 = #{text4}
			</if>
			<if test="text5 != null and text5 != ''">
				AND a.text5 = #{text5}
			</if>
			<if test="text6 != null and text6 != ''">
				AND a.text6 = #{text6}
			</if>
			<if test="text7 != null and text7 != ''">
				AND a.text7 = #{text7}
			</if>
			<if test="text8 != null and text8 != ''">
				AND a.text8 = #{text8}
			</if>
			<if test="text9 != null and text9 != ''">
				AND a.text9 = #{text9}
			</if>
			<if test="text10 != null and text10 != ''">
				AND a.text10 = #{text10}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="addMac != null and addMac != ''">
				AND a.addMac = #{addMac}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<if test="modifiedMac != null and modifiedMac != ''">
				AND a.modifiedMac = #{modifiedMac}
			</if>
			<include refid="com.mtf.framework.dao.SysTempConditionMapper.searchWhere"/>
		</where>
	</select>
</mapper>