<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.AttenDayMapper" > 
	<resultMap type="com.mtf.framework.model.impl.AttenDayImpl" id="attenDay"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="attenDay">
		INSERT INTO attenDay
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="timeStart != null">
					timeStart,
				</if>
				<if test="timeEnd != null">
					timeEnd,
				</if>
				<if test="hourStart != null">
					hourStart,
				</if>
				<if test="hourEnd != null">
					hourEnd,
				</if>
				<if test="minuteStart != null">
					minuteStart,
				</if>
				<if test="minuteEnd != null">
					minuteEnd,
				</if>
				<if test="proportion != null">
					proportion,
				</if>
				<if test="workDuration != null">
					workDuration,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="rangeArea != null">
					rangeArea,
				</if>
				<if test="tag != null">
					tag,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="name != null">
					#{name},
				</if>
				<if test="timeStart != null">
					#{timeStart},
				</if>
				<if test="timeEnd != null">
					#{timeEnd},
				</if>
				<if test="hourStart != null">
					#{hourStart},
				</if>
				<if test="hourEnd != null">
					#{hourEnd},
				</if>
				<if test="minuteStart != null">
					#{minuteStart},
				</if>
				<if test="minuteEnd != null">
					#{minuteEnd},
				</if>
				<if test="proportion != null">
					#{proportion},
				</if>
				<if test="workDuration != null">
					#{workDuration},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="rangeArea != null">
					#{rangeArea},
				</if>
				<if test="tag != null">
					#{tag},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM attenDay
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
			<if test="timeStart != null and timeStart != ''">
				AND timeStart = #{timeStart}
			</if>
			<if test="timeEnd != null and timeEnd != ''">
				AND timeEnd = #{timeEnd}
			</if>
			<if test="hourStart != null and hourStart != ''">
				AND hourStart = #{hourStart}
			</if>
			<if test="hourEnd != null and hourEnd != ''">
				AND hourEnd = #{hourEnd}
			</if>
			<if test="minuteStart != null and minuteStart != ''">
				AND minuteStart = #{minuteStart}
			</if>
			<if test="minuteEnd != null and minuteEnd != ''">
				AND minuteEnd = #{minuteEnd}
			</if>
			<if test="proportion != null and proportion != ''">
				AND proportion = #{proportion}
			</if>
			<if test="workDuration != null and workDuration != ''">
				AND workDuration = #{workDuration}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="rangeArea != null and rangeArea != ''">
				AND rangeArea = #{rangeArea}
			</if>
			<if test="tag != null and tag != ''">
				AND tag = #{tag}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenDayConditionMapper.countWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE attenDay
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="timeStart != null and timeStart != ''">
				timeStart = #{timeStart},
			</if>
			<if test="timeEnd != null and timeEnd != ''">
				timeEnd = #{timeEnd},
			</if>
			<if test="hourStart != null and hourStart != ''">
				hourStart = #{hourStart},
			</if>
			<if test="hourEnd != null and hourEnd != ''">
				hourEnd = #{hourEnd},
			</if>
			<if test="minuteStart != null and minuteStart != ''">
				minuteStart = #{minuteStart},
			</if>
			<if test="minuteEnd != null and minuteEnd != ''">
				minuteEnd = #{minuteEnd},
			</if>
			<if test="proportion != null and proportion != ''">
				proportion = #{proportion},
			</if>
			<if test="workDuration != null">
				workDuration = #{workDuration},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="rangeArea != null and rangeArea != ''">
				rangeArea = #{rangeArea},
			</if>
			<if test="tag != null and tag != ''">
				tag = #{tag},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.AttenDayConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.AttenDayConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="attenDay">
		SELECT 
			<include refid="com.mtf.framework.dao.AttenDayConditionMapper.getColumn"/>
			a.id, 
			a.name, 
			a.timeStart, 
			a.timeEnd, 
			a.hourStart, 
			a.hourEnd, 
			a.minuteStart, 
			a.minuteEnd, 
			a.proportion, 
			a.workDuration, 
			a.remark, 
			a.rangeArea, 
			a.tag, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM attenDay AS a
		<include refid="com.mtf.framework.dao.AttenDayConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="name != null">
				AND a.name = #{name}
			</if>
			<if test="timeStart != null">
				AND a.timeStart = #{timeStart}
			</if>
			<if test="timeEnd != null">
				AND a.timeEnd = #{timeEnd}
			</if>
			<if test="hourStart != null">
				AND a.hourStart = #{hourStart}
			</if>
			<if test="hourEnd != null">
				AND a.hourEnd = #{hourEnd}
			</if>
			<if test="minuteStart != null">
				AND a.minuteStart = #{minuteStart}
			</if>
			<if test="minuteEnd != null">
				AND a.minuteEnd = #{minuteEnd}
			</if>
			<if test="proportion != null">
				AND a.proportion = #{proportion}
			</if>
			<if test="workDuration != null">
				AND a.workDuration = #{workDuration}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="rangeArea != null">
				AND a.rangeArea = #{rangeArea}
			</if>
			<if test="tag != null">
				AND a.tag = #{tag}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenDayConditionMapper.getWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="attenDay">
		SELECT 
			<include refid="com.mtf.framework.dao.AttenDayConditionMapper.selectColumn"/>
			a.id, 
			a.name, 
			a.timeStart, 
			a.timeEnd, 
			a.hourStart, 
			a.hourEnd, 
			a.minuteStart, 
			a.minuteEnd, 
			a.proportion, 
			a.workDuration, 
			a.remark, 
			a.rangeArea, 
			a.tag, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM attenDay AS a
		<include refid="com.mtf.framework.dao.AttenDayConditionMapper.selectFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="timeStart != null and timeStart != ''">
				AND a.timeStart = #{timeStart}
			</if>
			<if test="timeEnd != null and timeEnd != ''">
				AND a.timeEnd = #{timeEnd}
			</if>
			<if test="hourStart != null and hourStart != ''">
				AND a.hourStart = #{hourStart}
			</if>
			<if test="hourEnd != null and hourEnd != ''">
				AND a.hourEnd = #{hourEnd}
			</if>
			<if test="minuteStart != null and minuteStart != ''">
				AND a.minuteStart = #{minuteStart}
			</if>
			<if test="minuteEnd != null and minuteEnd != ''">
				AND a.minuteEnd = #{minuteEnd}
			</if>
			<if test="proportion != null and proportion != ''">
				AND a.proportion = #{proportion}
			</if>
			<if test="workDuration != null and workDuration != ''">
				AND a.workDuration = #{workDuration}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="rangeArea != null and rangeArea != ''">
				AND a.rangeArea = #{rangeArea}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenDayConditionMapper.selectWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM attenDay AS a
		<include refid="com.mtf.framework.dao.AttenDayConditionMapper.countFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="timeStart != null and timeStart != ''">
				AND a.timeStart = #{timeStart}
			</if>
			<if test="timeEnd != null and timeEnd != ''">
				AND a.timeEnd = #{timeEnd}
			</if>
			<if test="hourStart != null and hourStart != ''">
				AND a.hourStart = #{hourStart}
			</if>
			<if test="hourEnd != null and hourEnd != ''">
				AND a.hourEnd = #{hourEnd}
			</if>
			<if test="minuteStart != null and minuteStart != ''">
				AND a.minuteStart = #{minuteStart}
			</if>
			<if test="minuteEnd != null and minuteEnd != ''">
				AND a.minuteEnd = #{minuteEnd}
			</if>
			<if test="proportion != null and proportion != ''">
				AND a.proportion = #{proportion}
			</if>
			<if test="workDuration != null and workDuration != ''">
				AND a.workDuration = #{workDuration}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="rangeArea != null and rangeArea != ''">
				AND a.rangeArea = #{rangeArea}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenDayConditionMapper.countWhere"/>
		</where>
	</select>
</mapper>