<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.AttenVacateManageMapper" > 
	<resultMap type="com.mtf.framework.model.impl.AttenVacateManageImpl" id="attenVacateManage"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="attenVacateManage">
		INSERT INTO attenVacateManage
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="divisionId != null">
					divisionId,
				</if>
				<if test="divisionName != null">
					divisionName,
				</if>
				<if test="userId != null">
					userId,
				</if>
				<if test="userName != null">
					userName,
				</if>
				<if test="cardNo != null">
					cardNo,
				</if>
				<if test="idVacate != null">
					idVacate,
				</if>
				<if test="nameVacate != null">
					nameVacate,
				</if>
				<if test="idVacateDetail != null">
					idVacateDetail,
				</if>
				<if test="nameVacateDetail != null">
					nameVacateDetail,
				</if>
				<if test="code != null">
					code,
				</if>
				<if test="codeDetail != null">
					codeDetail,
				</if>
				<if test="optionDirectly != null">
					optionDirectly,
				</if>
				<if test="remarkCollateral != null">
					remarkCollateral,
				</if>
				<if test="dateStart != null">
					dateStart,
				</if>
				<if test="dateEnd != null">
					dateEnd,
				</if>
				<if test="hourStart != null">
					hourStart,
				</if>
				<if test="hourEnd != null">
					hourEnd,
				</if>
				<if test="minuteStart != null">
					minuteStart,
				</if>
				<if test="minuteEnd != null">
					minuteEnd,
				</if>
				<if test="typeVacateDate != null">
					typeVacateDate,
				</if>
				<if test="reason != null">
					reason,
				</if>
				<if test="duration != null">
					duration,
				</if>
				<if test="durationAttenVacateHour != null">
					durationAttenVacateHour,
				</if>
				<if test="durationTotal != null">
					durationTotal,
				</if>
				<if test="workday != null">
					workday,
				</if>
				<if test="approveId != null">
					approveId,
				</if>
				<if test="approveName != null">
					approveName,
				</if>
				<if test="approveDate != null">
					approveDate,
				</if>
				<if test="approveStatus != null">
					approveStatus,
				</if>
				<if test="approveId1 != null">
					approveId1,
				</if>
				<if test="approveName1 != null">
					approveName1,
				</if>
				<if test="approveDate1 != null">
					approveDate1,
				</if>
				<if test="approveId2 != null">
					approveId2,
				</if>
				<if test="approveName2 != null">
					approveName2,
				</if>
				<if test="approveDate2 != null">
					approveDate2,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="remarkReject != null">
					remarkReject,
				</if>
				<if test="tag != null">
					tag,
				</if>
				<if test="typeData != null">
					typeData,
				</if>
				<if test="year != null">
					year,
				</if>
				<if test="tagEmail != null">
					tagEmail,
				</if>
				<if test="userNameList != null">
					userNameList,
				</if>
				<if test="userIdList != null">
					userIdList,
				</if>
				<if test="rangeArea != null">
					rangeArea,
				</if>
				<if test="workOvertimeRule != null">
					workOvertimeRule,
				</if>
				<if test="workOvertimeBeforeRule != null">
					workOvertimeBeforeRule,
				</if>
				<if test="workOvertimeAfterRule != null">
					workOvertimeAfterRule,
				</if>
				<if test="dateWeek != null">
					dateWeek,
				</if>
				<if test="remarkText != null">
					remarkText,
				</if>
				<if test="remarkCode != null">
					remarkCode,
				</if>
				<if test="tagCreateOverwork != null">
					tagCreateOverwork,
				</if>
				<if test="tagModifyOverwork != null">
					tagModifyOverwork,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="name != null">
					#{name},
				</if>
				<if test="divisionId != null">
					#{divisionId},
				</if>
				<if test="divisionName != null">
					#{divisionName},
				</if>
				<if test="userId != null">
					#{userId},
				</if>
				<if test="userName != null">
					#{userName},
				</if>
				<if test="cardNo != null">
					#{cardNo},
				</if>
				<if test="idVacate != null">
					#{idVacate},
				</if>
				<if test="nameVacate != null">
					#{nameVacate},
				</if>
				<if test="idVacateDetail != null">
					#{idVacateDetail},
				</if>
				<if test="nameVacateDetail != null">
					#{nameVacateDetail},
				</if>
				<if test="code != null">
					#{code},
				</if>
				<if test="codeDetail != null">
					#{codeDetail},
				</if>
				<if test="optionDirectly != null">
					#{optionDirectly},
				</if>
				<if test="remarkCollateral != null">
					#{remarkCollateral},
				</if>
				<if test="dateStart != null">
					#{dateStart},
				</if>
				<if test="dateEnd != null">
					#{dateEnd},
				</if>
				<if test="hourStart != null">
					#{hourStart},
				</if>
				<if test="hourEnd != null">
					#{hourEnd},
				</if>
				<if test="minuteStart != null">
					#{minuteStart},
				</if>
				<if test="minuteEnd != null">
					#{minuteEnd},
				</if>
				<if test="typeVacateDate != null">
					#{typeVacateDate},
				</if>
				<if test="reason != null">
					#{reason},
				</if>
				<if test="duration != null">
					#{duration},
				</if>
				<if test="durationAttenVacateHour != null">
					#{durationAttenVacateHour},
				</if>
				<if test="durationTotal != null">
					#{durationTotal},
				</if>
				<if test="workday != null">
					#{workday},
				</if>
				<if test="approveId != null">
					#{approveId},
				</if>
				<if test="approveName != null">
					#{approveName},
				</if>
				<if test="approveDate != null">
					#{approveDate},
				</if>
				<if test="approveStatus != null">
					#{approveStatus},
				</if>
				<if test="approveId1 != null">
					#{approveId1},
				</if>
				<if test="approveName1 != null">
					#{approveName1},
				</if>
				<if test="approveDate1 != null">
					#{approveDate1},
				</if>
				<if test="approveId2 != null">
					#{approveId2},
				</if>
				<if test="approveName2 != null">
					#{approveName2},
				</if>
				<if test="approveDate2 != null">
					#{approveDate2},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="remarkReject != null">
					#{remarkReject},
				</if>
				<if test="tag != null">
					#{tag},
				</if>
				<if test="typeData != null">
					#{typeData},
				</if>
				<if test="year != null">
					#{year},
				</if>
				<if test="tagEmail != null">
					#{tagEmail},
				</if>
				<if test="userNameList != null">
					#{userNameList},
				</if>
				<if test="userIdList != null">
					#{userIdList},
				</if>
				<if test="rangeArea != null">
					#{rangeArea},
				</if>
				<if test="workOvertimeRule != null">
					#{workOvertimeRule},
				</if>
				<if test="workOvertimeBeforeRule != null">
					#{workOvertimeBeforeRule},
				</if>
				<if test="workOvertimeAfterRule != null">
					#{workOvertimeAfterRule},
				</if>
				<if test="dateWeek != null">
					#{dateWeek},
				</if>
				<if test="remarkText != null">
					#{remarkText},
				</if>
				<if test="remarkCode != null">
					#{remarkCode},
				</if>
				<if test="tagCreateOverwork != null">
					#{tagCreateOverwork},
				</if>
				<if test="tagModifyOverwork != null">
					#{tagModifyOverwork},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM attenVacateManage
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND divisionName = #{divisionName}
			</if>
			<if test="userId != null and userId != ''">
				AND userId = #{userId}
			</if>
			<if test="userName != null and userName != ''">
				AND userName = #{userName}
			</if>
			<if test="cardNo != null and cardNo != ''">
				AND cardNo = #{cardNo}
			</if>
			<if test="idVacate != null and idVacate != ''">
				AND idVacate = #{idVacate}
			</if>
			<if test="nameVacate != null and nameVacate != ''">
				AND nameVacate = #{nameVacate}
			</if>
			<if test="idVacateDetail != null and idVacateDetail != ''">
				AND idVacateDetail = #{idVacateDetail}
			</if>
			<if test="nameVacateDetail != null and nameVacateDetail != ''">
				AND nameVacateDetail = #{nameVacateDetail}
			</if>
			<if test="code != null and code != ''">
				AND code = #{code}
			</if>
			<if test="codeDetail != null and codeDetail != ''">
				AND codeDetail = #{codeDetail}
			</if>
			<if test="optionDirectly != null and optionDirectly != ''">
				AND optionDirectly = #{optionDirectly}
			</if>
			<if test="remarkCollateral != null and remarkCollateral != ''">
				AND remarkCollateral = #{remarkCollateral}
			</if>
			<if test="dateStart != null and dateStart != ''">
				AND dateStart = #{dateStart}
			</if>
			<if test="dateEnd != null and dateEnd != ''">
				AND dateEnd = #{dateEnd}
			</if>
			<if test="hourStart != null and hourStart != ''">
				AND hourStart = #{hourStart}
			</if>
			<if test="hourEnd != null and hourEnd != ''">
				AND hourEnd = #{hourEnd}
			</if>
			<if test="minuteStart != null and minuteStart != ''">
				AND minuteStart = #{minuteStart}
			</if>
			<if test="minuteEnd != null and minuteEnd != ''">
				AND minuteEnd = #{minuteEnd}
			</if>
			<if test="typeVacateDate != null and typeVacateDate != ''">
				AND typeVacateDate = #{typeVacateDate}
			</if>
			<if test="reason != null and reason != ''">
				AND reason = #{reason}
			</if>
			<if test="duration != null and duration != ''">
				AND duration = #{duration}
			</if>
			<if test="durationAttenVacateHour != null and durationAttenVacateHour != ''">
				AND durationAttenVacateHour = #{durationAttenVacateHour}
			</if>
			<if test="durationTotal != null and durationTotal != ''">
				AND durationTotal = #{durationTotal}
			</if>
			<if test="workday != null and workday != ''">
				AND workday = #{workday}
			</if>
			<if test="approveId != null and approveId != ''">
				AND approveId = #{approveId}
			</if>
			<if test="approveName != null and approveName != ''">
				AND approveName = #{approveName}
			</if>
			<if test="approveDate != null and approveDate != ''">
				AND approveDate = #{approveDate}
			</if>
			<if test="approveStatus != null and approveStatus != ''">
				AND approveStatus = #{approveStatus}
			</if>
			<if test="approveId1 != null and approveId1 != ''">
				AND approveId1 = #{approveId1}
			</if>
			<if test="approveName1 != null and approveName1 != ''">
				AND approveName1 = #{approveName1}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND approveDate1 = #{approveDate1}
			</if>
			<if test="approveId2 != null and approveId2 != ''">
				AND approveId2 = #{approveId2}
			</if>
			<if test="approveName2 != null and approveName2 != ''">
				AND approveName2 = #{approveName2}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND approveDate2 = #{approveDate2}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="remarkReject != null and remarkReject != ''">
				AND remarkReject = #{remarkReject}
			</if>
			<if test="tag != null and tag != ''">
				AND tag = #{tag}
			</if>
			<if test="typeData != null and typeData != ''">
				AND typeData = #{typeData}
			</if>
			<if test="year != null and year != ''">
				AND year = #{year}
			</if>
			<if test="tagEmail != null and tagEmail != ''">
				AND tagEmail = #{tagEmail}
			</if>
			<if test="userNameList != null and userNameList != ''">
				AND userNameList = #{userNameList}
			</if>
			<if test="userIdList != null and userIdList != ''">
				AND userIdList = #{userIdList}
			</if>
			<if test="rangeArea != null and rangeArea != ''">
				AND rangeArea = #{rangeArea}
			</if>
			<if test="workOvertimeRule != null and workOvertimeRule != ''">
				AND workOvertimeRule = #{workOvertimeRule}
			</if>
			<if test="workOvertimeBeforeRule != null and workOvertimeBeforeRule != ''">
				AND workOvertimeBeforeRule = #{workOvertimeBeforeRule}
			</if>
			<if test="workOvertimeAfterRule != null and workOvertimeAfterRule != ''">
				AND workOvertimeAfterRule = #{workOvertimeAfterRule}
			</if>
			<if test="dateWeek != null and dateWeek != ''">
				AND dateWeek = #{dateWeek}
			</if>
			<if test="remarkText != null and remarkText != ''">
				AND remarkText = #{remarkText}
			</if>
			<if test="remarkCode != null and remarkCode != ''">
				AND remarkCode = #{remarkCode}
			</if>
			<if test="tagCreateOverwork != null and tagCreateOverwork != ''">
				AND tagCreateOverwork = #{tagCreateOverwork}
			</if>
			<if test="tagModifyOverwork != null and tagModifyOverwork != ''">
				AND tagModifyOverwork = #{tagModifyOverwork}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.countWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE attenVacateManage
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="divisionId != null and divisionId != ''">
				divisionId = #{divisionId},
			</if>
			<if test="divisionName != null and divisionName != ''">
				divisionName = #{divisionName},
			</if>
			<if test="userId != null and userId != ''">
				userId = #{userId},
			</if>
			<if test="userName != null and userName != ''">
				userName = #{userName},
			</if>
			<if test="cardNo != null and cardNo != ''">
				cardNo = #{cardNo},
			</if>
			<if test="idVacate != null and idVacate != ''">
				idVacate = #{idVacate},
			</if>
			<if test="nameVacate != null and nameVacate != ''">
				nameVacate = #{nameVacate},
			</if>
			<if test="idVacateDetail != null and idVacateDetail != ''">
				idVacateDetail = #{idVacateDetail},
			</if>
			<if test="nameVacateDetail != null and nameVacateDetail != ''">
				nameVacateDetail = #{nameVacateDetail},
			</if>
			<if test="code != null and code != ''">
				code = #{code},
			</if>
			<if test="codeDetail != null and codeDetail != ''">
				codeDetail = #{codeDetail},
			</if>
			<if test="optionDirectly != null and optionDirectly != ''">
				optionDirectly = #{optionDirectly},
			</if>
			<if test="remarkCollateral != null and remarkCollateral != ''">
				remarkCollateral = #{remarkCollateral},
			</if>
			<if test="dateStart != null and dateStart != ''">
				dateStart = #{dateStart},
			</if>
			<if test="dateEnd != null and dateEnd != ''">
				dateEnd = #{dateEnd},
			</if>
			<if test="hourStart != null and hourStart != ''">
				hourStart = #{hourStart},
			</if>
			<if test="hourEnd != null and hourEnd != ''">
				hourEnd = #{hourEnd},
			</if>
			<if test="minuteStart != null and minuteStart != ''">
				minuteStart = #{minuteStart},
			</if>
			<if test="minuteEnd != null and minuteEnd != ''">
				minuteEnd = #{minuteEnd},
			</if>
			<if test="typeVacateDate != null and typeVacateDate != ''">
				typeVacateDate = #{typeVacateDate},
			</if>
			<if test="reason != null and reason != ''">
				reason = #{reason},
			</if>
			<if test="duration != null and duration != ''">
				duration = #{duration},
			</if>
			<if test="durationAttenVacateHour != null">
				durationAttenVacateHour = #{durationAttenVacateHour},
			</if>
			<if test="durationTotal != null and durationTotal != ''">
				durationTotal = #{durationTotal},
			</if>
			<if test="workday != null and workday != ''">
				workday = #{workday},
			</if>
			<if test="approveId != null and approveId != ''">
				approveId = #{approveId},
			</if>
			<if test="approveName != null and approveName != ''">
				approveName = #{approveName},
			</if>
			<if test="approveDate != null and approveDate != ''">
				approveDate = #{approveDate},
			</if>
			<if test="approveStatus != null and approveStatus != ''">
				approveStatus = #{approveStatus},
			</if>
			<if test="approveId1 != null and approveId1 != ''">
				approveId1 = #{approveId1},
			</if>
			<if test="approveName1 != null and approveName1 != ''">
				approveName1 = #{approveName1},
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				approveDate1 = #{approveDate1},
			</if>
			<if test="approveId2 != null and approveId2 != ''">
				approveId2 = #{approveId2},
			</if>
			<if test="approveName2 != null and approveName2 != ''">
				approveName2 = #{approveName2},
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				approveDate2 = #{approveDate2},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="remarkReject != null and remarkReject != ''">
				remarkReject = #{remarkReject},
			</if>
			<if test="tag != null and tag != ''">
				tag = #{tag},
			</if>
			<if test="typeData != null and typeData != ''">
				typeData = #{typeData},
			</if>
			<if test="year != null and year != ''">
				year = #{year},
			</if>
			<if test="tagEmail != null and tagEmail != ''">
				tagEmail = #{tagEmail},
			</if>
			<if test="userNameList != null and userNameList != ''">
				userNameList = #{userNameList},
			</if>
			<if test="userIdList != null and userIdList != ''">
				userIdList = #{userIdList},
			</if>
			<if test="rangeArea != null and rangeArea != ''">
				rangeArea = #{rangeArea},
			</if>
			<if test="workOvertimeRule != null">
				workOvertimeRule = #{workOvertimeRule},
			</if>
			<if test="workOvertimeBeforeRule != null">
				workOvertimeBeforeRule = #{workOvertimeBeforeRule},
			</if>
			<if test="workOvertimeAfterRule != null">
				workOvertimeAfterRule = #{workOvertimeAfterRule},
			</if>
			<if test="dateWeek != null and dateWeek != ''">
				dateWeek = #{dateWeek},
			</if>
			<if test="remarkText != null and remarkText != ''">
				remarkText = #{remarkText},
			</if>
			<if test="remarkCode != null and remarkCode != ''">
				remarkCode = #{remarkCode},
			</if>
			<if test="tagCreateOverwork != null and tagCreateOverwork != ''">
				tagCreateOverwork = #{tagCreateOverwork},
			</if>
			<if test="tagModifyOverwork != null and tagModifyOverwork != ''">
				tagModifyOverwork = #{tagModifyOverwork},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="attenVacateManage">
		SELECT 
			<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.getColumn"/>
			a.id, 
			a.name, 
			a.divisionId, 
			a.divisionName, 
			a.userId, 
			a.userName, 
			a.cardNo, 
			a.idVacate, 
			a.nameVacate, 
			a.idVacateDetail, 
			a.nameVacateDetail, 
			a.code, 
			a.codeDetail, 
			a.optionDirectly, 
			a.remarkCollateral, 
			a.dateStart, 
			a.dateEnd, 
			a.hourStart, 
			a.hourEnd, 
			a.minuteStart, 
			a.minuteEnd, 
			a.typeVacateDate, 
			a.reason, 
			a.duration, 
			a.durationAttenVacateHour, 
			a.durationTotal, 
			a.workday, 
			a.approveId, 
			a.approveName, 
			a.approveDate, 
			a.approveStatus, 
			a.approveId1, 
			a.approveName1, 
			a.approveDate1, 
			a.approveId2, 
			a.approveName2, 
			a.approveDate2, 
			a.remark, 
			a.remarkReject, 
			a.tag, 
			a.typeData, 
			a.year, 
			a.tagEmail, 
			a.userNameList, 
			a.userIdList, 
			a.rangeArea, 
			a.workOvertimeRule, 
			a.workOvertimeBeforeRule, 
			a.workOvertimeAfterRule, 
			a.dateWeek, 
			a.remarkText, 
			a.remarkCode, 
			a.tagCreateOverwork, 
			a.tagModifyOverwork, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM attenVacateManage AS a
		<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="name != null">
				AND a.name = #{name}
			</if>
			<if test="divisionId != null">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="divisionName != null">
				AND a.divisionName = #{divisionName}
			</if>
			<if test="userId != null">
				AND a.userId = #{userId}
			</if>
			<if test="userName != null">
				AND a.userName = #{userName}
			</if>
			<if test="cardNo != null">
				AND a.cardNo = #{cardNo}
			</if>
			<if test="idVacate != null">
				AND a.idVacate = #{idVacate}
			</if>
			<if test="nameVacate != null">
				AND a.nameVacate = #{nameVacate}
			</if>
			<if test="idVacateDetail != null">
				AND a.idVacateDetail = #{idVacateDetail}
			</if>
			<if test="nameVacateDetail != null">
				AND a.nameVacateDetail = #{nameVacateDetail}
			</if>
			<if test="code != null">
				AND a.code = #{code}
			</if>
			<if test="codeDetail != null">
				AND a.codeDetail = #{codeDetail}
			</if>
			<if test="optionDirectly != null">
				AND a.optionDirectly = #{optionDirectly}
			</if>
			<if test="remarkCollateral != null">
				AND a.remarkCollateral = #{remarkCollateral}
			</if>
			<if test="dateStart != null">
				AND a.dateStart = #{dateStart}
			</if>
			<if test="dateEnd != null">
				AND a.dateEnd = #{dateEnd}
			</if>
			<if test="hourStart != null">
				AND a.hourStart = #{hourStart}
			</if>
			<if test="hourEnd != null">
				AND a.hourEnd = #{hourEnd}
			</if>
			<if test="minuteStart != null">
				AND a.minuteStart = #{minuteStart}
			</if>
			<if test="minuteEnd != null">
				AND a.minuteEnd = #{minuteEnd}
			</if>
			<if test="typeVacateDate != null">
				AND a.typeVacateDate = #{typeVacateDate}
			</if>
			<if test="reason != null">
				AND a.reason = #{reason}
			</if>
			<if test="duration != null">
				AND a.duration = #{duration}
			</if>
			<if test="durationAttenVacateHour != null">
				AND a.durationAttenVacateHour = #{durationAttenVacateHour}
			</if>
			<if test="durationTotal != null">
				AND a.durationTotal = #{durationTotal}
			</if>
			<if test="workday != null">
				AND a.workday = #{workday}
			</if>
			<if test="approveId != null">
				AND a.approveId = #{approveId}
			</if>
			<if test="approveName != null">
				AND a.approveName = #{approveName}
			</if>
			<if test="approveDate != null">
				AND a.approveDate = #{approveDate}
			</if>
			<if test="approveStatus != null">
				AND a.approveStatus = #{approveStatus}
			</if>
			<if test="approveId1 != null">
				AND a.approveId1 = #{approveId1}
			</if>
			<if test="approveName1 != null">
				AND a.approveName1 = #{approveName1}
			</if>
			<if test="approveDate1 != null">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approveId2 != null">
				AND a.approveId2 = #{approveId2}
			</if>
			<if test="approveName2 != null">
				AND a.approveName2 = #{approveName2}
			</if>
			<if test="approveDate2 != null">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="remarkReject != null">
				AND a.remarkReject = #{remarkReject}
			</if>
			<if test="tag != null">
				AND a.tag = #{tag}
			</if>
			<if test="typeData != null">
				AND a.typeData = #{typeData}
			</if>
			<if test="year != null">
				AND a.year = #{year}
			</if>
			<if test="tagEmail != null">
				AND a.tagEmail = #{tagEmail}
			</if>
			<if test="userNameList != null">
				AND a.userNameList = #{userNameList}
			</if>
			<if test="userIdList != null">
				AND a.userIdList = #{userIdList}
			</if>
			<if test="rangeArea != null">
				AND a.rangeArea = #{rangeArea}
			</if>
			<if test="workOvertimeRule != null">
				AND a.workOvertimeRule = #{workOvertimeRule}
			</if>
			<if test="workOvertimeBeforeRule != null">
				AND a.workOvertimeBeforeRule = #{workOvertimeBeforeRule}
			</if>
			<if test="workOvertimeAfterRule != null">
				AND a.workOvertimeAfterRule = #{workOvertimeAfterRule}
			</if>
			<if test="dateWeek != null">
				AND a.dateWeek = #{dateWeek}
			</if>
			<if test="remarkText != null">
				AND a.remarkText = #{remarkText}
			</if>
			<if test="remarkCode != null">
				AND a.remarkCode = #{remarkCode}
			</if>
			<if test="tagCreateOverwork != null">
				AND a.tagCreateOverwork = #{tagCreateOverwork}
			</if>
			<if test="tagModifyOverwork != null">
				AND a.tagModifyOverwork = #{tagModifyOverwork}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.getWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="attenVacateManage">
		SELECT 
			<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.selectColumn"/>
			a.id, 
			a.name, 
			a.divisionId, 
			a.divisionName, 
			a.userId, 
			a.userName, 
			a.cardNo, 
			a.idVacate, 
			a.nameVacate, 
			a.idVacateDetail, 
			a.nameVacateDetail, 
			a.code, 
			a.codeDetail, 
			a.optionDirectly, 
			a.remarkCollateral, 
			a.dateStart, 
			a.dateEnd, 
			a.hourStart, 
			a.hourEnd, 
			a.minuteStart, 
			a.minuteEnd, 
			a.typeVacateDate, 
			a.reason, 
			a.duration, 
			a.durationAttenVacateHour, 
			a.durationTotal, 
			a.workday, 
			a.approveId, 
			a.approveName, 
			a.approveDate, 
			a.approveStatus, 
			a.approveId1, 
			a.approveName1, 
			a.approveDate1, 
			a.approveId2, 
			a.approveName2, 
			a.approveDate2, 
			a.remark, 
			a.remarkReject, 
			a.tag, 
			a.typeData, 
			a.year, 
			a.tagEmail, 
			a.userNameList, 
			a.userIdList, 
			a.rangeArea, 
			a.workOvertimeRule, 
			a.workOvertimeBeforeRule, 
			a.workOvertimeAfterRule, 
			a.dateWeek, 
			a.remarkText, 
			a.remarkCode, 
			a.tagCreateOverwork, 
			a.tagModifyOverwork, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM attenVacateManage AS a
		<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.selectFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND a.divisionName = #{divisionName}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="userName != null and userName != ''">
				AND a.userName = #{userName}
			</if>
			<if test="cardNo != null and cardNo != ''">
				AND a.cardNo = #{cardNo}
			</if>
			<if test="idVacate != null and idVacate != ''">
				AND a.idVacate = #{idVacate}
			</if>
			<if test="nameVacate != null and nameVacate != ''">
				AND a.nameVacate = #{nameVacate}
			</if>
			<if test="idVacateDetail != null and idVacateDetail != ''">
				AND a.idVacateDetail = #{idVacateDetail}
			</if>
			<if test="nameVacateDetail != null and nameVacateDetail != ''">
				AND a.nameVacateDetail = #{nameVacateDetail}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="codeDetail != null and codeDetail != ''">
				AND a.codeDetail = #{codeDetail}
			</if>
			<if test="optionDirectly != null and optionDirectly != ''">
				AND a.optionDirectly = #{optionDirectly}
			</if>
			<if test="remarkCollateral != null and remarkCollateral != ''">
				AND a.remarkCollateral = #{remarkCollateral}
			</if>
			<if test="dateStart != null and dateStart != ''">
				AND a.dateStart = #{dateStart}
			</if>
			<if test="dateEnd != null and dateEnd != ''">
				AND a.dateEnd = #{dateEnd}
			</if>
			<if test="hourStart != null and hourStart != ''">
				AND a.hourStart = #{hourStart}
			</if>
			<if test="hourEnd != null and hourEnd != ''">
				AND a.hourEnd = #{hourEnd}
			</if>
			<if test="minuteStart != null and minuteStart != ''">
				AND a.minuteStart = #{minuteStart}
			</if>
			<if test="minuteEnd != null and minuteEnd != ''">
				AND a.minuteEnd = #{minuteEnd}
			</if>
			<if test="typeVacateDate != null and typeVacateDate != ''">
				AND a.typeVacateDate = #{typeVacateDate}
			</if>
			<if test="reason != null and reason != ''">
				AND a.reason = #{reason}
			</if>
			<if test="duration != null and duration != ''">
				AND a.duration = #{duration}
			</if>
			<if test="durationAttenVacateHour != null and durationAttenVacateHour != ''">
				AND a.durationAttenVacateHour = #{durationAttenVacateHour}
			</if>
			<if test="durationTotal != null and durationTotal != ''">
				AND a.durationTotal = #{durationTotal}
			</if>
			<if test="workday != null and workday != ''">
				AND a.workday = #{workday}
			</if>
			<if test="approveId != null and approveId != ''">
				AND a.approveId = #{approveId}
			</if>
			<if test="approveName != null and approveName != ''">
				AND a.approveName = #{approveName}
			</if>
			<if test="approveDate != null and approveDate != ''">
				AND a.approveDate = #{approveDate}
			</if>
			<if test="approveStatus != null and approveStatus != ''">
				AND a.approveStatus = #{approveStatus}
			</if>
			<if test="approveId1 != null and approveId1 != ''">
				AND a.approveId1 = #{approveId1}
			</if>
			<if test="approveName1 != null and approveName1 != ''">
				AND a.approveName1 = #{approveName1}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approveId2 != null and approveId2 != ''">
				AND a.approveId2 = #{approveId2}
			</if>
			<if test="approveName2 != null and approveName2 != ''">
				AND a.approveName2 = #{approveName2}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="remarkReject != null and remarkReject != ''">
				AND a.remarkReject = #{remarkReject}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="typeData != null and typeData != ''">
				AND a.typeData = #{typeData}
			</if>
			<if test="year != null and year != ''">
				AND a.year = #{year}
			</if>
			<if test="tagEmail != null and tagEmail != ''">
				AND a.tagEmail = #{tagEmail}
			</if>
			<if test="userNameList != null and userNameList != ''">
				AND a.userNameList = #{userNameList}
			</if>
			<if test="userIdList != null and userIdList != ''">
				AND a.userIdList = #{userIdList}
			</if>
			<if test="rangeArea != null and rangeArea != ''">
				AND a.rangeArea = #{rangeArea}
			</if>
			<if test="workOvertimeRule != null and workOvertimeRule != ''">
				AND a.workOvertimeRule = #{workOvertimeRule}
			</if>
			<if test="workOvertimeBeforeRule != null and workOvertimeBeforeRule != ''">
				AND a.workOvertimeBeforeRule = #{workOvertimeBeforeRule}
			</if>
			<if test="workOvertimeAfterRule != null and workOvertimeAfterRule != ''">
				AND a.workOvertimeAfterRule = #{workOvertimeAfterRule}
			</if>
			<if test="dateWeek != null and dateWeek != ''">
				AND a.dateWeek = #{dateWeek}
			</if>
			<if test="remarkText != null and remarkText != ''">
				AND a.remarkText = #{remarkText}
			</if>
			<if test="remarkCode != null and remarkCode != ''">
				AND a.remarkCode = #{remarkCode}
			</if>
			<if test="tagCreateOverwork != null and tagCreateOverwork != ''">
				AND a.tagCreateOverwork = #{tagCreateOverwork}
			</if>
			<if test="tagModifyOverwork != null and tagModifyOverwork != ''">
				AND a.tagModifyOverwork = #{tagModifyOverwork}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.selectWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM attenVacateManage AS a
		<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.countFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND a.divisionName = #{divisionName}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="userName != null and userName != ''">
				AND a.userName = #{userName}
			</if>
			<if test="cardNo != null and cardNo != ''">
				AND a.cardNo = #{cardNo}
			</if>
			<if test="idVacate != null and idVacate != ''">
				AND a.idVacate = #{idVacate}
			</if>
			<if test="nameVacate != null and nameVacate != ''">
				AND a.nameVacate = #{nameVacate}
			</if>
			<if test="idVacateDetail != null and idVacateDetail != ''">
				AND a.idVacateDetail = #{idVacateDetail}
			</if>
			<if test="nameVacateDetail != null and nameVacateDetail != ''">
				AND a.nameVacateDetail = #{nameVacateDetail}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="codeDetail != null and codeDetail != ''">
				AND a.codeDetail = #{codeDetail}
			</if>
			<if test="optionDirectly != null and optionDirectly != ''">
				AND a.optionDirectly = #{optionDirectly}
			</if>
			<if test="remarkCollateral != null and remarkCollateral != ''">
				AND a.remarkCollateral = #{remarkCollateral}
			</if>
			<if test="dateStart != null and dateStart != ''">
				AND a.dateStart = #{dateStart}
			</if>
			<if test="dateEnd != null and dateEnd != ''">
				AND a.dateEnd = #{dateEnd}
			</if>
			<if test="hourStart != null and hourStart != ''">
				AND a.hourStart = #{hourStart}
			</if>
			<if test="hourEnd != null and hourEnd != ''">
				AND a.hourEnd = #{hourEnd}
			</if>
			<if test="minuteStart != null and minuteStart != ''">
				AND a.minuteStart = #{minuteStart}
			</if>
			<if test="minuteEnd != null and minuteEnd != ''">
				AND a.minuteEnd = #{minuteEnd}
			</if>
			<if test="typeVacateDate != null and typeVacateDate != ''">
				AND a.typeVacateDate = #{typeVacateDate}
			</if>
			<if test="reason != null and reason != ''">
				AND a.reason = #{reason}
			</if>
			<if test="duration != null and duration != ''">
				AND a.duration = #{duration}
			</if>
			<if test="durationAttenVacateHour != null and durationAttenVacateHour != ''">
				AND a.durationAttenVacateHour = #{durationAttenVacateHour}
			</if>
			<if test="durationTotal != null and durationTotal != ''">
				AND a.durationTotal = #{durationTotal}
			</if>
			<if test="workday != null and workday != ''">
				AND a.workday = #{workday}
			</if>
			<if test="approveId != null and approveId != ''">
				AND a.approveId = #{approveId}
			</if>
			<if test="approveName != null and approveName != ''">
				AND a.approveName = #{approveName}
			</if>
			<if test="approveDate != null and approveDate != ''">
				AND a.approveDate = #{approveDate}
			</if>
			<if test="approveStatus != null and approveStatus != ''">
				AND a.approveStatus = #{approveStatus}
			</if>
			<if test="approveId1 != null and approveId1 != ''">
				AND a.approveId1 = #{approveId1}
			</if>
			<if test="approveName1 != null and approveName1 != ''">
				AND a.approveName1 = #{approveName1}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approveId2 != null and approveId2 != ''">
				AND a.approveId2 = #{approveId2}
			</if>
			<if test="approveName2 != null and approveName2 != ''">
				AND a.approveName2 = #{approveName2}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="remarkReject != null and remarkReject != ''">
				AND a.remarkReject = #{remarkReject}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="typeData != null and typeData != ''">
				AND a.typeData = #{typeData}
			</if>
			<if test="year != null and year != ''">
				AND a.year = #{year}
			</if>
			<if test="tagEmail != null and tagEmail != ''">
				AND a.tagEmail = #{tagEmail}
			</if>
			<if test="userNameList != null and userNameList != ''">
				AND a.userNameList = #{userNameList}
			</if>
			<if test="userIdList != null and userIdList != ''">
				AND a.userIdList = #{userIdList}
			</if>
			<if test="rangeArea != null and rangeArea != ''">
				AND a.rangeArea = #{rangeArea}
			</if>
			<if test="workOvertimeRule != null and workOvertimeRule != ''">
				AND a.workOvertimeRule = #{workOvertimeRule}
			</if>
			<if test="workOvertimeBeforeRule != null and workOvertimeBeforeRule != ''">
				AND a.workOvertimeBeforeRule = #{workOvertimeBeforeRule}
			</if>
			<if test="workOvertimeAfterRule != null and workOvertimeAfterRule != ''">
				AND a.workOvertimeAfterRule = #{workOvertimeAfterRule}
			</if>
			<if test="dateWeek != null and dateWeek != ''">
				AND a.dateWeek = #{dateWeek}
			</if>
			<if test="remarkText != null and remarkText != ''">
				AND a.remarkText = #{remarkText}
			</if>
			<if test="remarkCode != null and remarkCode != ''">
				AND a.remarkCode = #{remarkCode}
			</if>
			<if test="tagCreateOverwork != null and tagCreateOverwork != ''">
				AND a.tagCreateOverwork = #{tagCreateOverwork}
			</if>
			<if test="tagModifyOverwork != null and tagModifyOverwork != ''">
				AND a.tagModifyOverwork = #{tagModifyOverwork}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.AttenVacateManageConditionMapper.countWhere"/>
		</where>
	</select>
</mapper>