<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.DivisionMapper" > 
	<resultMap type="com.mtf.framework.model.impl.DivisionImpl" id="division"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="division">
		INSERT INTO division
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="pid != null">
					pid,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="nameEng != null">
					nameEng,
				</if>
				<if test="alias != null">
					alias,
				</if>
				<if test="depTitle != null">
					depTitle,
				</if>
				<if test="description != null">
					description,
				</if>
				<if test="tag != null">
					tag,
				</if>
				<if test="status != null">
					status,
				</if>
				<if test="userId != null">
					userId,
				</if>
				<if test="datetime != null">
					datetime,
				</if>
				<if test="level != null">
					level,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="pid != null">
					#{pid},
				</if>
				<if test="name != null">
					#{name},
				</if>
				<if test="nameEng != null">
					#{nameEng},
				</if>
				<if test="alias != null">
					#{alias},
				</if>
				<if test="depTitle != null">
					#{depTitle},
				</if>
				<if test="description != null">
					#{description},
				</if>
				<if test="tag != null">
					#{tag},
				</if>
				<if test="status != null">
					#{status},
				</if>
				<if test="userId != null">
					#{userId},
				</if>
				<if test="datetime != null">
					#{datetime},
				</if>
				<if test="level != null">
					#{level},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM division
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="pid != null and pid != ''">
				AND pid = #{pid}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
			<if test="nameEng != null and nameEng != ''">
				AND nameEng = #{nameEng}
			</if>
			<if test="alias != null and alias != ''">
				AND alias = #{alias}
			</if>
			<if test="depTitle != null and depTitle != ''">
				AND depTitle = #{depTitle}
			</if>
			<if test="description != null and description != ''">
				AND description = #{description}
			</if>
			<if test="tag != null and tag != ''">
				AND tag = #{tag}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="userId != null and userId != ''">
				AND userId = #{userId}
			</if>
			<if test="datetime != null and datetime != ''">
				AND datetime = #{datetime}
			</if>
			<if test="level != null and level != ''">
				AND level = #{level}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.DivisionConditionMapper.searchWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE division
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="pid != null and pid != ''">
				pid = #{pid},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="nameEng != null and nameEng != ''">
				nameEng = #{nameEng},
			</if>
			<if test="alias != null and alias != ''">
				alias = #{alias},
			</if>
			<if test="depTitle != null and depTitle != ''">
				depTitle = #{depTitle},
			</if>
			<if test="description != null and description != ''">
				description = #{description},
			</if>
			<if test="tag != null and tag != ''">
				tag = #{tag},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="userId != null and userId != ''">
				userId = #{userId},
			</if>
			<if test="datetime != null and datetime != ''">
				datetime = #{datetime},
			</if>
			<if test="level != null and level != ''">
				level = #{level},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.DivisionConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.DivisionConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="division">
		SELECT 
			<include refid="com.mtf.framework.dao.DivisionConditionMapper.getColumn"/>
			a.id, 
			a.pid, 
			a.name, 
			a.nameEng, 
			a.alias, 
			a.depTitle, 
			a.description, 
			a.tag, 
			a.status, 
			a.userId, 
			a.datetime, 
			a.level, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM division AS a
		<include refid="com.mtf.framework.dao.DivisionConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="pid != null">
				AND a.pid = #{pid}
			</if>
			<if test="name != null">
				AND a.name = #{name}
			</if>
			<if test="nameEng != null">
				AND a.nameEng = #{nameEng}
			</if>
			<if test="alias != null">
				AND a.alias = #{alias}
			</if>
			<if test="depTitle != null">
				AND a.depTitle = #{depTitle}
			</if>
			<if test="description != null">
				AND a.description = #{description}
			</if>
			<if test="tag != null">
				AND a.tag = #{tag}
			</if>
			<if test="status != null">
				AND a.status = #{status}
			</if>
			<if test="userId != null">
				AND a.userId = #{userId}
			</if>
			<if test="datetime != null">
				AND a.datetime = #{datetime}
			</if>
			<if test="level != null">
				AND a.level = #{level}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.DivisionConditionMapper.getWhere"/>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="division">
		SELECT 
			<include refid="com.mtf.framework.dao.DivisionConditionMapper.selectColumn"/>
			a.id, 
			a.pid, 
			a.name, 
			a.nameEng, 
			a.alias, 
			a.depTitle, 
			a.description, 
			a.tag, 
			a.status, 
			a.userId, 
			a.datetime, 
			a.level, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM division AS a
		<include refid="com.mtf.framework.dao.DivisionConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="pid != null and pid != ''">
				AND a.pid = #{pid}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="nameEng != null and nameEng != ''">
				AND a.nameEng = #{nameEng}
			</if>
			<if test="alias != null and alias != ''">
				AND a.alias = #{alias}
			</if>
			<if test="depTitle != null and depTitle != ''">
				AND a.depTitle = #{depTitle}
			</if>
			<if test="description != null and description != ''">
				AND a.description = #{description}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="status != null and status != ''">
				AND b.status = #{status}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="datetime != null and datetime != ''">
				AND a.datetime = #{datetime}
			</if>
			<if test="level != null and level != ''">
				AND a.level = #{level}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.DivisionConditionMapper.searchWhere"/>
		</where>
		<if test="group != null">
			GROUP BY ${group}
		</if>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM division AS a
		<include refid="com.mtf.framework.dao.DivisionConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="pid != null and pid != ''">
				AND a.pid = #{pid}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="nameEng != null and nameEng != ''">
				AND a.nameEng = #{nameEng}
			</if>
			<if test="alias != null and alias != ''">
				AND a.alias = #{alias}
			</if>
			<if test="depTitle != null and depTitle != ''">
				AND a.depTitle = #{depTitle}
			</if>
			<if test="description != null and description != ''">
				AND a.description = #{description}
			</if>
			<if test="tag != null and tag != ''">
				AND a.tag = #{tag}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="datetime != null and datetime != ''">
				AND a.datetime = #{datetime}
			</if>
			<if test="level != null and level != ''">
				AND a.level = #{level}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.DivisionConditionMapper.searchWhere"/>
		</where>
	</select>
</mapper>