<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.OrderCategoryServiceDetailMapper" > 
	<resultMap type="com.mtf.framework.model.impl.OrderCategoryServiceDetailImpl" id="orderCategoryServiceDetail"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="orderCategoryServiceDetail">
		INSERT INTO orderCategoryServiceDetail
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="idOrderCategoryService != null">
					idOrderCategoryService,
				</if>
				<if test="idPurchase != null">
					idPurchase,
				</if>
				<if test="idReimbursement != null">
					idReimbursement,
				</if>
				<if test="idCategoryLeve1 != null">
					idCategoryLeve1,
				</if>
				<if test="nameCategoryLevel1 != null">
					nameCategoryLevel1,
				</if>
				<if test="idCategoryLevel2 != null">
					idCategoryLevel2,
				</if>
				<if test="nameCategoryLevel2 != null">
					nameCategoryLevel2,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="amount != null">
					amount,
				</if>
				<if test="amountRmb != null">
					amountRmb,
				</if>
				<if test="exchangeRate != null">
					exchangeRate,
				</if>
				<if test="divisionId != null">
					divisionId,
				</if>
				<if test="divisionName != null">
					divisionName,
				</if>
				<if test="typeInvoiceId != null">
					typeInvoiceId,
				</if>
				<if test="typeInvoiceName != null">
					typeInvoiceName,
				</if>
				<if test="customerId != null">
					customerId,
				</if>
				<if test="customerName != null">
					customerName,
				</if>
				<if test="customerId1 != null">
					customerId1,
				</if>
				<if test="customerName1 != null">
					customerName1,
				</if>
				<if test="customerId2 != null">
					customerId2,
				</if>
				<if test="customerName2 != null">
					customerName2,
				</if>
				<if test="approverId1 != null">
					approverId1,
				</if>
				<if test="approverName1 != null">
					approverName1,
				</if>
				<if test="approveNeed1 != null">
					approveNeed1,
				</if>
				<if test="approveStatus1 != null">
					approveStatus1,
				</if>
				<if test="approveDate1 != null">
					approveDate1,
				</if>
				<if test="approverEmail1 != null">
					approverEmail1,
				</if>
				<if test="approverId2 != null">
					approverId2,
				</if>
				<if test="approverName2 != null">
					approverName2,
				</if>
				<if test="approveNeed2 != null">
					approveNeed2,
				</if>
				<if test="approveStatus2 != null">
					approveStatus2,
				</if>
				<if test="approveDate2 != null">
					approveDate2,
				</if>
				<if test="approverEmail2 != null">
					approverEmail2,
				</if>
				<if test="approverId3 != null">
					approverId3,
				</if>
				<if test="approverName3 != null">
					approverName3,
				</if>
				<if test="approveNeed3 != null">
					approveNeed3,
				</if>
				<if test="approveStatus3 != null">
					approveStatus3,
				</if>
				<if test="approveDate3 != null">
					approveDate3,
				</if>
				<if test="approverEmail3 != null">
					approverEmail3,
				</if>
				<if test="approverId4 != null">
					approverId4,
				</if>
				<if test="approverName4 != null">
					approverName4,
				</if>
				<if test="approveNeed4 != null">
					approveNeed4,
				</if>
				<if test="approveStatus4 != null">
					approveStatus4,
				</if>
				<if test="approveDate4 != null">
					approveDate4,
				</if>
				<if test="approverEmail4 != null">
					approverEmail4,
				</if>
				<if test="approveStatus != null">
					approveStatus,
				</if>
				<if test="approveStatusFinal != null">
					approveStatusFinal,
				</if>
				<if test="status != null">
					status,
				</if>
				<if test="typeData != null">
					typeData,
				</if>
				<if test="countDetail != null">
					countDetail,
				</if>
				<if test="countApprove != null">
					countApprove,
				</if>
				<if test="countApprovePercent != null">
					countApprovePercent,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="idOrderCategoryService != null">
					#{idOrderCategoryService},
				</if>
				<if test="idPurchase != null">
					#{idPurchase},
				</if>
				<if test="idReimbursement != null">
					#{idReimbursement},
				</if>
				<if test="idCategoryLeve1 != null">
					#{idCategoryLeve1},
				</if>
				<if test="nameCategoryLevel1 != null">
					#{nameCategoryLevel1},
				</if>
				<if test="idCategoryLevel2 != null">
					#{idCategoryLevel2},
				</if>
				<if test="nameCategoryLevel2 != null">
					#{nameCategoryLevel2},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="amount != null">
					#{amount},
				</if>
				<if test="amountRmb != null">
					#{amountRmb},
				</if>
				<if test="exchangeRate != null">
					#{exchangeRate},
				</if>
				<if test="divisionId != null">
					#{divisionId},
				</if>
				<if test="divisionName != null">
					#{divisionName},
				</if>
				<if test="typeInvoiceId != null">
					#{typeInvoiceId},
				</if>
				<if test="typeInvoiceName != null">
					#{typeInvoiceName},
				</if>
				<if test="customerId != null">
					#{customerId},
				</if>
				<if test="customerName != null">
					#{customerName},
				</if>
				<if test="customerId1 != null">
					#{customerId1},
				</if>
				<if test="customerName1 != null">
					#{customerName1},
				</if>
				<if test="customerId2 != null">
					#{customerId2},
				</if>
				<if test="customerName2 != null">
					#{customerName2},
				</if>
				<if test="approverId1 != null">
					#{approverId1},
				</if>
				<if test="approverName1 != null">
					#{approverName1},
				</if>
				<if test="approveNeed1 != null">
					#{approveNeed1},
				</if>
				<if test="approveStatus1 != null">
					#{approveStatus1},
				</if>
				<if test="approveDate1 != null">
					#{approveDate1},
				</if>
				<if test="approverEmail1 != null">
					#{approverEmail1},
				</if>
				<if test="approverId2 != null">
					#{approverId2},
				</if>
				<if test="approverName2 != null">
					#{approverName2},
				</if>
				<if test="approveNeed2 != null">
					#{approveNeed2},
				</if>
				<if test="approveStatus2 != null">
					#{approveStatus2},
				</if>
				<if test="approveDate2 != null">
					#{approveDate2},
				</if>
				<if test="approverEmail2 != null">
					#{approverEmail2},
				</if>
				<if test="approverId3 != null">
					#{approverId3},
				</if>
				<if test="approverName3 != null">
					#{approverName3},
				</if>
				<if test="approveNeed3 != null">
					#{approveNeed3},
				</if>
				<if test="approveStatus3 != null">
					#{approveStatus3},
				</if>
				<if test="approveDate3 != null">
					#{approveDate3},
				</if>
				<if test="approverEmail3 != null">
					#{approverEmail3},
				</if>
				<if test="approverId4 != null">
					#{approverId4},
				</if>
				<if test="approverName4 != null">
					#{approverName4},
				</if>
				<if test="approveNeed4 != null">
					#{approveNeed4},
				</if>
				<if test="approveStatus4 != null">
					#{approveStatus4},
				</if>
				<if test="approveDate4 != null">
					#{approveDate4},
				</if>
				<if test="approverEmail4 != null">
					#{approverEmail4},
				</if>
				<if test="approveStatus != null">
					#{approveStatus},
				</if>
				<if test="approveStatusFinal != null">
					#{approveStatusFinal},
				</if>
				<if test="status != null">
					#{status},
				</if>
				<if test="typeData != null">
					#{typeData},
				</if>
				<if test="countDetail != null">
					#{countDetail},
				</if>
				<if test="countApprove != null">
					#{countApprove},
				</if>
				<if test="countApprovePercent != null">
					#{countApprovePercent},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM orderCategoryServiceDetail
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="idOrderCategoryService != null and idOrderCategoryService != ''">
				AND idOrderCategoryService = #{idOrderCategoryService}
			</if>
			<if test="idPurchase != null and idPurchase != ''">
				AND idPurchase = #{idPurchase}
			</if>
			<if test="idReimbursement != null and idReimbursement != ''">
				AND idReimbursement = #{idReimbursement}
			</if>
			<if test="idCategoryLeve1 != null and idCategoryLeve1 != ''">
				AND idCategoryLeve1 = #{idCategoryLeve1}
			</if>
			<if test="nameCategoryLevel1 != null and nameCategoryLevel1 != ''">
				AND nameCategoryLevel1 = #{nameCategoryLevel1}
			</if>
			<if test="idCategoryLevel2 != null and idCategoryLevel2 != ''">
				AND idCategoryLevel2 = #{idCategoryLevel2}
			</if>
			<if test="nameCategoryLevel2 != null and nameCategoryLevel2 != ''">
				AND nameCategoryLevel2 = #{nameCategoryLevel2}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="amount != null and amount != ''">
				AND amount = #{amount}
			</if>
			<if test="amountRmb != null and amountRmb != ''">
				AND amountRmb = #{amountRmb}
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				AND exchangeRate = #{exchangeRate}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND divisionName = #{divisionName}
			</if>
			<if test="typeInvoiceId != null and typeInvoiceId != ''">
				AND typeInvoiceId = #{typeInvoiceId}
			</if>
			<if test="typeInvoiceName != null and typeInvoiceName != ''">
				AND typeInvoiceName = #{typeInvoiceName}
			</if>
			<if test="customerId != null and customerId != ''">
				AND customerId = #{customerId}
			</if>
			<if test="customerName != null and customerName != ''">
				AND customerName = #{customerName}
			</if>
			<if test="customerId1 != null and customerId1 != ''">
				AND customerId1 = #{customerId1}
			</if>
			<if test="customerName1 != null and customerName1 != ''">
				AND customerName1 = #{customerName1}
			</if>
			<if test="customerId2 != null and customerId2 != ''">
				AND customerId2 = #{customerId2}
			</if>
			<if test="customerName2 != null and customerName2 != ''">
				AND customerName2 = #{customerName2}
			</if>
			<if test="approverId1 != null and approverId1 != ''">
				AND approverId1 = #{approverId1}
			</if>
			<if test="approverName1 != null and approverName1 != ''">
				AND approverName1 = #{approverName1}
			</if>
			<if test="approveNeed1 != null and approveNeed1 != ''">
				AND approveNeed1 = #{approveNeed1}
			</if>
			<if test="approveStatus1 != null and approveStatus1 != ''">
				AND approveStatus1 = #{approveStatus1}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND approveDate1 = #{approveDate1}
			</if>
			<if test="approverEmail1 != null and approverEmail1 != ''">
				AND approverEmail1 = #{approverEmail1}
			</if>
			<if test="approverId2 != null and approverId2 != ''">
				AND approverId2 = #{approverId2}
			</if>
			<if test="approverName2 != null and approverName2 != ''">
				AND approverName2 = #{approverName2}
			</if>
			<if test="approveNeed2 != null and approveNeed2 != ''">
				AND approveNeed2 = #{approveNeed2}
			</if>
			<if test="approveStatus2 != null and approveStatus2 != ''">
				AND approveStatus2 = #{approveStatus2}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND approveDate2 = #{approveDate2}
			</if>
			<if test="approverEmail2 != null and approverEmail2 != ''">
				AND approverEmail2 = #{approverEmail2}
			</if>
			<if test="approverId3 != null and approverId3 != ''">
				AND approverId3 = #{approverId3}
			</if>
			<if test="approverName3 != null and approverName3 != ''">
				AND approverName3 = #{approverName3}
			</if>
			<if test="approveNeed3 != null and approveNeed3 != ''">
				AND approveNeed3 = #{approveNeed3}
			</if>
			<if test="approveStatus3 != null and approveStatus3 != ''">
				AND approveStatus3 = #{approveStatus3}
			</if>
			<if test="approveDate3 != null and approveDate3 != ''">
				AND approveDate3 = #{approveDate3}
			</if>
			<if test="approverEmail3 != null and approverEmail3 != ''">
				AND approverEmail3 = #{approverEmail3}
			</if>
			<if test="approverId4 != null and approverId4 != ''">
				AND approverId4 = #{approverId4}
			</if>
			<if test="approverName4 != null and approverName4 != ''">
				AND approverName4 = #{approverName4}
			</if>
			<if test="approveNeed4 != null and approveNeed4 != ''">
				AND approveNeed4 = #{approveNeed4}
			</if>
			<if test="approveStatus4 != null and approveStatus4 != ''">
				AND approveStatus4 = #{approveStatus4}
			</if>
			<if test="approveDate4 != null and approveDate4 != ''">
				AND approveDate4 = #{approveDate4}
			</if>
			<if test="approverEmail4 != null and approverEmail4 != ''">
				AND approverEmail4 = #{approverEmail4}
			</if>
			<if test="approveStatus != null and approveStatus != ''">
				AND approveStatus = #{approveStatus}
			</if>
			<if test="approveStatusFinal != null and approveStatusFinal != ''">
				AND approveStatusFinal = #{approveStatusFinal}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="typeData != null and typeData != ''">
				AND typeData = #{typeData}
			</if>
			<if test="countDetail != null and countDetail != ''">
				AND countDetail = #{countDetail}
			</if>
			<if test="countApprove != null and countApprove != ''">
				AND countApprove = #{countApprove}
			</if>
			<if test="countApprovePercent != null and countApprovePercent != ''">
				AND countApprovePercent = #{countApprovePercent}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.searchWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE orderCategoryServiceDetail
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="idOrderCategoryService != null and idOrderCategoryService != ''">
				idOrderCategoryService = #{idOrderCategoryService},
			</if>
			<if test="idPurchase != null and idPurchase != ''">
				idPurchase = #{idPurchase},
			</if>
			<if test="idReimbursement != null and idReimbursement != ''">
				idReimbursement = #{idReimbursement},
			</if>
			<if test="idCategoryLeve1 != null and idCategoryLeve1 != ''">
				idCategoryLeve1 = #{idCategoryLeve1},
			</if>
			<if test="nameCategoryLevel1 != null and nameCategoryLevel1 != ''">
				nameCategoryLevel1 = #{nameCategoryLevel1},
			</if>
			<if test="idCategoryLevel2 != null and idCategoryLevel2 != ''">
				idCategoryLevel2 = #{idCategoryLevel2},
			</if>
			<if test="nameCategoryLevel2 != null and nameCategoryLevel2 != ''">
				nameCategoryLevel2 = #{nameCategoryLevel2},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="amount != null">
				amount = #{amount},
			</if>
			<if test="amountRmb != null">
				amountRmb = #{amountRmb},
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				exchangeRate = #{exchangeRate},
			</if>
			<if test="divisionId != null and divisionId != ''">
				divisionId = #{divisionId},
			</if>
			<if test="divisionName != null and divisionName != ''">
				divisionName = #{divisionName},
			</if>
			<if test="typeInvoiceId != null and typeInvoiceId != ''">
				typeInvoiceId = #{typeInvoiceId},
			</if>
			<if test="typeInvoiceName != null and typeInvoiceName != ''">
				typeInvoiceName = #{typeInvoiceName},
			</if>
			<if test="customerId != null and customerId != ''">
				customerId = #{customerId},
			</if>
			<if test="customerName != null and customerName != ''">
				customerName = #{customerName},
			</if>
			<if test="customerId1 != null and customerId1 != ''">
				customerId1 = #{customerId1},
			</if>
			<if test="customerName1 != null and customerName1 != ''">
				customerName1 = #{customerName1},
			</if>
			<if test="customerId2 != null and customerId2 != ''">
				customerId2 = #{customerId2},
			</if>
			<if test="customerName2 != null and customerName2 != ''">
				customerName2 = #{customerName2},
			</if>
			<if test="approverId1 != null and approverId1 != ''">
				approverId1 = #{approverId1},
			</if>
			<if test="approverName1 != null and approverName1 != ''">
				approverName1 = #{approverName1},
			</if>
			<if test="approveNeed1 != null and approveNeed1 != ''">
				approveNeed1 = #{approveNeed1},
			</if>
			<if test="approveStatus1 != null and approveStatus1 != ''">
				approveStatus1 = #{approveStatus1},
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				approveDate1 = #{approveDate1},
			</if>
			<if test="approverEmail1 != null and approverEmail1 != ''">
				approverEmail1 = #{approverEmail1},
			</if>
			<if test="approverId2 != null and approverId2 != ''">
				approverId2 = #{approverId2},
			</if>
			<if test="approverName2 != null and approverName2 != ''">
				approverName2 = #{approverName2},
			</if>
			<if test="approveNeed2 != null and approveNeed2 != ''">
				approveNeed2 = #{approveNeed2},
			</if>
			<if test="approveStatus2 != null and approveStatus2 != ''">
				approveStatus2 = #{approveStatus2},
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				approveDate2 = #{approveDate2},
			</if>
			<if test="approverEmail2 != null and approverEmail2 != ''">
				approverEmail2 = #{approverEmail2},
			</if>
			<if test="approverId3 != null and approverId3 != ''">
				approverId3 = #{approverId3},
			</if>
			<if test="approverName3 != null and approverName3 != ''">
				approverName3 = #{approverName3},
			</if>
			<if test="approveNeed3 != null and approveNeed3 != ''">
				approveNeed3 = #{approveNeed3},
			</if>
			<if test="approveStatus3 != null and approveStatus3 != ''">
				approveStatus3 = #{approveStatus3},
			</if>
			<if test="approveDate3 != null and approveDate3 != ''">
				approveDate3 = #{approveDate3},
			</if>
			<if test="approverEmail3 != null and approverEmail3 != ''">
				approverEmail3 = #{approverEmail3},
			</if>
			<if test="approverId4 != null and approverId4 != ''">
				approverId4 = #{approverId4},
			</if>
			<if test="approverName4 != null and approverName4 != ''">
				approverName4 = #{approverName4},
			</if>
			<if test="approveNeed4 != null and approveNeed4 != ''">
				approveNeed4 = #{approveNeed4},
			</if>
			<if test="approveStatus4 != null and approveStatus4 != ''">
				approveStatus4 = #{approveStatus4},
			</if>
			<if test="approveDate4 != null and approveDate4 != ''">
				approveDate4 = #{approveDate4},
			</if>
			<if test="approverEmail4 != null and approverEmail4 != ''">
				approverEmail4 = #{approverEmail4},
			</if>
			<if test="approveStatus != null and approveStatus != ''">
				approveStatus = #{approveStatus},
			</if>
			<if test="approveStatusFinal != null and approveStatusFinal != ''">
				approveStatusFinal = #{approveStatusFinal},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="typeData != null and typeData != ''">
				typeData = #{typeData},
			</if>
			<if test="countDetail != null and countDetail != ''">
				countDetail = #{countDetail},
			</if>
			<if test="countApprove != null and countApprove != ''">
				countApprove = #{countApprove},
			</if>
			<if test="countApprovePercent != null and countApprovePercent != ''">
				countApprovePercent = #{countApprovePercent},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="orderCategoryServiceDetail">
		SELECT 
			<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.getColumn"/>
			a.id, 
			a.idOrderCategoryService, 
			a.idPurchase, 
			a.idReimbursement, 
			a.idCategoryLeve1, 
			a.nameCategoryLevel1, 
			a.idCategoryLevel2, 
			a.nameCategoryLevel2, 
			a.remark, 
			a.amount, 
			a.amountRmb, 
			a.exchangeRate, 
			a.divisionId, 
			a.divisionName, 
			a.typeInvoiceId, 
			a.typeInvoiceName, 
			a.customerId, 
			a.customerName, 
			a.customerId1, 
			a.customerName1, 
			a.customerId2, 
			a.customerName2, 
			a.approverId1, 
			a.approverName1, 
			a.approveNeed1, 
			a.approveStatus1, 
			a.approveDate1, 
			a.approverEmail1, 
			a.approverId2, 
			a.approverName2, 
			a.approveNeed2, 
			a.approveStatus2, 
			a.approveDate2, 
			a.approverEmail2, 
			a.approverId3, 
			a.approverName3, 
			a.approveNeed3, 
			a.approveStatus3, 
			a.approveDate3, 
			a.approverEmail3, 
			a.approverId4, 
			a.approverName4, 
			a.approveNeed4, 
			a.approveStatus4, 
			a.approveDate4, 
			a.approverEmail4, 
			a.approveStatus, 
			a.approveStatusFinal, 
			a.status, 
			a.typeData, 
			a.countDetail, 
			a.countApprove, 
			a.countApprovePercent, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM orderCategoryServiceDetail AS a
		<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="idOrderCategoryService != null">
				AND a.idOrderCategoryService = #{idOrderCategoryService}
			</if>
			<if test="idPurchase != null">
				AND a.idPurchase = #{idPurchase}
			</if>
			<if test="idReimbursement != null">
				AND a.idReimbursement = #{idReimbursement}
			</if>
			<if test="idCategoryLeve1 != null">
				AND a.idCategoryLeve1 = #{idCategoryLeve1}
			</if>
			<if test="nameCategoryLevel1 != null">
				AND a.nameCategoryLevel1 = #{nameCategoryLevel1}
			</if>
			<if test="idCategoryLevel2 != null">
				AND a.idCategoryLevel2 = #{idCategoryLevel2}
			</if>
			<if test="nameCategoryLevel2 != null">
				AND a.nameCategoryLevel2 = #{nameCategoryLevel2}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="amount != null">
				AND a.amount = #{amount}
			</if>
			<if test="amountRmb != null">
				AND a.amountRmb = #{amountRmb}
			</if>
			<if test="exchangeRate != null">
				AND a.exchangeRate = #{exchangeRate}
			</if>
			<if test="divisionId != null">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="divisionName != null">
				AND a.divisionName = #{divisionName}
			</if>
			<if test="typeInvoiceId != null">
				AND a.typeInvoiceId = #{typeInvoiceId}
			</if>
			<if test="typeInvoiceName != null">
				AND a.typeInvoiceName = #{typeInvoiceName}
			</if>
			<if test="customerId != null">
				AND a.customerId = #{customerId}
			</if>
			<if test="customerName != null">
				AND a.customerName = #{customerName}
			</if>
			<if test="customerId1 != null">
				AND a.customerId1 = #{customerId1}
			</if>
			<if test="customerName1 != null">
				AND a.customerName1 = #{customerName1}
			</if>
			<if test="customerId2 != null">
				AND a.customerId2 = #{customerId2}
			</if>
			<if test="customerName2 != null">
				AND a.customerName2 = #{customerName2}
			</if>
			<if test="approverId1 != null">
				AND a.approverId1 = #{approverId1}
			</if>
			<if test="approverName1 != null">
				AND a.approverName1 = #{approverName1}
			</if>
			<if test="approveNeed1 != null">
				AND a.approveNeed1 = #{approveNeed1}
			</if>
			<if test="approveStatus1 != null">
				AND a.approveStatus1 = #{approveStatus1}
			</if>
			<if test="approveDate1 != null">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approverEmail1 != null">
				AND a.approverEmail1 = #{approverEmail1}
			</if>
			<if test="approverId2 != null">
				AND a.approverId2 = #{approverId2}
			</if>
			<if test="approverName2 != null">
				AND a.approverName2 = #{approverName2}
			</if>
			<if test="approveNeed2 != null">
				AND a.approveNeed2 = #{approveNeed2}
			</if>
			<if test="approveStatus2 != null">
				AND a.approveStatus2 = #{approveStatus2}
			</if>
			<if test="approveDate2 != null">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="approverEmail2 != null">
				AND a.approverEmail2 = #{approverEmail2}
			</if>
			<if test="approverId3 != null">
				AND a.approverId3 = #{approverId3}
			</if>
			<if test="approverName3 != null">
				AND a.approverName3 = #{approverName3}
			</if>
			<if test="approveNeed3 != null">
				AND a.approveNeed3 = #{approveNeed3}
			</if>
			<if test="approveStatus3 != null">
				AND a.approveStatus3 = #{approveStatus3}
			</if>
			<if test="approveDate3 != null">
				AND a.approveDate3 = #{approveDate3}
			</if>
			<if test="approverEmail3 != null">
				AND a.approverEmail3 = #{approverEmail3}
			</if>
			<if test="approverId4 != null">
				AND a.approverId4 = #{approverId4}
			</if>
			<if test="approverName4 != null">
				AND a.approverName4 = #{approverName4}
			</if>
			<if test="approveNeed4 != null">
				AND a.approveNeed4 = #{approveNeed4}
			</if>
			<if test="approveStatus4 != null">
				AND a.approveStatus4 = #{approveStatus4}
			</if>
			<if test="approveDate4 != null">
				AND a.approveDate4 = #{approveDate4}
			</if>
			<if test="approverEmail4 != null">
				AND a.approverEmail4 = #{approverEmail4}
			</if>
			<if test="approveStatus != null">
				AND a.approveStatus = #{approveStatus}
			</if>
			<if test="approveStatusFinal != null">
				AND a.approveStatusFinal = #{approveStatusFinal}
			</if>
			<if test="status != null">
				AND a.status = #{status}
			</if>
			<if test="typeData != null">
				AND a.typeData = #{typeData}
			</if>
			<if test="countDetail != null">
				AND a.countDetail = #{countDetail}
			</if>
			<if test="countApprove != null">
				AND a.countApprove = #{countApprove}
			</if>
			<if test="countApprovePercent != null">
				AND a.countApprovePercent = #{countApprovePercent}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.getWhere"/>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="orderCategoryServiceDetail">
		SELECT 
			<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.selectColumn"/>
			a.id, 
			a.idOrderCategoryService, 
			a.idPurchase, 
			a.idReimbursement, 
			a.idCategoryLeve1, 
			a.nameCategoryLevel1, 
			a.idCategoryLevel2, 
			a.nameCategoryLevel2, 
			a.remark, 
			a.amount, 
			a.amountRmb, 
			a.exchangeRate, 
			a.divisionId, 
			a.divisionName, 
			a.typeInvoiceId, 
			a.typeInvoiceName, 
			a.customerId, 
			a.customerName, 
			a.customerId1, 
			a.customerName1, 
			a.customerId2, 
			a.customerName2, 
			a.approverId1, 
			a.approverName1, 
			a.approveNeed1, 
			a.approveStatus1, 
			a.approveDate1, 
			a.approverEmail1, 
			a.approverId2, 
			a.approverName2, 
			a.approveNeed2, 
			a.approveStatus2, 
			a.approveDate2, 
			a.approverEmail2, 
			a.approverId3, 
			a.approverName3, 
			a.approveNeed3, 
			a.approveStatus3, 
			a.approveDate3, 
			a.approverEmail3, 
			a.approverId4, 
			a.approverName4, 
			a.approveNeed4, 
			a.approveStatus4, 
			a.approveDate4, 
			a.approverEmail4, 
			a.approveStatus, 
			a.approveStatusFinal, 
			a.status, 
			a.typeData, 
			a.countDetail, 
			a.countApprove, 
			a.countApprovePercent, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM orderCategoryServiceDetail AS a
		<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="idOrderCategoryService != null and idOrderCategoryService != ''">
				AND a.idOrderCategoryService = #{idOrderCategoryService}
			</if>
			<if test="idPurchase != null and idPurchase != ''">
				AND a.idPurchase = #{idPurchase}
			</if>
			<if test="idReimbursement != null and idReimbursement != ''">
				AND a.idReimbursement = #{idReimbursement}
			</if>
			<if test="idCategoryLeve1 != null and idCategoryLeve1 != ''">
				AND a.idCategoryLeve1 = #{idCategoryLeve1}
			</if>
			<if test="nameCategoryLevel1 != null and nameCategoryLevel1 != ''">
				AND a.nameCategoryLevel1 = #{nameCategoryLevel1}
			</if>
			<if test="idCategoryLevel2 != null and idCategoryLevel2 != ''">
				AND a.idCategoryLevel2 = #{idCategoryLevel2}
			</if>
			<if test="nameCategoryLevel2 != null and nameCategoryLevel2 != ''">
				AND a.nameCategoryLevel2 = #{nameCategoryLevel2}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="amount != null and amount != ''">
				AND a.amount = #{amount}
			</if>
			<if test="amountRmb != null and amountRmb != ''">
				AND a.amountRmb = #{amountRmb}
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				AND a.exchangeRate = #{exchangeRate}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND a.divisionName = #{divisionName}
			</if>
			<if test="typeInvoiceId != null and typeInvoiceId != ''">
				AND a.typeInvoiceId = #{typeInvoiceId}
			</if>
			<if test="typeInvoiceName != null and typeInvoiceName != ''">
				AND a.typeInvoiceName = #{typeInvoiceName}
			</if>
			<if test="customerId != null and customerId != ''">
				AND a.customerId = #{customerId}
			</if>
			<if test="customerName != null and customerName != ''">
				AND a.customerName = #{customerName}
			</if>
			<if test="customerId1 != null and customerId1 != ''">
				AND a.customerId1 = #{customerId1}
			</if>
			<if test="customerName1 != null and customerName1 != ''">
				AND a.customerName1 = #{customerName1}
			</if>
			<if test="customerId2 != null and customerId2 != ''">
				AND a.customerId2 = #{customerId2}
			</if>
			<if test="customerName2 != null and customerName2 != ''">
				AND a.customerName2 = #{customerName2}
			</if>
			<if test="approverId1 != null and approverId1 != ''">
				AND a.approverId1 = #{approverId1}
			</if>
			<if test="approverName1 != null and approverName1 != ''">
				AND a.approverName1 = #{approverName1}
			</if>
			<if test="approveNeed1 != null and approveNeed1 != ''">
				AND a.approveNeed1 = #{approveNeed1}
			</if>
			<if test="approveStatus1 != null and approveStatus1 != ''">
				AND a.approveStatus1 = #{approveStatus1}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approverEmail1 != null and approverEmail1 != ''">
				AND a.approverEmail1 = #{approverEmail1}
			</if>
			<if test="approverId2 != null and approverId2 != ''">
				AND a.approverId2 = #{approverId2}
			</if>
			<if test="approverName2 != null and approverName2 != ''">
				AND a.approverName2 = #{approverName2}
			</if>
			<if test="approveNeed2 != null and approveNeed2 != ''">
				AND a.approveNeed2 = #{approveNeed2}
			</if>
			<if test="approveStatus2 != null and approveStatus2 != ''">
				AND a.approveStatus2 = #{approveStatus2}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="approverEmail2 != null and approverEmail2 != ''">
				AND a.approverEmail2 = #{approverEmail2}
			</if>
			<if test="approverId3 != null and approverId3 != ''">
				AND a.approverId3 = #{approverId3}
			</if>
			<if test="approverName3 != null and approverName3 != ''">
				AND a.approverName3 = #{approverName3}
			</if>
			<if test="approveNeed3 != null and approveNeed3 != ''">
				AND a.approveNeed3 = #{approveNeed3}
			</if>
			<if test="approveStatus3 != null and approveStatus3 != ''">
				AND a.approveStatus3 = #{approveStatus3}
			</if>
			<if test="approveDate3 != null and approveDate3 != ''">
				AND a.approveDate3 = #{approveDate3}
			</if>
			<if test="approverEmail3 != null and approverEmail3 != ''">
				AND a.approverEmail3 = #{approverEmail3}
			</if>
			<if test="approverId4 != null and approverId4 != ''">
				AND a.approverId4 = #{approverId4}
			</if>
			<if test="approverName4 != null and approverName4 != ''">
				AND a.approverName4 = #{approverName4}
			</if>
			<if test="approveNeed4 != null and approveNeed4 != ''">
				AND a.approveNeed4 = #{approveNeed4}
			</if>
			<if test="approveStatus4 != null and approveStatus4 != ''">
				AND a.approveStatus4 = #{approveStatus4}
			</if>
			<if test="approveDate4 != null and approveDate4 != ''">
				AND a.approveDate4 = #{approveDate4}
			</if>
			<if test="approverEmail4 != null and approverEmail4 != ''">
				AND a.approverEmail4 = #{approverEmail4}
			</if>
			<if test="approveStatus != null and approveStatus != ''">
				AND a.approveStatus = #{approveStatus}
			</if>
			<if test="approveStatusFinal != null and approveStatusFinal != ''">
				AND a.approveStatusFinal = #{approveStatusFinal}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="typeData != null and typeData != ''">
				AND a.typeData = #{typeData}
			</if>
			<if test="countDetail != null and countDetail != ''">
				AND a.countDetail = #{countDetail}
			</if>
			<if test="countApprove != null and countApprove != ''">
				AND a.countApprove = #{countApprove}
			</if>
			<if test="countApprovePercent != null and countApprovePercent != ''">
				AND a.countApprovePercent = #{countApprovePercent}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.searchWhere"/>
		</where>
		<if test="group != null">
			GROUP BY ${group}
		</if>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM orderCategoryServiceDetail AS a
		<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="idOrderCategoryService != null and idOrderCategoryService != ''">
				AND a.idOrderCategoryService = #{idOrderCategoryService}
			</if>
			<if test="idPurchase != null and idPurchase != ''">
				AND a.idPurchase = #{idPurchase}
			</if>
			<if test="idReimbursement != null and idReimbursement != ''">
				AND a.idReimbursement = #{idReimbursement}
			</if>
			<if test="idCategoryLeve1 != null and idCategoryLeve1 != ''">
				AND a.idCategoryLeve1 = #{idCategoryLeve1}
			</if>
			<if test="nameCategoryLevel1 != null and nameCategoryLevel1 != ''">
				AND a.nameCategoryLevel1 = #{nameCategoryLevel1}
			</if>
			<if test="idCategoryLevel2 != null and idCategoryLevel2 != ''">
				AND a.idCategoryLevel2 = #{idCategoryLevel2}
			</if>
			<if test="nameCategoryLevel2 != null and nameCategoryLevel2 != ''">
				AND a.nameCategoryLevel2 = #{nameCategoryLevel2}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="amount != null and amount != ''">
				AND a.amount = #{amount}
			</if>
			<if test="amountRmb != null and amountRmb != ''">
				AND a.amountRmb = #{amountRmb}
			</if>
			<if test="exchangeRate != null and exchangeRate != ''">
				AND a.exchangeRate = #{exchangeRate}
			</if>
			<if test="divisionId != null and divisionId != ''">
				AND a.divisionId = #{divisionId}
			</if>
			<if test="divisionName != null and divisionName != ''">
				AND a.divisionName = #{divisionName}
			</if>
			<if test="typeInvoiceId != null and typeInvoiceId != ''">
				AND a.typeInvoiceId = #{typeInvoiceId}
			</if>
			<if test="typeInvoiceName != null and typeInvoiceName != ''">
				AND a.typeInvoiceName = #{typeInvoiceName}
			</if>
			<if test="customerId != null and customerId != ''">
				AND a.customerId = #{customerId}
			</if>
			<if test="customerName != null and customerName != ''">
				AND a.customerName = #{customerName}
			</if>
			<if test="customerId1 != null and customerId1 != ''">
				AND a.customerId1 = #{customerId1}
			</if>
			<if test="customerName1 != null and customerName1 != ''">
				AND a.customerName1 = #{customerName1}
			</if>
			<if test="customerId2 != null and customerId2 != ''">
				AND a.customerId2 = #{customerId2}
			</if>
			<if test="customerName2 != null and customerName2 != ''">
				AND a.customerName2 = #{customerName2}
			</if>
			<if test="approverId1 != null and approverId1 != ''">
				AND a.approverId1 = #{approverId1}
			</if>
			<if test="approverName1 != null and approverName1 != ''">
				AND a.approverName1 = #{approverName1}
			</if>
			<if test="approveNeed1 != null and approveNeed1 != ''">
				AND a.approveNeed1 = #{approveNeed1}
			</if>
			<if test="approveStatus1 != null and approveStatus1 != ''">
				AND a.approveStatus1 = #{approveStatus1}
			</if>
			<if test="approveDate1 != null and approveDate1 != ''">
				AND a.approveDate1 = #{approveDate1}
			</if>
			<if test="approverEmail1 != null and approverEmail1 != ''">
				AND a.approverEmail1 = #{approverEmail1}
			</if>
			<if test="approverId2 != null and approverId2 != ''">
				AND a.approverId2 = #{approverId2}
			</if>
			<if test="approverName2 != null and approverName2 != ''">
				AND a.approverName2 = #{approverName2}
			</if>
			<if test="approveNeed2 != null and approveNeed2 != ''">
				AND a.approveNeed2 = #{approveNeed2}
			</if>
			<if test="approveStatus2 != null and approveStatus2 != ''">
				AND a.approveStatus2 = #{approveStatus2}
			</if>
			<if test="approveDate2 != null and approveDate2 != ''">
				AND a.approveDate2 = #{approveDate2}
			</if>
			<if test="approverEmail2 != null and approverEmail2 != ''">
				AND a.approverEmail2 = #{approverEmail2}
			</if>
			<if test="approverId3 != null and approverId3 != ''">
				AND a.approverId3 = #{approverId3}
			</if>
			<if test="approverName3 != null and approverName3 != ''">
				AND a.approverName3 = #{approverName3}
			</if>
			<if test="approveNeed3 != null and approveNeed3 != ''">
				AND a.approveNeed3 = #{approveNeed3}
			</if>
			<if test="approveStatus3 != null and approveStatus3 != ''">
				AND a.approveStatus3 = #{approveStatus3}
			</if>
			<if test="approveDate3 != null and approveDate3 != ''">
				AND a.approveDate3 = #{approveDate3}
			</if>
			<if test="approverEmail3 != null and approverEmail3 != ''">
				AND a.approverEmail3 = #{approverEmail3}
			</if>
			<if test="approverId4 != null and approverId4 != ''">
				AND a.approverId4 = #{approverId4}
			</if>
			<if test="approverName4 != null and approverName4 != ''">
				AND a.approverName4 = #{approverName4}
			</if>
			<if test="approveNeed4 != null and approveNeed4 != ''">
				AND a.approveNeed4 = #{approveNeed4}
			</if>
			<if test="approveStatus4 != null and approveStatus4 != ''">
				AND a.approveStatus4 = #{approveStatus4}
			</if>
			<if test="approveDate4 != null and approveDate4 != ''">
				AND a.approveDate4 = #{approveDate4}
			</if>
			<if test="approverEmail4 != null and approverEmail4 != ''">
				AND a.approverEmail4 = #{approverEmail4}
			</if>
			<if test="approveStatus != null and approveStatus != ''">
				AND a.approveStatus = #{approveStatus}
			</if>
			<if test="approveStatusFinal != null and approveStatusFinal != ''">
				AND a.approveStatusFinal = #{approveStatusFinal}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="typeData != null and typeData != ''">
				AND a.typeData = #{typeData}
			</if>
			<if test="countDetail != null and countDetail != ''">
				AND a.countDetail = #{countDetail}
			</if>
			<if test="countApprove != null and countApprove != ''">
				AND a.countApprove = #{countApprove}
			</if>
			<if test="countApprovePercent != null and countApprovePercent != ''">
				AND a.countApprovePercent = #{countApprovePercent}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderCategoryServiceDetailConditionMapper.searchWhere"/>
		</where>
	</select>
</mapper>