<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.OrderCategoryRuleMapper" > 
	<resultMap type="com.mtf.framework.model.impl.OrderCategoryRuleImpl" id="orderCategoryRule"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="orderCategoryRule">
		INSERT INTO orderCategoryRule
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="typeRole != null">
					typeRole,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="description != null">
					description,
				</if>
				<if test="code != null">
					code,
				</if>
				<if test="value != null">
					value,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="status != null">
					status,
				</if>
				<if test="amonutLower != null">
					amonutLower,
				</if>
				<if test="amonutUpper != null">
					amonutUpper,
				</if>
				<if test="typeDate != null">
					typeDate,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="typeRole != null">
					#{typeRole},
				</if>
				<if test="name != null">
					#{name},
				</if>
				<if test="description != null">
					#{description},
				</if>
				<if test="code != null">
					#{code},
				</if>
				<if test="value != null">
					#{value},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="status != null">
					#{status},
				</if>
				<if test="amonutLower != null">
					#{amonutLower},
				</if>
				<if test="amonutUpper != null">
					#{amonutUpper},
				</if>
				<if test="typeDate != null">
					#{typeDate},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM orderCategoryRule
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="typeRole != null and typeRole != ''">
				AND typeRole = #{typeRole}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
			<if test="description != null and description != ''">
				AND description = #{description}
			</if>
			<if test="code != null and code != ''">
				AND code = #{code}
			</if>
			<if test="value != null and value != ''">
				AND value = #{value}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="amonutLower != null and amonutLower != ''">
				AND amonutLower = #{amonutLower}
			</if>
			<if test="amonutUpper != null and amonutUpper != ''">
				AND amonutUpper = #{amonutUpper}
			</if>
			<if test="typeDate != null and typeDate != ''">
				AND typeDate = #{typeDate}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.searchWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE orderCategoryRule
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="typeRole != null and typeRole != ''">
				typeRole = #{typeRole},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="description != null and description != ''">
				description = #{description},
			</if>
			<if test="code != null and code != ''">
				code = #{code},
			</if>
			<if test="value != null and value != ''">
				value = #{value},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="amonutLower != null">
				amonutLower = #{amonutLower},
			</if>
			<if test="amonutUpper != null">
				amonutUpper = #{amonutUpper},
			</if>
			<if test="typeDate != null and typeDate != ''">
				typeDate = #{typeDate},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="orderCategoryRule">
		SELECT 
			<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.getColumn"/>
			a.id, 
			a.typeRole, 
			a.name, 
			a.description, 
			a.code, 
			a.value, 
			a.remark, 
			a.status, 
			a.amonutLower, 
			a.amonutUpper, 
			a.typeDate, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM orderCategoryRule AS a
		<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="typeRole != null">
				AND a.typeRole = #{typeRole}
			</if>
			<if test="name != null">
				AND a.name = #{name}
			</if>
			<if test="description != null">
				AND a.description = #{description}
			</if>
			<if test="code != null">
				AND a.code = #{code}
			</if>
			<if test="value != null">
				AND a.value = #{value}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="status != null">
				AND a.status = #{status}
			</if>
			<if test="amonutLower != null">
				AND a.amonutLower = #{amonutLower}
			</if>
			<if test="amonutUpper != null">
				AND a.amonutUpper = #{amonutUpper}
			</if>
			<if test="typeDate != null">
				AND a.typeDate = #{typeDate}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.getWhere"/>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="orderCategoryRule">
		SELECT 
			<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.selectColumn"/>
			a.id, 
			a.typeRole, 
			a.name, 
			a.description, 
			a.code, 
			a.value, 
			a.remark, 
			a.status, 
			a.amonutLower, 
			a.amonutUpper, 
			a.typeDate, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM orderCategoryRule AS a
		<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="typeRole != null and typeRole != ''">
				AND a.typeRole = #{typeRole}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="description != null and description != ''">
				AND a.description = #{description}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="value != null and value != ''">
				AND a.value = #{value}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="amonutLower != null and amonutLower != ''">
				AND a.amonutLower = #{amonutLower}
			</if>
			<if test="amonutUpper != null and amonutUpper != ''">
				AND a.amonutUpper = #{amonutUpper}
			</if>
			<if test="typeDate != null and typeDate != ''">
				AND a.typeDate = #{typeDate}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.searchWhere"/>
		</where>
		<if test="group != null">
			GROUP BY ${group}
		</if>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM orderCategoryRule AS a
		<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="typeRole != null and typeRole != ''">
				AND a.typeRole = #{typeRole}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="description != null and description != ''">
				AND a.description = #{description}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="value != null and value != ''">
				AND a.value = #{value}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="amonutLower != null and amonutLower != ''">
				AND a.amonutLower = #{amonutLower}
			</if>
			<if test="amonutUpper != null and amonutUpper != ''">
				AND a.amonutUpper = #{amonutUpper}
			</if>
			<if test="typeDate != null and typeDate != ''">
				AND a.typeDate = #{typeDate}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.OrderCategoryRuleConditionMapper.searchWhere"/>
		</where>
	</select>
</mapper>