<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.PermissionMapper" > 
	<resultMap type="com.mtf.framework.model.impl.PermissionImpl" id="permission"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="permission">
		INSERT INTO permission
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="typePermission != null">
					typePermission,
				</if>
				<if test="typeData != null">
					typeData,
				</if>
				<if test="typeSys != null">
					typeSys,
				</if>
				<if test="type != null">
					type,
				</if>
				<if test="code != null">
					code,
				</if>
				<if test="parentCode != null">
					parentCode,
				</if>
				<if test="level != null">
					level,
				</if>
				<if test="bag != null">
					bag,
				</if>
				<if test="clazz != null">
					clazz,
				</if>
				<if test="method != null">
					method,
				</if>
				<if test="parameter != null">
					parameter,
				</if>
				<if test="parameterVal != null">
					parameterVal,
				</if>
				<if test="skipUrl != null">
					skipUrl,
				</if>
				<if test="value1 != null">
					value1,
				</if>
				<if test="value2 != null">
					value2,
				</if>
				<if test="value3 != null">
					value3,
				</if>
				<if test="value4 != null">
					value4,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="name != null">
					#{name},
				</if>
				<if test="typePermission != null">
					#{typePermission},
				</if>
				<if test="typeData != null">
					#{typeData},
				</if>
				<if test="typeSys != null">
					#{typeSys},
				</if>
				<if test="type != null">
					#{type},
				</if>
				<if test="code != null">
					#{code},
				</if>
				<if test="parentCode != null">
					#{parentCode},
				</if>
				<if test="level != null">
					#{level},
				</if>
				<if test="bag != null">
					#{bag},
				</if>
				<if test="clazz != null">
					#{clazz},
				</if>
				<if test="method != null">
					#{method},
				</if>
				<if test="parameter != null">
					#{parameter},
				</if>
				<if test="parameterVal != null">
					#{parameterVal},
				</if>
				<if test="skipUrl != null">
					#{skipUrl},
				</if>
				<if test="value1 != null">
					#{value1},
				</if>
				<if test="value2 != null">
					#{value2},
				</if>
				<if test="value3 != null">
					#{value3},
				</if>
				<if test="value4 != null">
					#{value4},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM permission
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
			<if test="typePermission != null and typePermission != ''">
				AND typePermission = #{typePermission}
			</if>
			<if test="typeData != null and typeData != ''">
				AND typeData = #{typeData}
			</if>
			<if test="typeSys != null and typeSys != ''">
				AND typeSys = #{typeSys}
			</if>
			<if test="type != null and type != ''">
				AND type = #{type}
			</if>
			<if test="code != null and code != ''">
				AND code = #{code}
			</if>
			<if test="parentCode != null and parentCode != ''">
				AND parentCode = #{parentCode}
			</if>
			<if test="level != null and level != ''">
				AND level = #{level}
			</if>
			<if test="bag != null and bag != ''">
				AND bag = #{bag}
			</if>
			<if test="clazz != null and clazz != ''">
				AND clazz = #{clazz}
			</if>
			<if test="method != null and method != ''">
				AND method = #{method}
			</if>
			<if test="parameter != null and parameter != ''">
				AND parameter = #{parameter}
			</if>
			<if test="parameterVal != null and parameterVal != ''">
				AND parameterVal = #{parameterVal}
			</if>
			<if test="skipUrl != null and skipUrl != ''">
				AND skipUrl = #{skipUrl}
			</if>
			<if test="value1 != null and value1 != ''">
				AND value1 = #{value1}
			</if>
			<if test="value2 != null and value2 != ''">
				AND value2 = #{value2}
			</if>
			<if test="value3 != null and value3 != ''">
				AND value3 = #{value3}
			</if>
			<if test="value4 != null and value4 != ''">
				AND value4 = #{value4}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.PermissionConditionMapper.countWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE permission
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="typePermission != null and typePermission != ''">
				typePermission = #{typePermission},
			</if>
			<if test="typeData != null and typeData != ''">
				typeData = #{typeData},
			</if>
			<if test="typeSys != null and typeSys != ''">
				typeSys = #{typeSys},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="code != null and code != ''">
				code = #{code},
			</if>
			<if test="parentCode != null and parentCode != ''">
				parentCode = #{parentCode},
			</if>
			<if test="level != null and level != ''">
				level = #{level},
			</if>
			<if test="bag != null and bag != ''">
				bag = #{bag},
			</if>
			<if test="clazz != null and clazz != ''">
				clazz = #{clazz},
			</if>
			<if test="method != null and method != ''">
				method = #{method},
			</if>
			<if test="parameter != null and parameter != ''">
				parameter = #{parameter},
			</if>
			<if test="parameterVal != null and parameterVal != ''">
				parameterVal = #{parameterVal},
			</if>
			<if test="skipUrl != null and skipUrl != ''">
				skipUrl = #{skipUrl},
			</if>
			<if test="value1 != null and value1 != ''">
				value1 = #{value1},
			</if>
			<if test="value2 != null and value2 != ''">
				value2 = #{value2},
			</if>
			<if test="value3 != null and value3 != ''">
				value3 = #{value3},
			</if>
			<if test="value4 != null and value4 != ''">
				value4 = #{value4},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.PermissionConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.PermissionConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="permission">
		SELECT 
			<include refid="com.mtf.framework.dao.PermissionConditionMapper.getColumn"/>
			a.id, 
			a.name, 
			a.typePermission, 
			a.typeData, 
			a.typeSys, 
			a.type, 
			a.code, 
			a.parentCode, 
			a.level, 
			a.bag, 
			a.clazz, 
			a.method, 
			a.parameter, 
			a.parameterVal, 
			a.skipUrl, 
			a.value1, 
			a.value2, 
			a.value3, 
			a.value4, 
			a.remark, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM permission AS a
		<include refid="com.mtf.framework.dao.PermissionConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="name != null">
				AND a.name = #{name}
			</if>
			<if test="typePermission != null">
				AND a.typePermission = #{typePermission}
			</if>
			<if test="typeData != null">
				AND a.typeData = #{typeData}
			</if>
			<if test="typeSys != null">
				AND a.typeSys = #{typeSys}
			</if>
			<if test="type != null">
				AND a.type = #{type}
			</if>
			<if test="code != null">
				AND a.code = #{code}
			</if>
			<if test="parentCode != null">
				AND a.parentCode = #{parentCode}
			</if>
			<if test="level != null">
				AND a.level = #{level}
			</if>
			<if test="bag != null">
				AND a.bag = #{bag}
			</if>
			<if test="clazz != null">
				AND a.clazz = #{clazz}
			</if>
			<if test="method != null">
				AND a.method = #{method}
			</if>
			<if test="parameter != null">
				AND a.parameter = #{parameter}
			</if>
			<if test="parameterVal != null">
				AND a.parameterVal = #{parameterVal}
			</if>
			<if test="skipUrl != null">
				AND a.skipUrl = #{skipUrl}
			</if>
			<if test="value1 != null">
				AND a.value1 = #{value1}
			</if>
			<if test="value2 != null">
				AND a.value2 = #{value2}
			</if>
			<if test="value3 != null">
				AND a.value3 = #{value3}
			</if>
			<if test="value4 != null">
				AND a.value4 = #{value4}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.PermissionConditionMapper.getWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="permission">
		SELECT 
			<include refid="com.mtf.framework.dao.PermissionConditionMapper.selectColumn"/>
			a.id, 
			a.name, 
			a.typePermission, 
			a.typeData, 
			a.typeSys, 
			a.type, 
			a.code, 
			a.parentCode, 
			a.level, 
			a.bag, 
			a.clazz, 
			a.method, 
			a.parameter, 
			a.parameterVal, 
			a.skipUrl, 
			a.value1, 
			a.value2, 
			a.value3, 
			a.value4, 
			a.remark, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM permission AS a
		<include refid="com.mtf.framework.dao.PermissionConditionMapper.selectFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="typePermission != null and typePermission != ''">
				AND a.typePermission = #{typePermission}
			</if>
			<if test="typeData != null and typeData != ''">
				AND a.typeData = #{typeData}
			</if>
			<if test="typeSys != null and typeSys != ''">
				AND a.typeSys = #{typeSys}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="parentCode != null and parentCode != ''">
				AND a.parentCode = #{parentCode}
			</if>
			<if test="level != null and level != ''">
				AND a.level = #{level}
			</if>
			<if test="bag != null and bag != ''">
				AND a.bag = #{bag}
			</if>
			<if test="clazz != null and clazz != ''">
				AND a.clazz = #{clazz}
			</if>
			<if test="method != null and method != ''">
				AND a.method = #{method}
			</if>
			<if test="parameter != null and parameter != ''">
				AND a.parameter = #{parameter}
			</if>
			<if test="parameterVal != null and parameterVal != ''">
				AND a.parameterVal = #{parameterVal}
			</if>
			<if test="skipUrl != null and skipUrl != ''">
				AND a.skipUrl = #{skipUrl}
			</if>
			<if test="value1 != null and value1 != ''">
				AND a.value1 = #{value1}
			</if>
			<if test="value2 != null and value2 != ''">
				AND a.value2 = #{value2}
			</if>
			<if test="value3 != null and value3 != ''">
				AND a.value3 = #{value3}
			</if>
			<if test="value4 != null and value4 != ''">
				AND a.value4 = #{value4}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.PermissionConditionMapper.selectWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM permission AS a
		<include refid="com.mtf.framework.dao.PermissionConditionMapper.countFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="typePermission != null and typePermission != ''">
				AND a.typePermission = #{typePermission}
			</if>
			<if test="typeData != null and typeData != ''">
				AND a.typeData = #{typeData}
			</if>
			<if test="typeSys != null and typeSys != ''">
				AND a.typeSys = #{typeSys}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="parentCode != null and parentCode != ''">
				AND a.parentCode = #{parentCode}
			</if>
			<if test="level != null and level != ''">
				AND a.level = #{level}
			</if>
			<if test="bag != null and bag != ''">
				AND a.bag = #{bag}
			</if>
			<if test="clazz != null and clazz != ''">
				AND a.clazz = #{clazz}
			</if>
			<if test="method != null and method != ''">
				AND a.method = #{method}
			</if>
			<if test="parameter != null and parameter != ''">
				AND a.parameter = #{parameter}
			</if>
			<if test="parameterVal != null and parameterVal != ''">
				AND a.parameterVal = #{parameterVal}
			</if>
			<if test="skipUrl != null and skipUrl != ''">
				AND a.skipUrl = #{skipUrl}
			</if>
			<if test="value1 != null and value1 != ''">
				AND a.value1 = #{value1}
			</if>
			<if test="value2 != null and value2 != ''">
				AND a.value2 = #{value2}
			</if>
			<if test="value3 != null and value3 != ''">
				AND a.value3 = #{value3}
			</if>
			<if test="value4 != null and value4 != ''">
				AND a.value4 = #{value4}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.PermissionConditionMapper.countWhere"/>
		</where>
	</select>
</mapper>