<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.PurchaseCommentMapper" > 
	<resultMap type="com.mtf.framework.model.impl.PurchaseCommentImpl" id="purchaseComment"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="purchaseComment">
		INSERT INTO purchaseComment
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="purchaseId != null">
					purchaseId,
				</if>
				<if test="comment != null">
					comment,
				</if>
				<if test="createUserId != null">
					createUserId,
				</if>
				<if test="createUserName != null">
					createUserName,
				</if>
				<if test="createDatetime != null">
					createDatetime,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="purchaseId != null">
					#{purchaseId},
				</if>
				<if test="comment != null">
					#{comment},
				</if>
				<if test="createUserId != null">
					#{createUserId},
				</if>
				<if test="createUserName != null">
					#{createUserName},
				</if>
				<if test="createDatetime != null">
					#{createDatetime},
				</if>
			</trim>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM purchaseComment
		WHERE
			id = #{id}
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE purchaseComment
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="purchaseId != null">
				purchaseId = #{purchaseId},
			</if>
			<if test="comment != null">
				comment = #{comment},
			</if>
			<if test="createUserId != null">
				createUserId = #{createUserId},
			</if>
			<if test="createUserName != null">
				createUserName = #{createUserName},
			</if>
			<if test="createDatetime != null">
				createDatetime = #{createDatetime},
			</if>
		</set>
		WHERE
			id = #{id}
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="purchaseComment">
		SELECT 
			id, 
			purchaseId, 
			comment, 
			createUserId, 
			createUserName, 
			createDatetime
		FROM purchaseComment
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="purchaseId != null">
				AND purchaseId = #{purchaseId}
			</if>
			<if test="comment != null">
				AND comment = #{comment}
			</if>
			<if test="createUserId != null">
				AND createUserId = #{createUserId}
			</if>
			<if test="createUserName != null">
				AND createUserName = #{createUserName}
			</if>
			<if test="createDatetime != null">
				AND createDatetime = #{createDatetime}
			</if>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="purchaseComment">
		SELECT 
			id, 
			purchaseId, 
			comment, 
			createUserId, 
			createUserName, 
			createDatetime
		FROM purchaseComment
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="purchaseId != null and purchaseId != ''">
				AND purchaseId = #{purchaseId}
			</if>
			<if test="comment != null and comment != ''">
				AND comment = #{comment}
			</if>
			<if test="createUserId != null and createUserId != ''">
				AND createUserId = #{createUserId}
			</if>
			<if test="createUserName != null and createUserName != ''">
				AND createUserName = #{createUserName}
			</if>
			<if test="createDatetime != null and createDatetime != ''">
				AND createDatetime = #{createDatetime}
			</if>
				ORDER BY createDatetime DESC
		</where>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM purchaseComment
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="purchaseId != null and purchaseId != ''">
				AND purchaseId = #{purchaseId}
			</if>
			<if test="comment != null and comment != ''">
				AND comment = #{comment}
			</if>
			<if test="createUserId != null and createUserId != ''">
				AND createUserId = #{createUserId}
			</if>
			<if test="createUserName != null and createUserName != ''">
				AND createUserName = #{createUserName}
			</if>
			<if test="createDatetime != null and createDatetime != ''">
				AND createDatetime = #{createDatetime}
			</if>
		</where>
	</select>
</mapper>