<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.SysHistoryMapper" > 
	<resultMap type="com.mtf.framework.model.impl.SysHistoryImpl" id="sysHistory"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="sysHistory">
		INSERT INTO sysHistory
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="atomId != null">
					atomId,
				</if>
				<if test="loginName != null">
					loginName,
				</if>
				<if test="displayName != null">
					displayName,
				</if>
				<if test="versionNO != null">
					versionNO,
				</if>
				<if test="userId != null">
					userId,
				</if>
				<if test="userName != null">
					userName,
				</if>
				<if test="type != null">
					type,
				</if>
				<if test="preCodeId != null">
					preCodeId,
				</if>
				<if test="codeId != null">
					codeId,
				</if>
				<if test="tableName != null">
					tableName,
				</if>
				<if test="columnId != null">
					columnId,
				</if>
				<if test="columnIdMain != null">
					columnIdMain,
				</if>
				<if test="columnName != null">
					columnName,
				</if>
				<if test="modifyOrder != null">
					modifyOrder,
				</if>
				<if test="preId != null">
					preId,
				</if>
				<if test="aftId != null">
					aftId,
				</if>
				<if test="preText != null">
					preText,
				</if>
				<if test="aftText != null">
					aftText,
				</if>
				<if test="log != null">
					log,
				</if>
				<if test="logDate != null">
					logDate,
				</if>
				<if test="currentFlag != null">
					currentFlag,
				</if>
				<if test="recordPre != null">
					recordPre,
				</if>
				<if test="recordCurrent != null">
					recordCurrent,
				</if>
				<if test="record != null">
					record,
				</if>
				<if test="atcion != null">
					atcion,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="addMac != null">
					addMac,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
				<if test="modifiedMac != null">
					modifiedMac,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="atomId != null">
					#{atomId},
				</if>
				<if test="loginName != null">
					#{loginName},
				</if>
				<if test="displayName != null">
					#{displayName},
				</if>
				<if test="versionNO != null">
					#{versionNO},
				</if>
				<if test="userId != null">
					#{userId},
				</if>
				<if test="userName != null">
					#{userName},
				</if>
				<if test="type != null">
					#{type},
				</if>
				<if test="preCodeId != null">
					#{preCodeId},
				</if>
				<if test="codeId != null">
					#{codeId},
				</if>
				<if test="tableName != null">
					#{tableName},
				</if>
				<if test="columnId != null">
					#{columnId},
				</if>
				<if test="columnIdMain != null">
					#{columnIdMain},
				</if>
				<if test="columnName != null">
					#{columnName},
				</if>
				<if test="modifyOrder != null">
					#{modifyOrder},
				</if>
				<if test="preId != null">
					#{preId},
				</if>
				<if test="aftId != null">
					#{aftId},
				</if>
				<if test="preText != null">
					#{preText},
				</if>
				<if test="aftText != null">
					#{aftText},
				</if>
				<if test="log != null">
					#{log},
				</if>
				<if test="logDate != null">
					#{logDate},
				</if>
				<if test="currentFlag != null">
					#{currentFlag},
				</if>
				<if test="recordPre != null">
					#{recordPre},
				</if>
				<if test="recordCurrent != null">
					#{recordCurrent},
				</if>
				<if test="record != null">
					#{record},
				</if>
				<if test="atcion != null">
					#{atcion},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="addMac != null">
					#{addMac},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
				<if test="modifiedMac != null">
					#{modifiedMac},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM sysHistory
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="atomId != null and atomId != ''">
				AND atomId = #{atomId}
			</if>
			<if test="loginName != null and loginName != ''">
				AND loginName = #{loginName}
			</if>
			<if test="displayName != null and displayName != ''">
				AND displayName = #{displayName}
			</if>
			<if test="versionNO != null and versionNO != ''">
				AND versionNO = #{versionNO}
			</if>
			<if test="userId != null and userId != ''">
				AND userId = #{userId}
			</if>
			<if test="userName != null and userName != ''">
				AND userName = #{userName}
			</if>
			<if test="type != null and type != ''">
				AND type = #{type}
			</if>
			<if test="preCodeId != null and preCodeId != ''">
				AND preCodeId = #{preCodeId}
			</if>
			<if test="codeId != null and codeId != ''">
				AND codeId = #{codeId}
			</if>
			<if test="tableName != null and tableName != ''">
				AND tableName = #{tableName}
			</if>
			<if test="columnId != null and columnId != ''">
				AND columnId = #{columnId}
			</if>
			<if test="columnIdMain != null and columnIdMain != ''">
				AND columnIdMain = #{columnIdMain}
			</if>
			<if test="columnName != null and columnName != ''">
				AND columnName = #{columnName}
			</if>
			<if test="modifyOrder != null and modifyOrder != ''">
				AND modifyOrder = #{modifyOrder}
			</if>
			<if test="preId != null and preId != ''">
				AND preId = #{preId}
			</if>
			<if test="aftId != null and aftId != ''">
				AND aftId = #{aftId}
			</if>
			<if test="preText != null and preText != ''">
				AND preText = #{preText}
			</if>
			<if test="aftText != null and aftText != ''">
				AND aftText = #{aftText}
			</if>
			<if test="log != null and log != ''">
				AND log = #{log}
			</if>
			<if test="logDate != null and logDate != ''">
				AND logDate = #{logDate}
			</if>
			<if test="currentFlag != null and currentFlag != ''">
				AND currentFlag = #{currentFlag}
			</if>
			<if test="recordPre != null and recordPre != ''">
				AND recordPre = #{recordPre}
			</if>
			<if test="recordCurrent != null and recordCurrent != ''">
				AND recordCurrent = #{recordCurrent}
			</if>
			<if test="record != null and record != ''">
				AND record = #{record}
			</if>
			<if test="atcion != null and atcion != ''">
				AND atcion = #{atcion}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="addMac != null and addMac != ''">
				AND addMac = #{addMac}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<if test="modifiedMac != null and modifiedMac != ''">
				AND modifiedMac = #{modifiedMac}
			</if>
			<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.searchWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE sysHistory
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="atomId != null and atomId != ''">
				atomId = #{atomId},
			</if>
			<if test="loginName != null and loginName != ''">
				loginName = #{loginName},
			</if>
			<if test="displayName != null and displayName != ''">
				displayName = #{displayName},
			</if>
			<if test="versionNO != null and versionNO != ''">
				versionNO = #{versionNO},
			</if>
			<if test="userId != null and userId != ''">
				userId = #{userId},
			</if>
			<if test="userName != null and userName != ''">
				userName = #{userName},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="preCodeId != null and preCodeId != ''">
				preCodeId = #{preCodeId},
			</if>
			<if test="codeId != null and codeId != ''">
				codeId = #{codeId},
			</if>
			<if test="tableName != null and tableName != ''">
				tableName = #{tableName},
			</if>
			<if test="columnId != null and columnId != ''">
				columnId = #{columnId},
			</if>
			<if test="columnIdMain != null and columnIdMain != ''">
				columnIdMain = #{columnIdMain},
			</if>
			<if test="columnName != null and columnName != ''">
				columnName = #{columnName},
			</if>
			<if test="modifyOrder != null and modifyOrder != ''">
				modifyOrder = #{modifyOrder},
			</if>
			<if test="preId != null and preId != ''">
				preId = #{preId},
			</if>
			<if test="aftId != null and aftId != ''">
				aftId = #{aftId},
			</if>
			<if test="preText != null and preText != ''">
				preText = #{preText},
			</if>
			<if test="aftText != null and aftText != ''">
				aftText = #{aftText},
			</if>
			<if test="log != null and log != ''">
				log = #{log},
			</if>
			<if test="logDate != null and logDate != ''">
				logDate = #{logDate},
			</if>
			<if test="currentFlag != null and currentFlag != ''">
				currentFlag = #{currentFlag},
			</if>
			<if test="recordPre != null and recordPre != ''">
				recordPre = #{recordPre},
			</if>
			<if test="recordCurrent != null and recordCurrent != ''">
				recordCurrent = #{recordCurrent},
			</if>
			<if test="record != null and record != ''">
				record = #{record},
			</if>
			<if test="atcion != null and atcion != ''">
				atcion = #{atcion},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="addMac != null and addMac != ''">
				addMac = #{addMac},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<if test="modifiedMac != null and modifiedMac != ''">
				modifiedMac = #{modifiedMac},
			</if>
			<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="sysHistory">
		SELECT 
			<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.getColumn"/>
			a.id, 
			a.atomId, 
			a.loginName, 
			a.displayName, 
			a.versionNO, 
			a.userId, 
			a.userName, 
			a.type, 
			a.preCodeId, 
			a.codeId, 
			a.tableName, 
			a.columnId, 
			a.columnIdMain, 
			a.columnName, 
			a.modifyOrder, 
			a.preId, 
			a.aftId, 
			a.preText, 
			a.aftText, 
			a.log, 
			a.logDate, 
			a.currentFlag, 
			a.recordPre, 
			a.recordCurrent, 
			a.record, 
			a.atcion, 
			a.remark, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.addMac, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp, 
			a.modifiedMac
		FROM sysHistory AS a
		<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="atomId != null">
				AND a.atomId = #{atomId}
			</if>
			<if test="loginName != null">
				AND a.loginName = #{loginName}
			</if>
			<if test="displayName != null">
				AND a.displayName = #{displayName}
			</if>
			<if test="versionNO != null">
				AND a.versionNO = #{versionNO}
			</if>
			<if test="userId != null">
				AND a.userId = #{userId}
			</if>
			<if test="userName != null">
				AND a.userName = #{userName}
			</if>
			<if test="type != null">
				AND a.type = #{type}
			</if>
			<if test="preCodeId != null">
				AND a.preCodeId = #{preCodeId}
			</if>
			<if test="codeId != null">
				AND a.codeId = #{codeId}
			</if>
			<if test="tableName != null">
				AND a.tableName = #{tableName}
			</if>
			<if test="columnId != null">
				AND a.columnId = #{columnId}
			</if>
			<if test="columnIdMain != null">
				AND a.columnIdMain = #{columnIdMain}
			</if>
			<if test="columnName != null">
				AND a.columnName = #{columnName}
			</if>
			<if test="modifyOrder != null">
				AND a.modifyOrder = #{modifyOrder}
			</if>
			<if test="preId != null">
				AND a.preId = #{preId}
			</if>
			<if test="aftId != null">
				AND a.aftId = #{aftId}
			</if>
			<if test="preText != null">
				AND a.preText = #{preText}
			</if>
			<if test="aftText != null">
				AND a.aftText = #{aftText}
			</if>
			<if test="log != null">
				AND a.log = #{log}
			</if>
			<if test="logDate != null">
				AND a.logDate = #{logDate}
			</if>
			<if test="currentFlag != null">
				AND a.currentFlag = #{currentFlag}
			</if>
			<if test="recordPre != null">
				AND a.recordPre = #{recordPre}
			</if>
			<if test="recordCurrent != null">
				AND a.recordCurrent = #{recordCurrent}
			</if>
			<if test="record != null">
				AND a.record = #{record}
			</if>
			<if test="atcion != null">
				AND a.atcion = #{atcion}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="addMac != null">
				AND a.addMac = #{addMac}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<if test="modifiedMac != null">
				AND a.modifiedMac = #{modifiedMac}
			</if>
			<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.getWhere"/>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="sysHistory">
		SELECT 
			<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.selectColumn"/>
			a.id, 
			a.atomId, 
			a.loginName, 
			a.displayName, 
			a.versionNO, 
			a.userId, 
			a.userName, 
			a.type, 
			a.preCodeId, 
			a.codeId, 
			a.tableName, 
			a.columnId, 
			a.columnIdMain, 
			a.columnName, 
			a.modifyOrder, 
			a.preId, 
			a.aftId, 
			a.preText, 
			a.aftText, 
			a.log, 
			a.logDate, 
			a.currentFlag, 
			a.recordPre, 
			a.recordCurrent, 
			a.record, 
			a.atcion, 
			a.remark, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.addMac, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp, 
			a.modifiedMac
		FROM sysHistory AS a
		<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="atomId != null and atomId != ''">
				AND a.atomId = #{atomId}
			</if>
			<if test="loginName != null and loginName != ''">
				AND a.loginName = #{loginName}
			</if>
			<if test="displayName != null and displayName != ''">
				AND a.displayName = #{displayName}
			</if>
			<if test="versionNO != null and versionNO != ''">
				AND a.versionNO = #{versionNO}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="userName != null and userName != ''">
				AND a.userName = #{userName}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="preCodeId != null and preCodeId != ''">
				AND a.preCodeId = #{preCodeId}
			</if>
			<if test="codeId != null and codeId != ''">
				AND a.codeId = #{codeId}
			</if>
			<if test="tableName != null and tableName != ''">
				AND a.tableName = #{tableName}
			</if>
			<if test="columnId != null and columnId != ''">
				AND a.columnId = #{columnId}
			</if>
			<if test="columnIdMain != null and columnIdMain != ''">
				AND a.columnIdMain = #{columnIdMain}
			</if>
			<if test="columnName != null and columnName != ''">
				AND a.columnName = #{columnName}
			</if>
			<if test="modifyOrder != null and modifyOrder != ''">
				AND a.modifyOrder = #{modifyOrder}
			</if>
			<if test="preId != null and preId != ''">
				AND a.preId = #{preId}
			</if>
			<if test="aftId != null and aftId != ''">
				AND a.aftId = #{aftId}
			</if>
			<if test="preText != null and preText != ''">
				AND a.preText = #{preText}
			</if>
			<if test="aftText != null and aftText != ''">
				AND a.aftText = #{aftText}
			</if>
			<if test="log != null and log != ''">
				AND a.log = #{log}
			</if>
			<if test="logDate != null and logDate != ''">
				AND a.logDate = #{logDate}
			</if>
			<if test="currentFlag != null and currentFlag != ''">
				AND a.currentFlag = #{currentFlag}
			</if>
			<if test="recordPre != null and recordPre != ''">
				AND a.recordPre = #{recordPre}
			</if>
			<if test="recordCurrent != null and recordCurrent != ''">
				AND a.recordCurrent = #{recordCurrent}
			</if>
			<if test="record != null and record != ''">
				AND a.record = #{record}
			</if>
			<if test="atcion != null and atcion != ''">
				AND a.atcion = #{atcion}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="addMac != null and addMac != ''">
				AND a.addMac = #{addMac}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<if test="modifiedMac != null and modifiedMac != ''">
				AND a.modifiedMac = #{modifiedMac}
			</if>
			<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.searchWhere"/>
		</where>
		<if test="group != null">
			GROUP BY ${group}
		</if>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM sysHistory AS a
		<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.searchFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="atomId != null and atomId != ''">
				AND a.atomId = #{atomId}
			</if>
			<if test="loginName != null and loginName != ''">
				AND a.loginName = #{loginName}
			</if>
			<if test="displayName != null and displayName != ''">
				AND a.displayName = #{displayName}
			</if>
			<if test="versionNO != null and versionNO != ''">
				AND a.versionNO = #{versionNO}
			</if>
			<if test="userId != null and userId != ''">
				AND a.userId = #{userId}
			</if>
			<if test="userName != null and userName != ''">
				AND a.userName = #{userName}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="preCodeId != null and preCodeId != ''">
				AND a.preCodeId = #{preCodeId}
			</if>
			<if test="codeId != null and codeId != ''">
				AND a.codeId = #{codeId}
			</if>
			<if test="tableName != null and tableName != ''">
				AND a.tableName = #{tableName}
			</if>
			<if test="columnId != null and columnId != ''">
				AND a.columnId = #{columnId}
			</if>
			<if test="columnIdMain != null and columnIdMain != ''">
				AND a.columnIdMain = #{columnIdMain}
			</if>
			<if test="columnName != null and columnName != ''">
				AND a.columnName = #{columnName}
			</if>
			<if test="modifyOrder != null and modifyOrder != ''">
				AND a.modifyOrder = #{modifyOrder}
			</if>
			<if test="preId != null and preId != ''">
				AND a.preId = #{preId}
			</if>
			<if test="aftId != null and aftId != ''">
				AND a.aftId = #{aftId}
			</if>
			<if test="preText != null and preText != ''">
				AND a.preText = #{preText}
			</if>
			<if test="aftText != null and aftText != ''">
				AND a.aftText = #{aftText}
			</if>
			<if test="log != null and log != ''">
				AND a.log = #{log}
			</if>
			<if test="logDate != null and logDate != ''">
				AND a.logDate = #{logDate}
			</if>
			<if test="currentFlag != null and currentFlag != ''">
				AND a.currentFlag = #{currentFlag}
			</if>
			<if test="recordPre != null and recordPre != ''">
				AND a.recordPre = #{recordPre}
			</if>
			<if test="recordCurrent != null and recordCurrent != ''">
				AND a.recordCurrent = #{recordCurrent}
			</if>
			<if test="record != null and record != ''">
				AND a.record = #{record}
			</if>
			<if test="atcion != null and atcion != ''">
				AND a.atcion = #{atcion}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="addMac != null and addMac != ''">
				AND a.addMac = #{addMac}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<if test="modifiedMac != null and modifiedMac != ''">
				AND a.modifiedMac = #{modifiedMac}
			</if>
			<include refid="com.mtf.framework.dao.SysHistoryConditionMapper.searchWhere"/>
		</where>
	</select>
</mapper>