<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtf.framework.dao.User2RoleMapper">
	<resultMap id="BaseResultMap" type="User2Role">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="userId" property="userId" jdbcType="CHAR" />
		<result column="roleId" property="roleId" jdbcType="CHAR" />
		<result column="mainIndex" property="roleId" jdbcType="CHAR" />
		<result column="level" property="level" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userId, roleId, mainIndex
	</sql>
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM userRole
		WHERE id = #{id,jdbcType=CHAR}
	</select>
	
	<select id="selectMainRole" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		role.level,
		userRole.id, 
		userRole.userId, 
		userRole.roleId, 
		userRole.mainIndex
		FROM userRole
		LEFT JOIN role ON role.id = userRole.roleId
		WHERE userRole.userId = #{userId}
		AND
		mainIndex = 1
		LIMIT 1
	</select>
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM userRole
		WHERE id = #{id,jdbcType=CHAR}
	</delete>
	<delete id="deleteByUserId" parameterType="java.lang.String">
		DELETE FROM userRole
		WHERE userId = #{userId,jdbcType=CHAR}
	</delete>
	<delete id="deleteByRoleId" parameterType="java.lang.String">
		DELETE FROM userRole
		WHERE roleId = #{roleId,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="User2Role">
		INSERT INTO userRole (id, userId, roleId, mainIndex)
		VALUES (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{roleId,jdbcType=CHAR}, #{mainIndex,jdbcType=CHAR})
	</insert>
	<update id="updateById" parameterType="User2Role">
		UPDATE userRole
		SET userId = #{userId,jdbcType=CHAR},
		roleId = #{roleId,jdbcType=CHAR},
		mainIndex = #{mainIndex,jdbcType=CHAR}
		WHERE id = #{id,jdbcType=CHAR}
	</update>
</mapper>