<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.UserQuestionMapper" > 
	<resultMap type="com.mtf.framework.model.impl.UserQuestionImpl" id="userQuestion"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="userQuestion">
		INSERT INTO userQuestion
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="quesId != null">
					quesId,
				</if>
				<if test="questionId != null">
					questionId,
				</if>
				<if test="result != null">
					result,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="status != null">
					status,
				</if>
				<if test="userId != null">
					userId,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="modifyDate != null">
					modifyDate,
				</if>
				<if test="modifyIp != null">
					modifyIp,
				</if>
				<if test="modifyUser != null">
					modifyUser,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="quesId != null">
					#{quesId},
				</if>
				<if test="questionId != null">
					#{questionId},
				</if>
				<if test="result != null">
					#{result},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="status != null">
					#{status},
				</if>
				<if test="userId != null">
					#{userId},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="modifyDate != null">
					#{modifyDate},
				</if>
				<if test="modifyIp != null">
					#{modifyIp},
				</if>
				<if test="modifyUser != null">
					#{modifyUser},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM userQuestion
		WHERE
			id = #{id}
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE userQuestion
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="quesId != null">
				quesId = #{quesId},
			</if>
			<if test="questionId != null">
				questionId = #{questionId},
			</if>
			<if test="result != null">
				result = #{result},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="userId != null">
				userId = #{userId},
			</if>
			<if test="addDate != null">
				addDate = #{addDate},
			</if>
			<if test="addIp != null">
				addIp = #{addIp},
			</if>
			<if test="addUser != null">
				addUser = #{addUser},
			</if>
			<if test="modifyDate != null">
				modifyDate = #{modifyDate},
			</if>
			<if test="modifyIp != null">
				modifyIp = #{modifyIp},
			</if>
			<if test="modifyUser != null">
				modifyUser = #{modifyUser},
			</if>
		</set>
		WHERE
			id = #{id}
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="userQuestion">
		SELECT 
			id, 
			quesId, 
			questionId, 
			result, 
			remark, 
			status, 
			userId, 
			addDate, 
			addIp, 
			addUser, 
			modifyDate, 
			modifyIp, 
			modifyUser
		FROM userQuestion
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="quesId != null">
				AND quesId = #{quesId}
			</if>
			<if test="questionId != null">
				AND questionId = #{questionId}
			</if>
			<if test="result != null">
				AND result = #{result}
			</if>
			<if test="remark != null">
				AND remark = #{remark}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="userId != null">
				AND userId = #{userId}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="addIp != null">
				AND addIp = #{addIp}
			</if>
			<if test="addUser != null">
				AND addUser = #{addUser}
			</if>
			<if test="modifyDate != null">
				AND modifyDate = #{modifyDate}
			</if>
			<if test="modifyIp != null">
				AND modifyIp = #{modifyIp}
			</if>
			<if test="modifyUser != null">
				AND modifyUser = #{modifyUser}
			</if>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="userQuestion">
		SELECT 
			id, 
			quesId, 
			questionId, 
			result, 
			remark, 
			status, 
			userId, 
			addDate, 
			addIp, 
			addUser, 
			modifyDate, 
			modifyIp, 
			modifyUser
		FROM userQuestion
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="quesId != null">
				AND quesId = #{quesId}
			</if>
			<if test="questionId != null">
				AND questionId = #{questionId}
			</if>
			<if test="result != null">
				AND result = #{result}
			</if>
			<if test="remark != null">
				AND remark = #{remark}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="userId != null">
				AND userId = #{userId}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="addIp != null">
				AND addIp = #{addIp}
			</if>
			<if test="addUser != null">
				AND addUser = #{addUser}
			</if>
			<if test="modifyDate != null">
				AND modifyDate = #{modifyDate}
			</if>
			<if test="modifyIp != null">
				AND modifyIp = #{modifyIp}
			</if>
			<if test="modifyUser != null">
				AND modifyUser = #{modifyUser}
			</if>
			<if test="sort != null">
				ORDER BY ${sort} ${order}
			</if>
		</where>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM userQuestion
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="quesId != null">
				AND quesId = #{quesId}
			</if>
			<if test="questionId != null">
				AND questionId = #{questionId}
			</if>
			<if test="result != null">
				AND result = #{result}
			</if>
			<if test="remark != null">
				AND remark = #{remark}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="userId != null">
				AND userId = #{userId}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="addIp != null">
				AND addIp = #{addIp}
			</if>
			<if test="addUser != null">
				AND addUser = #{addUser}
			</if>
			<if test="modifyDate != null">
				AND modifyDate = #{modifyDate}
			</if>
			<if test="modifyIp != null">
				AND modifyIp = #{modifyIp}
			</if>
			<if test="modifyUser != null">
				AND modifyUser = #{modifyUser}
			</if>
		</where>
	</select>
</mapper>