<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.framework.dao.UserInforMapper" > 
	<resultMap type="com.mtf.framework.model.impl.UserInforImpl" id="userInfor"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="userInfor">
		INSERT INTO userInfor
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="pid != null">
					pid,
				</if>
				<if test="code != null">
					code,
				</if>
				<if test="codeDetail != null">
					codeDetail,
				</if>
				<if test="name != null">
					name,
				</if>
				<if test="nameEng != null">
					nameEng,
				</if>
				<if test="type != null">
					type,
				</if>
				<if test="typeSystem != null">
					typeSystem,
				</if>
				<if test="status != null">
					status,
				</if>
				<if test="flag != null">
					flag,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="orderIndex != null">
					orderIndex,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="pid != null">
					#{pid},
				</if>
				<if test="code != null">
					#{code},
				</if>
				<if test="codeDetail != null">
					#{codeDetail},
				</if>
				<if test="name != null">
					#{name},
				</if>
				<if test="nameEng != null">
					#{nameEng},
				</if>
				<if test="type != null">
					#{type},
				</if>
				<if test="typeSystem != null">
					#{typeSystem},
				</if>
				<if test="status != null">
					#{status},
				</if>
				<if test="flag != null">
					#{flag},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="orderIndex != null">
					#{orderIndex},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM userInfor
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>
			<if test="pid != null and pid != ''">
				AND pid = #{pid}
			</if>
			<if test="code != null and code != ''">
				AND code = #{code}
			</if>
			<if test="codeDetail != null and codeDetail != ''">
				AND codeDetail = #{codeDetail}
			</if>
			<if test="name != null and name != ''">
				AND name = #{name}
			</if>
			<if test="nameEng != null and nameEng != ''">
				AND nameEng = #{nameEng}
			</if>
			<if test="type != null and type != ''">
				AND type = #{type}
			</if>
			<if test="typeSystem != null and typeSystem != ''">
				AND typeSystem = #{typeSystem}
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="flag != null and flag != ''">
				AND flag = #{flag}
			</if>
			<if test="remark != null and remark != ''">
				AND remark = #{remark}
			</if>
			<if test="orderIndex != null and orderIndex != ''">
				AND orderIndex = #{orderIndex}
			</if>
			<if test="addDate != null and addDate != ''">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.UserInforConditionMapper.countWhere"/>
		</where>
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE userInfor
		<set>
			<if test="id != null and id != ''">
				id = #{id},
			</if>
			<if test="pid != null and pid != ''">
				pid = #{pid},
			</if>
			<if test="code != null and code != ''">
				code = #{code},
			</if>
			<if test="codeDetail != null and codeDetail != ''">
				codeDetail = #{codeDetail},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="nameEng != null and nameEng != ''">
				nameEng = #{nameEng},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="typeSystem != null and typeSystem != ''">
				typeSystem = #{typeSystem},
			</if>
			<if test="status != null and status != ''">
				status = #{status},
			</if>
			<if test="flag != null and flag != ''">
				flag = #{flag},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="orderIndex != null and orderIndex != ''">
				orderIndex = #{orderIndex},
			</if>
			<if test="addDate != null and addDate != ''">
				addDate = #{addDate},
			</if>
			<if test="addUser != null and addUser != ''">
				addUser = #{addUser},
			</if>
			<if test="addIp != null and addIp != ''">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				modifiedIp = #{modifiedIp},
			</if>
			<include refid="com.mtf.framework.dao.UserInforConditionMapper.updateColumn"/>
		</set>
		WHERE
			<include refid="com.mtf.framework.dao.UserInforConditionMapper.updateWhere"/>
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="userInfor">
		SELECT 
			<include refid="com.mtf.framework.dao.UserInforConditionMapper.getColumn"/>
			a.id, 
			a.pid, 
			a.code, 
			a.codeDetail, 
			a.name, 
			a.nameEng, 
			a.type, 
			a.typeSystem, 
			a.status, 
			a.flag, 
			a.remark, 
			a.orderIndex, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM userInfor AS a
		<include refid="com.mtf.framework.dao.UserInforConditionMapper.getFrom"/>
		<where>
			<if test="id != null">
				AND a.id = #{id}
			</if>
			<if test="pid != null">
				AND a.pid = #{pid}
			</if>
			<if test="code != null">
				AND a.code = #{code}
			</if>
			<if test="codeDetail != null">
				AND a.codeDetail = #{codeDetail}
			</if>
			<if test="name != null">
				AND a.name = #{name}
			</if>
			<if test="nameEng != null">
				AND a.nameEng = #{nameEng}
			</if>
			<if test="type != null">
				AND a.type = #{type}
			</if>
			<if test="typeSystem != null">
				AND a.typeSystem = #{typeSystem}
			</if>
			<if test="status != null">
				AND a.status = #{status}
			</if>
			<if test="flag != null">
				AND a.flag = #{flag}
			</if>
			<if test="remark != null">
				AND a.remark = #{remark}
			</if>
			<if test="orderIndex != null">
				AND a.orderIndex = #{orderIndex}
			</if>
			<if test="addDate != null">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.UserInforConditionMapper.getWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY ${sort} ${order}
		</if>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="userInfor">
		SELECT 
			<include refid="com.mtf.framework.dao.UserInforConditionMapper.selectColumn"/>
			a.id, 
			a.pid, 
			a.code, 
			a.codeDetail, 
			a.name, 
			a.nameEng, 
			a.type, 
			a.typeSystem, 
			a.status, 
			a.flag, 
			a.remark, 
			a.orderIndex, 
			a.addDate, 
			a.addUser, 
			a.addIp, 
			a.modifiedDate, 
			a.modifiedUser, 
			a.modifiedIp
		FROM userInfor AS a
		<include refid="com.mtf.framework.dao.UserInforConditionMapper.selectFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="pid != null and pid != ''">
				AND a.pid = #{pid}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="codeDetail != null and codeDetail != ''">
				AND a.codeDetail = #{codeDetail}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="nameEng != null and nameEng != ''">
				AND a.nameEng = #{nameEng}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="typeSystem != null and typeSystem != ''">
				AND a.typeSystem = #{typeSystem}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="flag != null and flag != ''">
				AND a.flag = #{flag}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="orderIndex != null and orderIndex != ''">
				AND a.orderIndex = #{orderIndex}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.UserInforConditionMapper.selectWhere"/>
		</where>
		<if test="sort != null">
			ORDER BY a.${sort} ${order}
		</if>
		<if test="rows != 0">
			LIMIT ${startIndex}, ${rows}
		</if>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM userInfor AS a
		<include refid="com.mtf.framework.dao.UserInforConditionMapper.countFrom"/>
		<where>
			<if test="id != null and id != ''">
				AND a.id = #{id}
			</if>
			<if test="pid != null and pid != ''">
				AND a.pid = #{pid}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="codeDetail != null and codeDetail != ''">
				AND a.codeDetail = #{codeDetail}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="nameEng != null and nameEng != ''">
				AND a.nameEng = #{nameEng}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="typeSystem != null and typeSystem != ''">
				AND a.typeSystem = #{typeSystem}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="flag != null and flag != ''">
				AND a.flag = #{flag}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="orderIndex != null and orderIndex != ''">
				AND a.orderIndex = #{orderIndex}
			</if>
			<if test="addDate != null and addDate != ''">
				AND a.addDate = #{addDate}
			</if>
			<if test="addUser != null and addUser != ''">
				AND a.addUser = #{addUser}
			</if>
			<if test="addIp != null and addIp != ''">
				AND a.addIp = #{addIp}
			</if>
			<if test="modifiedDate != null and modifiedDate != ''">
				AND a.modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null and modifiedUser != ''">
				AND a.modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null and modifiedIp != ''">
				AND a.modifiedIp = #{modifiedIp}
			</if>
			<include refid="com.mtf.framework.dao.UserInforConditionMapper.countWhere"/>
		</where>
	</select>
</mapper>